{% extends '::simreg.html.twig' %}

{% block body -%}
    <div id="main">
        <div class="header">
            <form action="" method="get">
                <div>
                    <div class="col-lg-8">
                        <span>Select Log file:</span>
                        <div class="inline">
                           <select class="form-control" name="p" onchange="this.form.submit()"> 
                            {% for f in files %}
                                <option value="{{f['name']}}" {{file == f['name'] ? 'selected' : ''}}>{{f['name']}}</option>
                            {% endfor %}
                           </select> 
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <span>Display Lines:</span>
                        <div class="inline">
                            <select class="form-control" name="lines" onchange="this.form.submit()">
                                <option value="10" {{lines == '10' ? 'selected' : ''}}>10</option>
                                <option value="50" {{lines == '50' ? 'selected' : ''}}>50</option>
                                <option value="100" {{lines == '100' ? 'selected' : ''}}>100</option>
                                <option value="500" {{lines == '500' ? 'selected' : ''}}>500</option>
                                <option value="1000" {{lines == '1000' ? 'selected' : ''}}>1000</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            
        </div>
        <div class="row" style="text-align: center; border-bottom:1px solid #A3A3A3; padding-bottom: 6px; margin-bottom:12px;"></div>
        <h4>The last {{ lines }} lines of {{ file }}.</h4>
        <div class="content">
            <code>
                <pre class="logs_pre_code">
                    <ol>
                           {{ output | raw }}
                    </ol>
                </pre>
            </code>
        </div>
    </div>

        {% endblock %}
