{% extends '::simreg_actions.html.twig' %}

{% block body -%}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row dynamic_form_container">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="col-lg-12">
                            <div class="row" style="">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <form action='track_registration' method="POST">
                                        <div class="col-md-4" style="float: right;">
                                            <button id="filter_button" class="btn medium bg-blue" style="height:32px;">
                                                <span class="button-content"><i class="fa fa-search"></i> Track Customer</span>
                                            </button>
                                        </div>

                                        <div class="col-md-8" style="float:right; ">
                                            <div class="" style="overflow: auto">
                                                <input class="form-control" name="customer_number" id="customer_number" placeholder="enter customer's MSISDN" />
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row" style="text-align: center; border-bottom:1px solid #A3A3A3; padding-bottom: 6px; margin-bottom:12px;"></div>
                            <div class="clearfix"></div>
                            <!-- **************************************************************************************** -->
                            <div class="row">
                                {% if data is defined %}
                                    {% if data|length > 0 %}
                                        {% for registration in data %}
                                            <div>
                                                <h3>Registration Details:</h3>
                                                <div><span><strong>Registration#: </strong></span><span>{{ registration.id|e }}</span></div>
                                                <div><span><strong>Registration Date: </strong></span><span>{{ registration.createdDate|e }}</span></div>
                                                <div><span><strong>MSISDN: </strong></span><span>{{ registration.msisdn|e }}</span></div>
                                                <div><span><strong>Full Name: </strong></span><span>{{ registration.firstName|e }} {{ registration.middleName|e }} {{ registration.lastName|e }}</span></div>
                                                <div><span><strong>ID Type: </strong></span><span>{{ registration.identificationType|e }}</span></div>
                                                <div><span><strong>ID Number: </strong></span><span>{{ registration.identification|e }}</span></div>
                                                <div><span><strong>Region: </strong></span><span>{{ registration.region|e }}</span></div>
                                                <div><span><strong>Territory: </strong></span><span>{{ registration.territory|e }}</span></div>
                                                <div><span><strong>EReg Status: </strong></span><span>{{ registration.msisdn|e }}</span></div>
                                                <div><span><strong>iCAP Status: </strong></span><span>{{ registration.msisdn|e }}</span></div>
                                                <div><span><strong></strong></span><span></span></div>
                                                <div></div>
                                                <div></div>
                                                <div><span><strong></strong></span><span></span></div>
                                                <div><span><strong></strong></span><span></span></div>
                                                <div></div>
                                            </div>
                                            <hr/>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <h3>Device Info:</h3>
                                                    <div><span><strong>Created Time: </strong></span><span>{{ registration.registrationTime|e }}</span></div>
                                                    <div><span><strong>Submitted Time: </strong></span><span>{{ registration.deviceSentTime|e }}</span></div>
                                                    <div><span><strong>Device Type: </strong></span><span>{{ registration.deviceModel|e }}</span></div>
                                                    <div><span><strong>App Version: </strong></span><span>{{ registration.appVersion|e }}</span></div>
                                                    <div><span><strong>OS Version: </strong></span><span>{{ registration.osVersion|e }}</span></div>
                                                </div>
                                                <div class="col-md-4">
                                                    <h3>Platform Time:</h3>
                                                    <div><span><strong>Received Time: </strong></span><span>{{ registration.createdDate|e }}</span></div>
                                                    <div><span><strong>Images Time: </strong></span><span>{{ registration.allimageDate|e }}</span></div>
                                                    <div><span><strong>Operator TREG Time: </strong></span><span>{{ registration.tregDate|e }}</span></div>
                                                    <div><span><strong>Operator FREG Time: </strong></span><span>{{ registration.fregDate|e }}</span></div>
                                                </div>
                                                <div class="col-md-4">
                                                    <h3>Audit & Verification:</h3>
                                                    <div><span><strong>Verified Time: </strong></span><span>{{ registration.verifyDate|e }}</span></div>
                                                    <div><span><strong>Audited Time: </strong></span><span>{{ registration.auditDate|e }}</span></div>
                                                    <div><span><strong>Verified By: </strong></span><span></span></div>
                                                    <div><span><strong>Audited By: </strong></span><span></span></div>
                                                </div>
                                            </div> 
                                        {% endfor %}
                                    {% else %}
                                        <div class="activities_table" ><span>No registration found for customer with msisdn </span><span><strong>{{ app.request.get("customer_number") }}</strong></span></div> 
                                    {% endif %}
                                {% endif %}
                                <div class="over_ly table_loading" style="display:none;text-align:center;margin:50px;">
                                    <img src="{{ asset('assets/img/loader-light.gif') }}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

