{% extends '::simreg_actions.html.twig' %}
  
{% block body -%}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{ title }}</h2>
        </div>
    </div>
    <div class="wrapper wrapper-content">
    <div class="row dynamic_form_container">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <div class="col-lg-12">
                        <div class="row" style="">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <div class="col-md-5" style="float: right;">
                                    <button id="filter_button" class="btn medium bg-blue" style="height:32px;">
                                        <span class="button-content"><i
                                                    class="fa fa-search"></i> Get User Activities</span>
                                    </button>
                                </div>

                                <div class="col-md-7" style="float:right; ">
                                    <div class="" style="overflow: auto">
                                        <input class="form-control" name="search_string" id="search_string"
                                               laceholder="msisdn/username/name"/>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row"
                             style="text-align: center; border-bottom:1px solid #A3A3A3; padding-bottom: 6px; margin-bottom:12px;"></div>
                        <div class="clearfix"></div>
                        <!-- **************************************************************************************** -->

                        <div class="row">
                            <div id="activities_table"></div>
                            {#{% if data is defined %}#}
                            {#{% if data|length > 0 %}#}
                            {#<table class="table table-striped">#}
                            {#<thead>#}
                            {#<tr><th>Date/Time</th><th>User Action</th><th>Description</th><th>Affected User</th><th>Other Info</th></tr>#}
                            {#</thead>#}
                            {#<tbody>#}
                            {#{% for activity in data %}#}
                            {#<tr>#}
                            {#<td>{{ activity.timestamp }}</td>#}
                            {#<td>{{ activity.action }}</td>#}
                            {#<td>{{ activity.description }}</td>#}
                            {#<td>{{ activity.user }}</td>#}
                            {#<td>#}
                            {#{% if activity.metadata and activity.metadata|length > 0 %}#}
                            {#{% for key, metadata in activity.metadata %}#}
                            {#<li>{{ key }}: {{ metadata|e }}</li>#}
                            {#{% endfor %}  #}
                            {#{% endif %}#}
                            {#</td>#}
                            {#</tr>#}
                            {#{% endfor %}#}
                            {#</tbody>#}
                            {#</table>#}
                            {#{% else %}#}
                            {#<div class="activities_table" ><span>No activities found for this user </span><span><strong>{{ app.request.get("search_string") }}</strong></span></div> #}
                            {#{% endif %}  #}
                            {#{% endif %}#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('assets/js/core/diagnosis.js') }}"></script>
    <script>
        $(document).ready(function () {
            loadUserLogs();
        });
    </script>
{% endblock %}