{% extends '::index.html.twig' %}

{% block body %}

    <br><br>
    <div id="page-content" style="min-height: 190px;">
        <div class="row">
            <div class="col-md-3 topSSummary">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Total Biometric</h5>
                    </div>
                    <div class="ibox-content">
                        <p>
                            <small>
                                <small>Total biometric NIDA registrations</small>
                            </small>
                        </p>
                        <h1 class="no-margins" id="total"><span class="fa fa-spinner fa-spin"></span></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 topSSummary">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Pending Info</h5>
                    </div>
                    <div class="ibox-content">
                        <p>
                            <small>
                                <small>Pending biometric NIDA registrations</small>
                            </small>
                        </p>
                        <h1 class="no-margins" id="pending_info"><span class="fa fa-spinner fa-spin"></span></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 topSSummary">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Pending NIDA</h5>
                    </div>
                    <div class="ibox-content">
                        <p>
                            <small>
                                <small>Pending biometric NIDA verification</small>
                            </small>
                        </p>
                        <h1 class="no-margins" id="pending_nida"><span class="fa fa-spinner fa-spin"></span></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 topSSummary">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Accepted NIDA</h5>
                    </div>
                    <div class="ibox-content">
                        <p>
                            <small>
                                <small>Successfully biometric NIDA verifications</small>
                            </small>
                        </p>
                        <h1 class="no-margins" id="verified"><span class="fa fa-spinner fa-spin"></span></h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 topSSummary">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Declined NIDA</h5>
                    </div>
                    <div class="ibox-content">
                        <p>
                            <small>
                                <small>Declined biometric NIDA verifications</small>
                            </small>
                        </p>
                        <h1 class="no-margins" id="declined"><span class="fa fa-spinner fa-spin"></span></h1>
                    </div>
                </div>
            </div>

        </div>

            <div class="panel border-grey">
                <div class="panel-heading">
                    <span class="text-bold text-uppercase panel-title">Registration Graph Summary for the Day </span>
                </div>
                <div class="panel-body">
                    <div class="col-md-8 chartSummaryContainer">
                        <div class="over_ly graph_div"
                             style="text-align:center;margin:50px; padding-top: 30px">
                            <img style="height: 30px; width: 30px;"
                                 src="{{ asset('assets/img/loader-light.gif') }}"/>
                            <p class="text-center" style="padding-top: 15px; font-weight: 200">Please wait,
                                loading</p>
                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>

                </div>
            </div>
        <div class="row">
            <div class="col-md-12">
                <div class="border-grey panel ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Daily Registration Summary</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content ibox-heading">
                        <h3><i class="fa fa-user-plus"></i> Biometric Registration Summary</h3>
                        <small><i class="fa fa-tim"></i> Registrations Done Per Day Summary</small>
                    </div>
                    <div id="regSummary" class="ibox-content">
                        <div class="over_ly table_loading"
                             style="display:none;text-align:center;margin:50px; padding-top: 50px">
                            <img style="height: 30px; width: 30px;"
                                 src="{{ asset('assets/img/loader-light.gif') }}"/>
                            <p class="text-center" style="padding-top: 15px">Please wait, loading</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block stylesheetafter %}
    <style>
        .over_ly img {
            margin: 0 auto;
            display: block;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('assets/jquery.restable.min.css') }}">

{% endblock %}

{% block javascripts %}


    <script type="text/javascript" src="{{ asset('assets/js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/datepicker/daterangepicker.js') }}"></script>

    <script src="{{ asset('assets/js/plugins/chartJs/Chart.min.js') }}"></script>


    <script type="text/javascript">

        var verifierTodayCountURL = "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/biometric/verifier_today_count";
        var startDate = "{{ date_start }}";
        var endDate = "{{ date_today }}";
        var hourlySummaryURL = function (start, end) {
            return "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/biometric/get_hourly_summary/" + start + "/" + end + "";
        };
        var countVerifysummaryURL = function (start, end) {
            return "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/biometric/get_count_summary/" + start + "/" + end + "";
        };

        var verificationTimeURL = function (start, end) {
            return "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/biometric/verification_time/" + start + "/" + end + "";
        };

        getTopSummaryCount(startDate, endDate);

        plotGuageChart(startDate, endDate);

        getRegSummary(startDate, endDate);


        function getTopSummaryCount(start, end) {
            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/biometric/get_count_summary/" + start + "/" + end + "",
                type: "GET",
                dataType: "json",
                success: function (responce) {
                    $("#total").html(responce.total);
                    $("#verified").html(responce.verified);
                    $("#pending_nida").html(responce.unverified);
                    $("#pending_info").html(responce.pending_info);
                    $("#declined").html(responce.declined);

                },
                error: function () {

                    $("#total").html(0);
                    $("#received").html(0);
                    $("#pending_nida").html(0);
                    $("#pending_info").html(0);
                    $("#declined").html(0);
                }
            })
        }

        function plotGuageChart(start, end) {
            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/biometric/verification_time/" + start + "/" + end + "",
                type: "GET",
                dataType: "json",
                success: function (response) {
                    $("#verifyLock").html(response.verifyLock);

                    var data = [
                        {
                            label: "Avarage Verification Time",
                            data: [[0, parseInt(response.verifyLock)]],
                            gauges: {
                                value: {
                                    show: false
                                }
                            }
                        }
                    ];
                    var options = {
                        series: {
                            grow: {
                                active: true,
                                duration: 1500
                            },
                            gauges: {
                                debug: {
                                    log: false,
                                    layout: false
                                },
                                show: true,
                                cell: {
                                    background: {
                                        color: null
                                    },
                                    border: {
                                        show: false,
                                        width: 0
                                    }
                                },
                                shadow: {
                                    show: false
                                },
                                frame: {
                                    show: false
                                },
                                gauge: {
                                    min: 0,
                                    max: 80
                                }
                            },
                            label: {
                                show: true,
                                margin: "auto", // a specified number, or 'auto'
                                background: {
                                    color: null,
                                    opacity: 0
                                },
                                font: {
                                    size: "12px", // a specified number, or 'auto'
                                }
                            }
                        }
                    };

                    $("#placeholderguage").plot(data, options);
                },
                error: function () {
                }
            });
        }

        function getRegSummary(start, end) {

            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/biometric/get_day_summary?start=" + start + "&end=" + end + "",
                type: 'GET',
                dataType: 'json',
                contentType: "application/json",
                complete: function (success) {

                },
                success: function (response) {

                    $('#regSummary').html('');

                    var table = '<table class="table", style="margin-bottom: 0">' +
                            '<thead><tr><th>Date</th><th>Total Biometric</th><th>Pending Info</th><th>Pending NIDA</th><th style="background:#EAF1ED">Accepted NIDA</th><th style="background:rgba(160, 24, 24, 0.24)">Declined NIDA</th><th>Activated</th>' +
                            '</thead><tbody id="regSummaryBody"></tbody></table>';

                    $("#regSummary").append(table);

                    var t = '';

                    for (var i = 0; i < response.length; i++) {
                        var tr = "<tr>";
                        tr += "<td>" + response[i]['date'] + "</td>";
                        tr += "<td>" + response[i]['total'] + "</td>";
                        tr += "<td>" + response[i]['pending'] + "</td>";
                        tr += "<td>" + response[i]['unverified'] + "</td>";
                        tr += "<td style='background:#eee'>" + response[i]['verified'] + "</td>";
                        tr += "<td style='background:rgba(160, 24, 24, 0.24)'>" + response[i]['declined'] + "</td>";
                        tr += "<td>" + response[i]['activated'] + "</td>";
                        tr += "</tr>";
                        t += tr;
                    }

                    document.getElementById("regSummaryBody").innerHTML += t;

                }
            });
        }


        $(document).ready(function () {
            $.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/biometric/get_hourly_summary",
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    $('.graph_div').hide();
                    $('.chartSummaryContainer').append(' <canvas id="lineChart" height="400" style="max-height: 500px !important; width: auto; height: 240px;" width="1000"></canvas>');
                    load_hourly_graph(data);
                }
            });
        });


        function load_hourly_graph(data) {

            var text = [];
            for (index = 0; index < data.length; index++) {

                text.push(parseInt(data[index]));
            }

            // $(".over_ly.graph_div").hide();
            var lineChartData = {
                labels: ["00", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24"],
                datasets: [
                    {
                        label: "Example dataset",
                        fillColor: "rgba(254, 145, 13, 0.68)",
                        strokeColor: "rgba(254, 145, 13, 0.78)",
                        pointColor: "rgba(254, 145, 13, 0.68)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(254, 145, 13, 0.48)",
                        data: text
                    }
                ]

            }

            $(document).ready(function () {
                new Chart(document.getElementById("lineChart").getContext("2d")).Line(lineChartData, {
                    responsive: true,
                    tooltipFillColor: "rgba(51, 51, 51, 0.55)"
                });
            });

        }


    </script>

    <script type="text/javascript">

        $(document).ready(function () {
            var $verifyer_date_startDate = "{{ date_start }}";
            var $verifyer_date_endDate = "{{ date_today }}";
            plotreportAgents($verifyer_date_startDate, $verifyer_date_endDate);

            setInterval(function () {
                var t = $("#reports_search").text(),
                        i = t.split(" - "),
                        $verifyer_date_startDate = $.datepicker.formatDate("yy-mm-dd", new Date(i[0])),
                        $verifyer_date_endDate = $.datepicker.formatDate("yy-mm-dd", new Date(i[1]));
                //   plotreportAgents($verifyer_date_startDate, $verifyer_date_endDate);
            }, 30000);


            var cb = function (start, end, label) {
                //console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
            }

            var optionSet1 = {
                startDate: moment().subtract(1, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: moment().format('DD/MM/YYYY'),
                dateLimit: {
                    days: 460
                },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'left',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            };
            //$('#reportrange span').html(moment().subtract(1, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#reportrange span').html("{{ date_start|date('F d, Y') }} - {{ date_today|date('F d, Y') }}");
            $('#reportrange').daterangepicker(optionSet1, cb);
            $('#reportrange').on('show.daterangepicker', function () {
                //console.log("show event fired");
            });
            $('#reportrange').on('hide.daterangepicker', function () {
                //console.log("hide event fired");
            });
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                //console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
            });
            $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
                //console.log("cancel event fired");
            });
            $('#options1').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
            });
            $('#options2').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
            });
            $('#destroy').click(function () {
                $('#reportrange').data('daterangepicker').remove();
            });
        });


        function plotreportAgents(start, end) {

            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/biometric/verify_daily_report/" + start + "/" + end + "", //This URL is for Json file
                type: "GET",
                dataType: "json",
                success: function (data) {
                    //console.log(data.toString());
                    var num = 0;
                    var total = 0;
                    var append_data = "";
                    $(".over_ly.table_loading").hide();

                    $('.resutlstable').html('');
                    $('.resutlstable').html('<table id="active_a" class="table table-striped table-bordered table-hover"></table>');

                    $('.ttitles').show();
                    $('#active_a').append("<thead style='font-size: 12px;'><tr>\n\
                            <th>#</th><th>Date</th><th>Reg Total</th>\n\
                            <th style='background:#EAF1ED'>Good</th>\n\
                            <th style='background:rgba(160, 24, 24, 0.24);'>Bad</th>\n\
                            </tr></thead><tbody></tbody>");
                    //{"sum_regs":"7","agent_id":9,"agent_names":"HABIB MBULLY","username":"765590928","territory_name":"mtwara","region_name":"Coast","created_on":"2016-03-17"}
                    $.each(data, function (index, val) {
                        num = num + 1;
                        total = parseInt(total) + parseInt(val.count);

                        append_data = "<tr style='height:1px;'>\n\
                                        <td style='padding:2px;'>" + num + "</td>\n\
                                        <td style='text-align:left;' class='ant_td'>" + val.created_on + "</td>\n\
                                        <td class='ant_td'>" + val.sum_total + "</td>\n\\n\
                                        <td class='ant_td' style='background:#EAF1ED'><a href='verify_daily_reports_detail/" + val.created_on + "/1'>" + val.sum_good + "</a></td>\n\
                                        <td class='ant_td' style='background:rgba(160, 24, 24, 0.24);'><a href='verify_daily_reports_detail/" + val.created_on + "/3'>" + val.sum_bad + "</a></td>\n\
                                        </tr>";
                        $(append_data).appendTo($("#active_a tbody"));
                    });

                    //dataTableTableA("active_a");

                },
                error: function () {

                    $('#resutlstable').html("No verification summary found");
                }
            });


        }


    </script>


{% endblock %}


