{{ include('includes/top_header.html.twig') }}
<body class="mini-navbar pace-done">

    <div id="wrapper">

        {{ inRoleVerifier ? '' : include('includes/side_navigation_bar.html.twig') }}
        
        {{ isRoleVerifierSupervisor ? include('includes/verifyer_supervisor_side_navigation_bar.html.twig') : '' }}
        
        {{ isRoleVerifier ? include('includes/verifyer_side_navigation_bar.html.twig') : '' }}

        <div id="page-wrapper" class="gray-bg">
            {{ include('includes/top_nav.html.twig') }}

            {% block body %}{% endblock %}

            {{ include('includes/footer.html.twig') }}

    </div>
</div>

    {{ include('includes/bottom_footer.html.twig') }}

    {% block javascripts %}{% endblock %}

</body>
</html>
