{{ include('includes/top_header.html.twig') }}
<body>

    <div id="wrapper">

        {{ include('includes/side_navigation_bar.html.twig') }}

        <div id="page-wrapper" class="gray-bg">
            {{ include('includes/top_nav.html.twig') }}

            {% block body %}{% endblock %}

            {{ include('includes/footer.html.twig') }}

    </div>
</div>

    {{ include('includes/bottom_footer.html.twig') }}

    {% block javascripts %}{% endblock %}

</body>
</html>
