{{ include('includes/top_header.html.twig') }}

{% block stylesheets %}{% endblock %}

</head>

<body>
    <div id="wrapper">

	{{ inRoleVerifier or inRoleEditorVerifier ? '' : include('includes/side_navigation_bar.html.twig') }}
        
        {{ isRoleVerifierSupervisor ? include('includes/verifyer_supervisor_side_navigation_bar.html.twig') : '' }}
        
        {{ isRoleVerifier ? include('includes/verifyer_side_navigation_bar.html.twig') : '' }}
        
        {{ isRoleEditorVerifier ? include('includes/verifyer_edit_side_navigation_bar.html.twig') : '' }}

        <div id="page-wrapper" class="gray-bg">

            {{ include('includes/top_nav.html.twig') }}
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>{{title}}</h2>
                </div>
                <div class="col-lg-2">
                    <!-- basic preloader: -->

                </div>
            </div>
            <div class="wrapper wrapper-content">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">

                            <div class="ibox-content">

                            {% block body %}{% endblock %}

                        </div>
                    </div>
                </div>

            </div>
        </div>

            {{ include('includes/footer.html.twig') }}

    </div>
</div>

    {{ include('includes/bottom_footer.html.twig') }}

    {% block javascripts %}{% endblock %}
</body>
</html>
