{{ include('includes/top_header.html.twig') }}

{% block stylesheets %}{% endblock %}

</head>
<body>
    <div id="wrapper">
	{{ inRoleVerifier or inRoleEditorVerifier ? '' : include('includes/side_navigation_bar.html.twig') }}
        
        {{ isRoleVerifierSupervisor ? include('includes/verifyer_supervisor_side_navigation_bar.html.twig') : '' }}
        
        {{ isRoleVerifier ? include('includes/verifyer_side_navigation_bar.html.twig') : '' }}
        
        {{ isRoleEditorVerifier ? include('includes/verifyer_edit_side_navigation_bar.html.twig') : '' }}

        <div id="preloader">Loading ...</div>
        <div id="page-wrapper" class="gray-bg">

            {{ include('includes/top_nav.html.twig') }}
            {% block body %}{% endblock %}
        </div>
        {{ include('includes/footer.html.twig') }}
    </div>
</div>
    {{ include('includes/bottom_footer.html.twig') }}

    {% block javascripts %}{% endblock %}
</body>
</html>
