{% extends '::simreg.html.twig' %}

{% block body -%}
    <h1>BlacklistedNumbers</h1>

    <ul class="record_actions pull-right">
        <li>
            <a href="{{ path('admin_blacklistednumbers') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('admin_blacklistednumbers_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
    <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="DataTables_Table_0">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{{ entity.createdDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
