{% extends '::simreg_actions.html.twig' %}



{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>
        <div class="col-lg-8 pull-right">
            <div class="pull-right action_btns_vertical_center">
                <a data-toggle="modal" href="#newArtist" class="btn btn-primary btn-ms" data-target="#addUserModal">New User</a>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">

                        <div id="ManagerTableContainer"></div>

                        <div class="messagebox"></div>

                        <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="DataTables_Table_0">
                            <thead>
                                <tr>
                                    <th style="width:1%; padding:8px 15px !important;">Id</th>
                                    <th>MSISDN</th>
                                    <th>Firstname</th>
                                    <th>LastName</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Date Created</th>
                                    <th style="width:1%; padding:8px 15px !important;">Actions</th>
                                    <th style="width:1%; padding:8px 15px !important;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in users %}
                                    <tr>
                                        <td style="width:1%; padding:8px 15px !important;">{{ row.id }}</td>
                                        <td>{{ row.mobileNumber }}</td>
                                        <td>{{ row.firstName }}</td>
                                        <td>{{ row.lastName }}</td>
                                        <td>{{ row.username }}</td>
                                        <td>{{ row.email }}</td>
                                        <td>{{ row.createdAt|date('Y-m-d') }}</td>
                                        <td style="width:1%; padding:8px 15px !important;">
                                            <a href="{{ path('view_agents', { 'id': row.id }) }}">View Agents</a>
                                        </td>
                                        <td style="width:1%; padding:8px 15px !important;">
                                            <a href="{{ path('user_edit', { 'id': row.id }) }}">edit</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div id="addUserModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add New User</h4>
                    </div>
                    <form role="form"  data-parsley-validate lpformnum="1" _lpchecked="1" id="addUserModalForm">
                        <div class="modal-body row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="region">First Name</label>
                                    <input type="text" class="form-control" name="firstName" id="firstName" placeholder="enter first name"  required="required"  >
                                </div>
                                <div class="form-group">
                                    <label for="region">Middle Name</label>
                                    <input type="text" class="form-control" name="middleName" id="middleName" placeholder="enter middle name (optional)" >
                                </div>
                                <div class="form-group">
                                    <label for="region">Last Name</label>
                                    <input type="text" class="form-control" name="lastName" id="lastName" placeholder="enter last name"  required="required"  >
                                </div>
                                <div class="form-group">
                                    <label for="region">DOB</label>
                                    <div class="form-group" id="data_1">
                                        <label class="font-noraml">Simple data input format</label>
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input name="dob"  id="dob" type="text" class="form-control" value="" required="required" >
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="region">User Name</label>
                                    <input type="text" class="form-control" name="username" id="username" placeholder="enter username"  required="required"  >
                                </div>
                                <div class="form-group">
                                    <label for="region">MSISDN</label>
                                    <input type="tel" class="form-control" name="msisdn" id="msisdn" placeholder="mobile number"  required="required"  >
                                </div>
                                <div class="form-group">
                                    <label for="region">Email</label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="enter email address"  required="required"  >
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="enter password"  required="required"  >
                                </div>
                                <div class="form-group">
                                    <label for="region">User Group</label>
                                    <select class="form-control" id="user_roles" name="user_roles" multiple="multiple" required="required" >
                                        {% for row in role_names %}
                                            <option value="{{ row.role_name }}">{{ row.role_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="region">Admin Role</label>
                                    <input type="text" class="form-control" id="adminRole" name="adminRole"
                                           placeholder="enter role user plays">
                                </div>

                                <div class="form-group">
                                    <label for="region">Admin Department</label>
                                    <input type="text" class="form-control" id="adminDepartment" name="adminDepartment"
                                           placeholder="enter admin's department">
                                </div>

                                <input type="text" class="form-control" name="userType" hidden="hidden" id="userType" value="1" >
                                <div class="form-group">
                                    <label>Gender:</label>
                                    <select class="form-control" name="gender" id="resolution" required="required" >
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="lastName" placeholder="enter organization name" required >
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                            <a class="btn btn-primary">Add Agent</a>
                            <button type="submit" id="addUserButton" onclick="addUser(event);" style="width:1px; height: 1px; border: 1px solid transparent; background: transparent;">.</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <script type="text/javascript" src="{{ asset('assets/jquery.restable.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('assets/jquery.restable.min.css') }}">
        <script src="{{ asset('assets/js/core/agents.js') }}"></script>

        <!-- Data picker -->
        <link href="{{ asset('assets/css/plugins/datapicker/datepicker3.css') }}" rel="stylesheet">
        <script src="{{ asset('assets/js/plugins/datapicker/bootstrap-datepicker.js') }}"></script>
        <script>
                                $('#data_1 .input-group.date').datepicker({
                                    todayBtn: "linked",
                                    keyboardNavigation: false,
                                    forceParse: false,
                                    calendarWeeks: true,
                                    autoclose: true,
                                    startDate: '-80y',
                                    endDate: '-216m'
                                });
        </script>



        <script type="text/javascript" src="{{ asset('assets/jquery.restable.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('assets/jquery.restable.min.css') }}">
        <!-- Datatables -->
        <link href="{{ asset('assets/css/plugins/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/plugins/dataTables/dataTables.responsive.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/plugins/dataTables/dataTables.tableTools.min.css') }}" rel="stylesheet">
        <script src="{{ asset('assets/js/datatables/js/jquery.dataTables.js') }}"></script>
        <script src="{{ asset('assets/js/datatables/tools/js/dataTables.tableTools.js') }}"></script>
        <script>
                                function dataTableTableA(tableID) {
                                    var asInitVals = new Array();
                                    $('#' + tableID).dataTable({
                                        "oLanguage": {
                                            "sSearch": "Search all columns:"
                                        },
                                        "aoColumnDefs": [
                                            {
                                                'bSortable': false,
                                                'aTargets': [0]
                                            } //disables sorting for column one
                                        ],
                                        'iDisplayLength': 12,
                                        "sPaginationType": "full_numbers",
                                        "dom": 'T<"clear">lfrtip',
                                        "tableTools": {
                                            "sSwfPath": "<?php echo base_url('assets2/js/Datatables/tools/swf/copy_csv_xls_pdf.swf'); ?>"
                                        }
                                    });
                                    $("tfoot input").keyup(function () {
                                        /* Filter on the column based on the index of this element's parent <th> */
                                        oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
                                    });
                                    $("tfoot input").each(function (i) {
                                        asInitVals[i] = this.value;
                                    });
                                    $("tfoot input").focus(function () {
                                        if (this.className == "search_init") {
                                            this.className = "";
                                            this.value = "";
                                        }
                                    });
                                    $("tfoot input").blur(function (i) {
                                        if (this.value == "") {
                                            this.className = "search_init";
                                            this.value = asInitVals[$("tfoot input").index(this)];
                                        }
                                    });

                                    $('#' + tableID).ReStable({rowHeaders: false});
                                }

                                dataTableTableA('DataTables_Table_0');

        </script>


        <!-- form validation -->
        <script type="text/javascript" src="{{ asset('assets/js/parsley/parsley.min.js') }}"></script>
        <!-- form validation -->
        <script type="text/javascript">

            $(document).ready(function () {
                var valready = false;
                $.listen('parsley:field:validate', function () {
                    validateFront();
                });
                $('#addUserModalForm .btn').on('click', function () {
                    var msisdn = $('#msisdn').val();
                    var last_9 = msisdn.slice(-9);

                    arrayNumbers = ['752', '753', '754', '755', '756', '757', '758', '759', '762', '763', '764', '765', '766', '767', '768', '769', '740', '741', '742', '743', '744', '745', '746', '747', '748', '749'];

                    if (jQuery.inArray(last_9.substring(0, 3), arrayNumbers) === -1) {
                        //(msisdn.length <= 9 && msisdn.length >= 13) && 
                        alert('Please Enter a valid Vodacom Number');
                        $('#addUserModal').modal('show');
                    } else {
                        valready = true;
                        $('#addUserModalForm').parsley().validate();
                        validateFront();
                        //addUser();
                        validateFront();

                        if (valready === true) {
                            $('#addUserButton').click();
                        }
                        //$('#addUserModalForm').submit();
                    }

                });
                var validateFront = function () {
                    if ($('#addUserModalForm').parsley().isValid()) {
                        $('.bs-callout-info').removeClass('hidden');
                        $('.bs-callout-warning').addClass('hidden');
                        //valready = true;
                    } else {
                        valready = false;
                        $('.bs-callout-info').addClass('hidden');
                        $('.bs-callout-warning').removeClass('hidden');
                    }
                };
            });
            try {
                hljs.initHighlightingOnLoad();
            } catch (err) {
            }



            $(document).ready(function () {
                var mmessage = "{{ mmessage }}";
                if (mmessage.length > 3) {
                    $('.messagebox').html("<pre>" + mmessage + "</pre>");
                }
            });
        </script>
        <!-- /form validation -->

    {% endblock %}