{{ include('includes/top_header.html.twig') }}
<body class="gray-bg">

    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="col-md-6">
                <h2 class="font-bold">eReg Administration</h2>

                <p>EKYC Platform is designed to capture identity information with verifiable data. It allows for rapid scalability and market penetration at an unparalleled speed for organizations in the public and private sector.</p>
            </div>
            <div class="col-md-6">

                <div class="ibox-content">
                    <form role="form" id="changePasswordForm" lpformnum="1" _lpchecked="1" action="{{ path('fos_user_change_password') }}" method="post">
                        {% if(error) %}
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        
                        <input type="hidden" class="form-control" value="" name="toptop" id="toptop" required />
                        <div class="form-group">
                            <label>Old Password:</label>
                            <input type="password" class="form-control" value="" name="old_password" id="old_password" required />
                        </div>
                        <div class="form-group">
                            <label>New Password:</label>
                            <input type="password" class="form-control" name="password" id="password" required >
                        </div>
                        <div class="form-group">
                            <label>Confirm Password:</label>
                            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" required >
                        </div>
                        <div class="modal-footer">
                            <!--<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="changePassword(event);">Change Password</button> -->
                           <input class="btn btn-primary block full-width m-b" type="submit" id="_submit" name="_submit" value="Change Password" />
                        </div>

                        <script>
                            $('input[name=old_password]').keyup(function () {
                                $('#toptop').val($('input[name=old_password]').val());
                            });
                        </script>
                        
                    </form>
                    <p class="m-t">
                        <small>EKYC Platform © 2016</small>
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                CopyrightEKYC. All Rights Reserved.
            </div>
            <div class="col-md-6 text-right">
                <small>© 2016</small>
            </div>
        </div>
    </div>

    {{ include('includes/bottom_footer.html.twig') }}
</body>
</html>

