{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-lg-8 pull-right">
            <div class="pull-right action_btns_vertical_center">
                <a href="#agent" class="btn btn-primary btn-ms" onclick="loadNewAgentForm(event)">New Agent</a>
                <a href="#publish" class="btn btn-primary btn-ms" id="btn-topic-select"
                   onclick="loadPublishMessageDialog('{{ operator }}')">Publish Message</a>
                <button type="button" class="btn btn-primary btn-ms" data-toggle="modal" data-target="#bulkUploadModal">
                    Agent bulk Upload
                </button>
                <button type="button" class="btn btn-primary btn-ms" data-toggle="modal" data-target="#bulkDeleteModal">
                    Agent bulk Delete
                </button>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        <div class="row">

                            <div class="col-md-12">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse"
                                             data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                             aria-controls="collapseOne">
                                            <h4 class="panel-title" style="text-align: center;font-size: 16px;font-weight: 300;color: #747779;">
                                                <i class="fa fa-search"></i> Search Fields</h4>
                                            <span style="width: 30px; float: right; margin-top: -20px;">
                                                <i class="fa fa-arrow-down"></i>
                                            </span>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingOne">
                                            <div class="panel-body">

                                                <div class="col-md-2"></div>
                                                <div class="col-md-8">

                                                    <form action="{{ path('admin') }}agents_filter" method="post"
                                                          name="dashboardbundle_admin">
                                                        <div class="form-group">
                                                            <div class="col-lg-6">
                                                                <label>Agent MSISDN:</label>
                                                                <input name="agent_msisdn" id="agent_msisdn" type="text"
                                                                       class="form-control">
                                                            </div>
                                                            <!--adding filter field for agent ime added by Salim Said Jan 25 2017 15:42hrs -->
                                                            <div class="form-group">
                                                                <div class="col-lg-6">
                                                                    <label>Agent IMEI:</label>
                                                                    <input name="something_else" id="something_else" type="text"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                            <!-- end imei filter section -->
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>First Name:</label>
                                                                    <input name="first_name" id="first_name" type="text"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>Last Name:</label>
                                                                    <input name="last_name" id="last_name" type="text"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>Region:</label>
                                                                    <select class="form-control" id="search_region"
                                                                            name="region"
                                                                            onchange="getTerritories2();"></select>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>Territory:</label>
                                                                    <select class="form-control  validate[required]"
                                                                            id="search_territory"
                                                                            name="territory"></select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>Created On From Date:</label>
                                                                    <input name="from_date" id="from_date" type="date"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label>Created On To Date:</label>
                                                                    <input name="to_date" id="to_date" type="date"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="hr-line-dashed"></div>
                                                        </div>
                                                        <div class="row form-group">
                                                            <div class="col-sm-4 col-sm-offset-5">
                                                                <button id="LoadRecordsButtonBB" class="btn btn-primary"
                                                                        type="submit">Search Agents
                                                                </button>
                                                            </div>
                                                        </div>

                                                    </form>

                                                </div>
                                                <div class="col-md-2"></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="AgentTableContainer"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="addAgentModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New Agent</h4>
                    </div>
                    <form role="form" data-parsley-validate lpformnum="1" _lpchecked="1" id="addAgentModalForm">
                        <div class="modal-body row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" class="form-control validate[required] text-input" id="firstName"
                                           name="firstName" placeholder="enter first name" required="required" >
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control " id="middleName"
                                           name="middleName"
                                           placeholder="enter middle name (optional)">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control validate[required] text-input" id="lastName"
                                           name="lastName" placeholder="enter last name" required="required" >
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control validate[required] text-input" id="msisdn"
                                           name="msisdn" maxlength="12" placeholder="assign mobile number" required="required" >
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control validate[custom[email]] text-input" id="email"
                                           name="email" placeholder="enter email address (optional)">
                                </div>
                                <div class="form-group">
                                    <label for="dob">Date of Birth:</label>
                                    <input type="text" readonly class="form-control" id="datepickers" name="dob" required="required" >
                                </div>

                                <div class="form-group">
                                    <label for="dob">Identification Type:</label>
                                    <select class="form-control" id="identificationType" name="identification_type" required="required" ></select>
                                </div>

                                <div class="form-group">
                                    <label for="dob">Identification Number:</label>
                                    <input type="text" class="form-control " id="identificationNumber" name="identification_number" required="required" placeholder="Enter Identification number">
                                </div>

                                <!--<div class="form-group">
                                    <label for="dob">Upload Identification Image: </label>
                                    <input type="file" class="form-control " id="identificationNumber" name="identification_image" required="required">
                                </div>-->

                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <select class="form-control" id="gender" name="gender" required="required" >
                                        <option value="M">MALE</option>
                                        <option value="F">FEMALE</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="region">Super Agent</label>
                                    <select class="form-control" id="superagent" class="superagent" name="superagent" required="required" ></select>
                                </div>

                                <div class="form-group">
                                    <label for="userType">User Type</label>
                                    <select class="form-control" id="userType" name="userType" required="required" ></select>
                                </div>

                                <div class="form-group">
                                    <label for="region">Region</label>
                                    <select class="form-control" id="region" class="region" name="region"
                                            onchange="getTerritories();" required="required" ></select>
                                </div>
                                <div class="form-group">
                                    <label for="territory">Territory</label>
                                    <select class="form-control  validate[required]" class="territory" id="territory"
                                            name="territory" required="required" ></select>
                                </div>
                                <div class="form-group">
                                    <label for="territory">Agent Exclusivity</label>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="agent_exclusivity" checked value="1"
                                                   name="agent_exclusivity" readonly disabled> Make agent eclusive.
                                            Exclusive agent can not
                                            add other MNOs
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="territory">Allow multiple devices</label>

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="multiple_devices" id="multiple_devices" class="multiple_devices" onChange="multiple_devices_check()" value="" disabled="disabled">Allow multiple devices
                                        </label>
                                        <input type="number" min="1" class="form-control number_devices" id="number_devices"
                                               name="number_devices" placeholder="Number Of Devices" value="1"
                                               required="required">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" onclick="$('#addAgentModalForm').submit();">
                                Add Agent
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="publishMessageFormModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Publish Message</h4>
                    </div>
                    <div class="modal-body">
                        <form id="publishMessageFormModalForm">
                            <div class="form-group">
                                <label for="form-topic" class="control-label">Agent Number:</label>
                                <input type="text" required class="form-control" id="form-msisdn" name="form-msisdn">
                            </div>

                            <div class="form-group">
                                <label for="message" class="control-label">Message:</label>
                                <textarea class="form-control" style="height:150px;"
                                          placeholder="Enter message to be sent" id="message" name="message" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="myfile" class="control-label">File:</label>
                                <input type="file" class="form-control" placeholder="select file if its group" id="myfile"
                                       name="myfile" >
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default" onclick="publishMessage('{{ mqttMessageTopic }}', event);">Publish
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="bulkUploadModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Agent bulk upload</h4>
                    </div>
                    <div class="modal-body">
                        <form id="bulkUploadModalForm">
                            <div class="form-group">
                                <label for="bulkuploadfile" class="control-label">File:</label>
                                <input type="file" class="form-control" placeholder="select file " id="bulkuploadfile"
                                       name="bulkuploadfile">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="uploadAgents();">Upload
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="bulkDeleteModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Agent bulk upload</h4>
                    </div>
                    <div class="modal-body">
                        <form id="bulkUploadModalForm">
                            <div class="form-group">
                                <label for="bulkuploadfile" class="control-label">File:</label>
                                <input type="file" class="form-control" placeholder="select file " id="bulkudeletefile"
                                       name="bulkudeletefile">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="uploadDeleteAgents();">
                            Upload
                        </button>
                    </div>
                </div>
            </div>
        </div>


<script>



function morelisten(){

console.log('records done loading2222');

$('table.jtable tbody tr td img').click(function (){
console.log('clicked clicked');

setTimeout(function () { console.log('ssssdsvv fs');

		            $('.jtable-command-button.jtable-edit-command-button').click(function () {
 console.log('clicked clicked 222');
		                setTimeout(function () { console.log('clicked clicked 333');
		                    if (rolesJson.indexOf("ROLE_ADMIN") >= 0) {
		                    } else {

	console.log(' check 5 ');

		                        $('#Edit-isActive').attr('disabled', 'disbled');
		                    }
		                }, 1000);
		            });
 }, 1500);

		});


}
</script>

        <script type="text/javascript" src="{{ asset('assets/jquery.restable.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('assets/jquery.restable.min.css') }}">
        <script src="{{ asset('assets/js/core/device_configuration.js') }}"></script>
        <script src="{{ asset('assets/js/core/agents.js?vers=3423423') }}"></script>

        <!-- form validation -->
        <script type="text/javascript" src="{{ asset('assets/js/parsley/parsley.min.js') }}"></script>
        <script type="text/javascript">

                            $(document).ready(function () {
                                $.listen('parsley:field:validate', function () {
                                    validateFront();
                                });
                                $('#addAgentModalForm .btn').on('click', function () {
                                    var msisdn = $('#msisdn').val();
                                    var last_9 = msisdn.slice(-9);

                                    arrayNumbers = ['752', '753', '754', '755', '756', '757', '758', '759', '762', '763', '764', '765', '766', '767', '768', '769', '740', '741', '742', '743', '744', '745', '746', '747', '748', '749'];

                                    if (jQuery.inArray(last_9.substring(0, 3), arrayNumbers) === -1) {
                                        //(msisdn.length <= 9 && msisdn.length >= 13) && 
//                                        alert('Please Enter a valid Vodacom Number');
                                    } else {
                                        $('#addAgentModalForm').parsley().validate();
                                        validateFront();
                                        $('#addAgentModalForm').submit();
                                    }

                                });
                                var validateFront = function () {
                                    if (true === $('#addAgentModalForm').parsley().isValid()) {
                                        $('.bs-callout-info').removeClass('hidden');
                                        $('.bs-callout-warning').addClass('hidden');
                                    } else {
                                        $('.bs-callout-info').addClass('hidden');
                                        $('.bs-callout-warning').removeClass('hidden');
                                    }
                                };
                            });
                            try {
                                hljs.initHighlightingOnLoad();
                            } catch (err) {
                            }
        </script>
        <!-- /form validation -->

        <script>
            var rolesJson = "{{ user_role }}";
            var showeditField = false;

            function disableSuperAgentChoosing() {
                setTimeout(function () {
                    if (rolesJson.indexOf("ROLE_SUPERAGENT") >= 0 || rolesJson.indexOf("ROLE_VODASHOP") >= 0) {
                        $('#superagent').val({{ user_id }});
                        $('#superagent').attr('disabled', 'disbled');
                    }
                }, 1000);
            }
            $(document).ready(function () {

                getRegions2();
                getSuperAgents();
                if (document.getElementById('multiple_devices').checked) {
                    document.getElementById('number_devices').style.display = 'block';
                } else {
                    document.getElementById('number_devices').style.display = 'none';
                }

                $("#datepickers").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    minDate: "-100Y",
                    maxDate: "-18Y"
                });
                /**
                 * handler for agent form modal validation
                 */
                jQuery("#addAgentModalForm").validationEngine('attach', {
                    onValidationComplete: function (form, status) {
                        if (status) {
                            addAgent();
                        }
                    }
                });
                /**
                 * load forms
                 */

                loadAgentsTables();

morelisten();

                setTimeout(function () {

                    $('.jtable-command-button').click(function () {
                        setTimeout(function () {
                            //if (rolesJson.indexOf("ROLE_SUPERAGENT") >= 0 || rolesJson.indexOf("ROLE_VODASHOP") >= 0) {
                            if (rolesJson.indexOf("ROLE_ADMIN") >= 0) {

                            } else {

				console.log(' check 1 ');
                                $('#Edit-superagent_id').attr('disabled', 'disbled');
                                $('#Edit-lastName').attr('disabled', 'disbled');
                                $('#Edit-firstName').attr('disabled', 'disbled');
                                $('#Edit-region').attr('disabled', 'disbled');
                                $('#Edit-territory').attr('disabled', 'disbled');

console.log(' check 2 ');
                                $('#Edit-isActive').attr('disabled', 'disbled');
console.log(' check 3 ');
                            }
                        }, 1000);
                    });

                }, 1500);

console.log(' check 4 ');

morelisten();

		

var refreshId = setInterval(function(){ 

	if( $('table.jtable').length ){
		console.log('ipo');
		setTimeout(function () {
			console.log('table data done loading');
			morelisten();
			console.log('table data done loading2---');
			clearInterval(refreshId);
		}, 1500);
	}else{
		console.log('haipo');
	}

}, 1000);










            });




        </script>
    {% endblock %}
