{% extends '::simreg.html.twig' %}

{% block body -%}
    <h1>Faq</h1>

    <ul class="record_actions list-inline pull-right">
        <li>
            <a href="{{ path('faq') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('faq_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
    <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="DataTables_Table_0">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Faqname</th>
                <td>{{ entity.faqName }}</td>
            </tr>
            <tr>
                <th>Faqcontent</th>
                <td>{{ entity.faqContent }}</td>
            </tr>
        </tbody>
    </table>


{% endblock %}
