<li>
    <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">Systems Configs</span> <span
                class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li><a href="{{ path('admin/systems_config') }}endpoints">End Points</a></li>
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-tablet"></i> <span class="nav-label">App Configurations</span> <span
                class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li><a href="{{ path('admin/operators') }}">Operator Details</a></li>
        <li><a href="#{{ path('admin/forms') }}load_form">Dynamic Form</a></li>
	<li><a href="#{{ path('admin/forms') }}load_services">Dynamic Form New</a></li>
        <li><a href="{{ path('admin/app_config') }}load_login_config">Login Configurations</a></li>
        <li><a href="{{ path('idtype_index') }}">ID Configurations</a></li>
        <li><a href="{{ path('admin/app_config') }}id_verification">ID Verification Configurations</a></li>
        <li><a href="{{ path('admin/app_config') }}verifier_view_fields">Verifier View Fields</a></li>
        <li><a href="{{ path('admin/app_config') }}load_image_config">Image Configurations</a></li>
        <li><a href="{{ path('appupload') }}">Application Uploads</a></li>
        <li><a href="{{ path('admin') }}blacklistednumbers">Blacklisted Numbers</a></li>
    </ul>
</li>
            
