<li>
    <a href="#"><i class="fa fa-stethoscope"></i> <span class="nav-label">Diagnosis</span> <span
                class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li><a href="{{ path('diagnosis') }}user_activities">User Activities</a></li>
        <li><a href="{{ path('diagnosis') }}track_registration">Track Registration</a></li>
        <li><a href="{{ path('diagnosis') }}logs">Logs</a></li>
    </ul>
</li>
            