<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
           
        </div>

        <ul class="nav navbar-top-links navbar-right">
            
            <li>
                <span class="m-r-sm text-muted welcome-message">Welcome <strong>{{ user.username }} </strong>({{roles[0]}})</span>
            </li>
            <li>
                <a href="{{ path('admin') }}user_account"><span class="fa fa-user"></span></a>
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>

    </nav>
</div>