{% extends '::simreg_actions.html.twig' %}

{% block body -%}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-4">
        <h2>{{title}}</h2>
    </div>

</div>
<div class="wrapper wrapper-content">
    <div class="row dynamic_form_container">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <div class="col-lg-12">



                        <div class="row" style="">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <div class="col-md-3" style="margin:0; padding:0; width: 60px; float: right;">
                                    <button id="filter_button" class="btn medium bg-blue" style="height:32px;">
                                        <span class="button-content"><i class="fa fa-search"></i> Filter</span>
                                    </button>
                                </div>

                                <div class="col-md-9" style="float:right; ">
                                    <div class="" style="overflow: auto">
                                        <form>
                                            <div id="reportrange" class="pull-right" style="z-index: 1004; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                                <span id="reports_search"></span> <b class="caret"></b>
                                            </div>
                                            <input name="dashboard_range" id="dashboard_range" hidden />
                                            <input name="dashboard_filter" id="dashboard_range" value="12" hidden />

                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                </form>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row" style="text-align: center; border-bottom:1px solid #A3A3A3; padding-bottom: 6px; margin-bottom:12px;"></div>
                        <div class="clearfix"></div>
                        <!-- **************************************************************************************** -->

                        <div class="row">

                            <div class="over_ly table_loading" style="display:none;text-align:center;margin:50px;">
                                <img src="{{ asset('assets/img/loader-light.gif') }}" />
                            </div>

                            <div class="active_agents">
                                <h2 class="ttitles" style="display:none">{{title}}</h2>

                                <div class="tableArea"><table id="active_a" class="table table-striped table-bordered table-hover"></table></div>

                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{{ asset('assets/jquery.restable.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/jquery.restable.min.css') }}">
    <!-- Datatables -->
    <link href="{{ asset('assets/css/plugins/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/plugins/dataTables/dataTables.responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/plugins/dataTables/dataTables.tableTools.min.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/js/datatables/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/tools/js/dataTables.tableTools.js') }}"></script>
    <script>
        function dataTableTableA(tableID) {
            var asInitVals = new Array();
            $('#' + tableID).dataTable({
                "oLanguage": {
                    "sSearch": "Search all columns:"
                },
                "aoColumnDefs": [
                    {
                        'bSortable': false,
                        'aTargets': [0]
                    } //disables sorting for column one
                ],
                'iDisplayLength': 12,
                "sPaginationType": "full_numbers",
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "{{ asset('assets/js/datatables/tools/swf/copy_csv_xls_pdf.swf') }}"
                }
            });
            $("tfoot input").keyup(function () {
                /* Filter on the column based on the index of this element's parent <th> */
                oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
            });
            $("tfoot input").each(function (i) {
                asInitVals[i] = this.value;
            });
            $("tfoot input").focus(function () {
                if (this.className == "search_init") {
                    this.className = "";
                    this.value = "";
                }
            });
            $("tfoot input").blur(function (i) {
                if (this.value == "") {
                    this.className = "search_init";
                    this.value = asInitVals[$("tfoot input").index(this)];
                }
            });

            $('#' + tableID).ReStable({rowHeaders: false});
        }
    </script>


    <!-- daterangepicker -->
    <script type="text/javascript" src="{{ asset('assets/js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/datepicker/daterangepicker.js') }}"></script>
    <!-- datepicker -->
    <script type="text/javascript">
        $(document).ready(function () {

            var cb = function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
            }

            var optionSet1 = {
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2015',
                maxDate: '01/01/2019',
                dateLimit: {
                    days: 460
                },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'left',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            };
            $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#reportrange').daterangepicker(optionSet1, cb);
            $('#reportrange').on('show.daterangepicker', function () {
                console.log("show event fired");
            });
            $('#reportrange').on('hide.daterangepicker', function () {
                console.log("hide event fired");
            });
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
            });
            $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
                console.log("cancel event fired");
            });
            $('#options1').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
            });
            $('#options2').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
            });
            $('#destroy').click(function () {
                $('#reportrange').data('daterangepicker').remove();
            });
        });
    </script>


    <script>

        $('#filter_button').click(function () {
            //alert($('#reports_search').text());
            var dates_dates = $('#reports_search').text();
            var dates_array = dates_dates.split(' - ');

            var dateStart = $.datepicker.formatDate('yy-mm-dd', new Date(dates_array[0]));
            var dateEnd = $.datepicker.formatDate('yy-mm-dd', new Date(dates_array[1]));
            //alert(dateStart + " | " + dateEnd);

            //$(".over_ly.graph_div").show();
            $(".over_ly.table_loading").show();
            $('.ttitles').hide();
            $("#active_a thead").remove();
            $("#active_a tbody").remove();
            $("#inactive_a thead").remove();
            $("#inactive_a tbody").remove();

            plotreportAgents(dateStart, dateEnd);
        });



        function plotreportAgents(start, end) {




            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/biometric/reports/region?start=" + start + "&end=" + end + "", //This URL is for Json file
                type: "GET",
                dataType: "json",
                success: function (data) {
                    console.log('-sdsd-------------|||||:');
                    console.log(data);
                    console.log('--sdsd------------|||||:');


                    var num = 0;
                    var total = 0;
                    var append_data = "";
                    var thhead = "";
                    var ttrow = "";
                    $(".over_ly.table_loading").hide();

                    var regionRegion = '{{ region | raw }}';
                    regionRegion = $.parseJSON(regionRegion);
                    var territoryTerritory = '{{ territory | raw }}';
                    territoryTerritory = $.parseJSON(territoryTerritory);


                    $('.tableArea').html('<table id="active_a" class="table table-striped table-bordered table-hover"></table>');

                    $('.ttitles').show();

                    //{"sum_regs":"7","agent_id":9,"agent_names":"HABIB MBULLY","username":"765590928","territory_name":"mtwara","region_name":"Coast","created_on":"2016-03-17"}
                    $.each(data, function (index, val) {
                        num = num + 1;

                        console.log('--------------|||||:');
                        console.log(val);
                        console.log('--------------|||||:');


                        if (num === 1) {
                            thhead += "<thead><tr>";
                            $.each(val, function (kkey1, vval1) {
                                thhead += "<th>" + kkey1 + "</th>";
                            });
                            thhead += "</tr></thead><tbody></tbody>";
                            $('#active_a').append(thhead);
                        }

                        ttrow += "<tr style='height:1px;'>";
                        $.each(val, function (kkey1, vval1) {
                            if(kkey1 === 'RegionName'){
                                ttrow += "<td>" + regionRegion[vval1] + "</td>";
                            }else if(kkey1 === 'TerritoryName'){
                                ttrow += "<td>" + territoryTerritory[vval1] + "</td>";
                            }else{
                                ttrow += "<td>" + vval1 + "</td>";
                            }

                        });
                        ttrow += "</tr>";
                        $(ttrow).appendTo($("#active_a tbody"));

                        ttrow = "";

                    });

                    dataTableTableA("active_a");

                },
                error: function () {
                    //Do alert is error
                }
            });


        }

    </script>


    {% endblock %}


