{{ include('includes/top_header.html.twig') }}


<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

<link href="{{ asset('assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet">

<style>
    /* *********  Bling Help Icon ***********************/

    .material-button-anim {
        position: fixed;
        bottom: 25px;
        right: 30px;
        text-align: center;
        max-width: 320px;
    }

    .material-button {
        position: relative;
        top: 0;
        z-index: 1;
        width: 70px;
        height: 70px;
        font-size: 1.5em;
        color: #fff;
        background: #444444;
        border: none;
        border-radius: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .275);
        outline: none;
    }

    .material-button-toggle {
        z-index: 3;
        width: 55px;
        height: 55px;
        margin: 0 auto;
    }

    .material-button-toggle span {
        position: relative;
        z-index: 999;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        -webkit-transform: none;
        transform: none;
        -webkit-transition: -webkit-transform .175s cubic-bazier(.175, .67, .83, .67);
        transition: transform .175s cubic-bazier(.175, .67, .83, .67);
    }

    .material-button-toggle.open {
        -webkit-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
        -webkit-animation: toggleBtnAnim .175s;
        animation: toggleBtnAnim .175s;
    }

    .material-button-toggle.open span {
        -webkit-transform: rotate(230deg);
        transform: rotate(230deg);
        -webkit-transition: -webkit-transform .175s cubic-bazier(.175, .67, .83, .67);
        transition: transform .175s cubic-bazier(.175, .67, .83, .67);
    }

    @keyframes toggleBtnAnim {
        0% {
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        25% {
            -webkit-transform: scale(1.4, 1.4);
            transform: scale(1.4, 1.4);
        }
        75% {
            -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
        }
        100% {
            -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
        }
    }

    @-webkit-keyframes toggleBtnAnim {
        0% {
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        25% {
            -webkit-transform: scale(1.4, 1.4);
            transform: scale(1.4, 1.4);
        }
        75% {
            -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
        }
        100% {
            -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
        }
    }

    @keyframes bounce {
        0% {
            margin-top: 0;
        }
        50% {
            margin-top: -15px;
            margin-bottom: 15px;
        }
        100% {
            margin-top: 0;
        }
    }

    @keyframes roket-roket-circle-anim {
        0% {
            transform: rotate(0deg) scale(1) skew(0deg);
            opacity: 0.1;
        }
        30% {
            transform: rotate(0deg) scale(1.25) skew(0deg);
            opacity: 0.25;
        }
        100% {
            transform: rotate(0deg) scale(1.5) skew(0deg);
            opacity: 0;
        }
    }

    .material-anim {
        width: 100%;
        height: 100%;
        text-indent: -9999px;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: none;
    }

    .material-anim.one {
        -webkit-animation: roket-roket-circle-anim 1.2s infinite ease-in-out !important;
        -moz-animation: roket-roket-circle-anim 1.2s infinite ease-in-out !important;
        -ms-animation: roket-roket-circle-anim 1.2s infinite ease-in-out !important;
        -o-animation: roket-roket-circle-anim 1.2s infinite ease-in-out !important;
        animation: roket-roket-circle-anim 1.2s infinite ease-in-out !important;
        -webkit-transition: all 0.5s !important;
        -moz-transition: all 0.5s !important;
        -o-transition: all 0.5s !important;
        transition: all 0.5s !important;
    }

    .material-anim.two {
        border: 2px solid #444444 !important;
        opacity: 0.1 !important;
        background: none !important;
        -webkit-animation: roket-roket-circle-anim 1.9s infinite ease-in-out !important;
        -moz-animation: roket-roket-circle-anim 1.9s infinite ease-in-out !important;
        -ms-animation: roket-roket-circle-anim 1.9s infinite ease-in-out !important;
        -o-animation: roket-roket-circle-anim 1.9s infinite ease-in-out !important;
        animation: roket-roket-circle-anim 1.9s infinite ease-in-out !important;
        -webkit-transition: all 0.5s !important;
        -moz-transition: all 0.5s !important;
        -o-transition: all 0.5s !important;
        transition: all 0.5s !important;
    }
    /* *********  Bling Help Icon ***********************/

    /* *********  bling help icon *********************** */

    .menu {
        filter: url("#shadowed-goo");
    }

    .menu-item,
    .menu-open-button {
        background: #4C4C4C;
        border: 1px solid #F4F4F4;
        border-radius: 100%;
        width: 54px;
        height: 54px;
        position: absolute;
        bottom: 0;
        right: 0;
        box-shadow: 0 0 20px rgba(0, 0, 0, .4);
        color: white;
        text-align: center;
        transform: translate3d(0, 0, 0);
        transition: transform ease-out 200ms;
    }

    .menu-open {
        display: none;
    }

    .hamburger {
        width: 25px;
        height: 3px;
        background: white;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -12.5px;
        margin-top: -1.5px;
        transition: transform 200ms;
    }

    .hamburger-1 {
        transform: translate3d(0, -8px, 0);
    }

    .hamburger-2 {
        transform: translate3d(0, 0, 0);
    }

    .hamburger-3 {
        transform: translate3d(0, 8px, 0);
    }

    .menu-open:checked + .menu-open-button .hamburger-1 {
        transform: translate3d(0, 0, 0) rotate(45deg);
    }

    .menu-open:checked + .menu-open-button .hamburger-2 {
        transform: translate3d(0, 0, 0) scale(0.1, 1);
    }

    .menu-open:checked + .menu-open-button .hamburger-3 {
        transform: translate3d(0, 0, 0) rotate(-45deg);
    }

    .menu {
        position: absolute;
        left: 50%;
        margin-left: -80px;
        padding-top: 20px;
        padding-left: 80px;
        width: 650px;
        height: 150px;
        box-sizing: border-box;
        font-size: 20px;
        text-align: left;
    }

    .menu-item:hover {
        background: white;
        color: #00bcd4;
    }

    .menu-item:nth-child(3) {
        transition-duration: 180ms;
    }

    .menu-item:nth-child(4) {
        transition-duration: 180ms;
    }

    .menu-item:nth-child(5) {
        transition-duration: 180ms;
    }

    .menu-item:nth-child(6) {
        transition-duration: 180ms;
    }

    .menu-open-button {
        z-index: 2;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-duration: 400ms;
        transform: scale(1.1, 1.1) translate3d(0, 0, 0);
        cursor: pointer;
    }

    .menu-open-button:hover {
        transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    }

    .menu-open:checked + .menu-open-button {
        transition-timing-function: linear;
        transition-duration: 200ms;
        transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    }

    .menu-open:checked ~ .menu-item {
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .menu-open:checked ~ .menu-item:nth-child(3) {
        transition-duration: 190ms;
        transform: translate3d(0, -70px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(4) {
        transition-duration: 290ms;
        transform: translate3d(0, -140px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(5) {
        transition-duration: 390ms;
        transform: translate3d(0, -210px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(6) {
        transition-duration: 490ms;
        transform: translate3d(0, -280px, 0);
    }

    .material-button-anim i.bottom_icon {
        margin-top: 18px;
    }

    .material-button-anim .menu-item i {
        margin-top: 21px;
    }

    .support_label {
        right: 70px;
        position: absolute;
        width: 120px;
        margin-top: 10px;
        background: #4C4C4C;
        height: 32px;
        font-size: 14px;
        border: 1px solid #F4F4F4;
        border-right: none !important;
        border-radius: 6px;
        text-align: left;
        padding: 3px 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    }

    .material-button-anim span.text {
        margin-top: 2px;
        position: absolute;
    }

    .support_label {
        display: none;
    }

    .menu-open:checked ~ .menu-item .support_label,
    .menu-open:checked ~ .menu-item:after {
        display: block;
    }

    .menu-item:after {
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        right: 54px;
        display: none;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-left-color: #4C4C4C;
        border-width: 8px;
        margin-top: -9px;
    }
    /* *********  bling help icon *********************** */
</style>


<style>
    body{
        background: #DADADA;
    }
    .anto{
        float: right;
        margin-right: 15px;
        border-radius: 50%;
        border: 2px solid #e7eaec;
        width: 80px;
        height: 80px;
        text-align: center;
        position: absolute;
        z-index: 1000;
        right: 0;
        outline: none !important;
    }   
    h3, h4, h5 {
        margin-top: 20px;
        font-weight: 600;
    }
    .strong{
        font-weight: 600;
        padding-right: 5px;
    }
    table.regInfo {

    }
    table.regInfo td{
        line-height: 23px;
    }
    .regImages{
        width: 100%;
    }
    .regImages a{
        overflow: hidden;
    }
    .regImages a img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
        padding: 4px;
        border: 1px solid #e9e6e6;
        margin: 4px;
        background: #DADADA;
        min-height: 80px;
    }
    .regImages .col-xs-3{
        padding: 0 2px;
    }
    .regImages span{
        padding-left: 6px;
    }
    
    .ibox{
        margin-bottom: -10px;
    }
</style>

<div class="row">

    <div class="col-lg-12">
        <h1 class="text-center">{{ report_type }}</h1>
    </div>

    <br />
    {% for entity in entities %}
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <table class="regInfo">
                        <tr>
                            <td class="tecxt-right strong">MSISDN:</td>
                            <td>{{ entity.msisdn }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}


</div>





<!-- Bling help icon -->
<div class=" material-button-anim">
    <input type="checkbox" class="menu-open" name="menu-open" id="menu-open" />
    <label for="menu-open" class="material-button material-button-toggle" type="button">
        <div class="material-button material-anim one">1</div>
        <div class="material-button material-anim two">2</div>
        <i class="fa fa-line-chart bottom_icon" aria-hidden="true"></i>
    </label>

    <a class="menu-item" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agent/{{ agent_id }}?timefilter=lastmonth">
        <span href="javascript:void(0)" class="support_label getting_started_btn">
            <span class="text">Mwezi Uliopita</span>
        </span>
        <span>
            <i class="fa fa-calendar-o"></i>
        </span>
    </a>
    
    <a class="menu-item" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agent/{{ agent_id }}?timefilter=month">
        <span href="javascript:void(0)" class="support_label getting_started_btn">
            <span class="text">Mwezi Huu</span>
        </span>
        <span>
            <i class="fa fa-calendar-o"></i>
        </span>
    </a>
    
    <a class="menu-item" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agent/{{ agent_id }}?timefilter=week">
        <span href="javascript:void(0)" class="support_label getting_started_btn">
            <span class="text">Wiki Hii</span>
        </span>
        <span>
            <i class="fa fa-calendar-o"></i>
        </span>
    </a>
    <a class="menu-item" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agent/{{ agent_id }}?timefilter=day">
        <span href="javascript:void(0)" class="support_label getting_started_btn">
            <span class="text">Ripoti ya Leo</span>
        </span>
        <span>
            <i class="fa fa-calendar-o"></i>
        </span>
    </a>
    
    <a class="menu-item" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agent/{{ agent_id }}?timefilter=all">
        <span href="javascript:void(0)" class="support_label getting_started_btn">
            <span class="text">Ripoti JUMLA</span>
        </span>
        <span>
            <i class="fa fa-calendar-o"></i>
        </span>
    </a>






</div>
<!-- Bling help icon -->
