{{ include('includes/top_header.html.twig') }}
<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

<link href="{{ asset('assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet">

<style>
    /* *********  Bling Help Icon ***********************/

    .material-button-anim {
        position: fixed;
        bottom: 25px;
        right: 30px;
        text-align: center;
        max-width: 320px;
    }

    .material-button {
        position: relative;
        top: 0;
        z-index: 1;
        width: 70px;
        height: 70px;
        font-size: 1.5em;
        color: #fff;
        background: #444444;
        border: none;
        border-radius: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .275);
        outline: none;
    }

    .material-button-toggle {
        z-index: 3;
        width: 55px;
        height: 55px;
        margin: 0 auto;
    }

    .material-button-toggle span {
        position: relative;
        z-index: 999;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        -webkit-transform: none;
        transform: none;
        -webkit-transition: -webkit-transform .175s cubic-bazier(.175, .67, .83, .67);
        transition: transform .175s cubic-bazier(.175, .67, .83, .67);
    }

    .material-button-toggle.open {
        -webkit-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
        -webkit-animation: toggleBtnAnim .175s;
        animation: toggleBtnAnim .175s;
    }

    .material-button-toggle.open span {
        -webkit-transform: rotate(230deg);
        transform: rotate(230deg);
        -webkit-transition: -webkit-transform .175s cubic-bazier(.175, .67, .83, .67);
        transition: transform .175s cubic-bazier(.175, .67, .83, .67);
    }

    @keyframes toggleBtnAnim {
        0% {
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        25% {
            -webkit-transform: scale(1.4, 1.4);
            transform: scale(1.4, 1.4);
        }
        75% {
            -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
        }
        100% {
            -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
        }
    }

    @-webkit-keyframes toggleBtnAnim {
        0% {
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        25% {
            -webkit-transform: scale(1.4, 1.4);
            transform: scale(1.4, 1.4);
        }
        75% {
            -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
        }
        100% {
            -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
        }
    }

    @keyframes bounce {
        0% {
            margin-top: 0;
        }
        50% {
            margin-top: -15px;
            margin-bottom: 15px;
        }
        100% {
            margin-top: 0;
        }
    }

    @keyframes roket-roket-circle-anim {
        0% {
            transform: rotate(0deg) scale(1) skew(0deg);
            opacity: 0.1;
        }
        30% {
            transform: rotate(0deg) scale(1.25) skew(0deg);
            opacity: 0.25;
        }
        100% {
            transform: rotate(0deg) scale(1.5) skew(0deg);
            opacity: 0;
        }
    }

    .material-anim {
        width: 100%;
        height: 100%;
        text-indent: -9999px;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: none;
    }

    .material-anim.one {
        -webkit-animation: roket-roket-circle-anim 1.2s infinite ease-in-out !important;
        -moz-animation: roket-roket-circle-anim 1.2s infinite ease-in-out !important;
        -ms-animation: roket-roket-circle-anim 1.2s infinite ease-in-out !important;
        -o-animation: roket-roket-circle-anim 1.2s infinite ease-in-out !important;
        animation: roket-roket-circle-anim 1.2s infinite ease-in-out !important;
        -webkit-transition: all 0.5s !important;
        -moz-transition: all 0.5s !important;
        -o-transition: all 0.5s !important;
        transition: all 0.5s !important;
    }

    .material-anim.two {
        border: 2px solid #444444 !important;
        opacity: 0.1 !important;
        background: none !important;
        -webkit-animation: roket-roket-circle-anim 1.9s infinite ease-in-out !important;
        -moz-animation: roket-roket-circle-anim 1.9s infinite ease-in-out !important;
        -ms-animation: roket-roket-circle-anim 1.9s infinite ease-in-out !important;
        -o-animation: roket-roket-circle-anim 1.9s infinite ease-in-out !important;
        animation: roket-roket-circle-anim 1.9s infinite ease-in-out !important;
        -webkit-transition: all 0.5s !important;
        -moz-transition: all 0.5s !important;
        -o-transition: all 0.5s !important;
        transition: all 0.5s !important;
    }
    /* *********  Bling Help Icon ***********************/

    /* *********  bling help icon *********************** */

    .menu {
        filter: url("#shadowed-goo");
    }

    .menu-item,
    .menu-open-button {
        background: #4C4C4C;
        border: 1px solid #F4F4F4;
        border-radius: 100%;
        width: 54px;
        height: 54px;
        position: absolute;
        bottom: 0;
        right: 0;
        box-shadow: 0 0 20px rgba(0, 0, 0, .4);
        color: white;
        text-align: center;
        transform: translate3d(0, 0, 0);
        transition: transform ease-out 200ms;
    }

    .menu-open {
        display: none;
    }

    .hamburger {
        width: 25px;
        height: 3px;
        background: white;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -12.5px;
        margin-top: -1.5px;
        transition: transform 200ms;
    }

    .hamburger-1 {
        transform: translate3d(0, -8px, 0);
    }

    .hamburger-2 {
        transform: translate3d(0, 0, 0);
    }

    .hamburger-3 {
        transform: translate3d(0, 8px, 0);
    }

    .menu-open:checked + .menu-open-button .hamburger-1 {
        transform: translate3d(0, 0, 0) rotate(45deg);
    }

    .menu-open:checked + .menu-open-button .hamburger-2 {
        transform: translate3d(0, 0, 0) scale(0.1, 1);
    }

    .menu-open:checked + .menu-open-button .hamburger-3 {
        transform: translate3d(0, 0, 0) rotate(-45deg);
    }

    .menu {
        position: absolute;
        left: 50%;
        margin-left: -80px;
        padding-top: 20px;
        padding-left: 80px;
        width: 650px;
        height: 150px;
        box-sizing: border-box;
        font-size: 20px;
        text-align: left;
    }

    .menu-item:hover {
        background: white;
        color: #00bcd4;
    }

    .menu-item:nth-child(3) {
        transition-duration: 180ms;
    }

    .menu-item:nth-child(4) {
        transition-duration: 180ms;
    }

    .menu-item:nth-child(5) {
        transition-duration: 180ms;
    }

    .menu-item:nth-child(6) {
        transition-duration: 180ms;
    }

    .menu-open-button {
        z-index: 2;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-duration: 400ms;
        transform: scale(1.1, 1.1) translate3d(0, 0, 0);
        cursor: pointer;
    }

    .menu-open-button:hover {
        transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    }

    .menu-open:checked + .menu-open-button {
        transition-timing-function: linear;
        transition-duration: 200ms;
        transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    }

    .menu-open:checked ~ .menu-item {
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .menu-open:checked ~ .menu-item:nth-child(3) {
        transition-duration: 190ms;
        transform: translate3d(0, -70px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(4) {
        transition-duration: 290ms;
        transform: translate3d(0, -140px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(5) {
        transition-duration: 390ms;
        transform: translate3d(0, -210px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(6) {
        transition-duration: 490ms;
        transform: translate3d(0, -280px, 0);
    }

    .material-button-anim i.bottom_icon {
        margin-top: 18px;
    }

    .material-button-anim .menu-item i {
        margin-top: 21px;
    }

    .support_label {
        right: 70px;
        position: absolute;
        width: 120px;
        margin-top: 10px;
        background: #4C4C4C;
        height: 32px;
        font-size: 14px;
        border: 1px solid #F4F4F4;
        border-right: none !important;
        border-radius: 6px;
        text-align: left;
        padding: 3px 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    }

    .material-button-anim span.text {
        margin-top: 2px;
        position: absolute;
    }

    .support_label {
        display: none;
    }

    .menu-open:checked ~ .menu-item .support_label,
    .menu-open:checked ~ .menu-item:after {
        display: block;
    }

    .menu-item:after {
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        right: 54px;
        display: none;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-left-color: #4C4C4C;
        border-width: 8px;
        margin-top: -9px;
    }
    /* *********  bling help icon *********************** */
</style>


<style>
    body{
        background: #DADADA;
    }
    .anto{
        float: right;
        margin-right: 15px;
        border-radius: 50%;
        border: 2px solid #e7eaec;
        width: 80px;
        height: 80px;
        text-align: center;
        position: absolute;
        z-index: 1000;
        right: 0;
        outline: none !important;
    }   
    h3, h4, h5 {
        margin-top: 20px;
        font-weight: 600;
    }
    .reportTileLink > a{
        color: #676a6c;
        text-decoration: none;
    }

    div#bs-example-navbar-collapse-1 {
        width: 100%;
    }
    
    
    /* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */

@media only screen and (min-width: 768px) {
  header {
    margin-bottom: 4em;
  }
}
@media only screen and (min-width: 1170px) {
  header {
    height: 400px;
    padding-top: 11em;
  }
  header #cd-logo {
    position: absolute;
    top: 40px;
    left: 5%;
  }
  header h1 {
    font-size: 40px;
    font-size: 2.5rem;
    font-weight: 300;
  }
}

#cd-nav ul {
  /* mobile first */
  position: fixed;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 20px;
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
  background: #ffffff;
  visibility: hidden;
  /* remove overflow:hidden if you want to create a drop-down menu - but then remember to fix/eliminate the list items animation */
  overflow: hidden;
  z-index: 1;
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s;
}
#cd-nav ul li {
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#cd-nav ul.is-visible {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
  transition: transform 0.3s, visibility 0s 0s;
}
#cd-nav ul.is-visible li:nth-child(1) {
  /* list items animation */
  -webkit-animation: cd-slide-in 0.2s;
  -moz-animation: cd-slide-in 0.2s;
  animation: cd-slide-in 0.2s;
}
#cd-nav ul.is-visible li:nth-child(2) {
  -webkit-animation: cd-slide-in 0.3s;
  -moz-animation: cd-slide-in 0.3s;
  animation: cd-slide-in 0.3s;
}
#cd-nav ul.is-visible li:nth-child(3) {
  -webkit-animation: cd-slide-in 0.4s;
  -moz-animation: cd-slide-in 0.4s;
  animation: cd-slide-in 0.4s;
}
#cd-nav ul.is-visible li:nth-child(4) {
  -webkit-animation: cd-slide-in 0.5s;
  -moz-animation: cd-slide-in 0.5s;
  animation: cd-slide-in 0.5s;
}
#cd-nav ul.is-visible li:nth-child(5) {
  -webkit-animation: cd-slide-in 0.6s;
  -moz-animation: cd-slide-in 0.6s;
  animation: cd-slide-in 0.6s;
}
#cd-nav li a {
  display: block;
  padding: 1.6em;
  color:#2e2e2e;
  border-bottom: 1px solid #eff2f6;
}
#cd-nav li:last-child a {
  border-bottom: none;
}
@media only screen and (min-width: 1170px) {
  #cd-nav ul {
    /* the navigation moves to the top */
    position: absolute;
    width: auto;
    max-width: none;
    bottom: auto;
    top: 36px;
    background: transparent;
    visibility: visible;
    box-shadow: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
  }
  #cd-nav li {
    display: inline-block;
  }
  #cd-nav li a {
    opacity: 1;
    padding: .4em;
    margin-left: 1.6em;
    border-bottom: none;
  }
  #cd-nav li a:hover {
    color: #00bd9b;
  }
  #cd-nav.is-fixed ul {
    /* when the user scrolls down, the navigation moves to the bottom right in Fixed position - as on touch devices */
    position: fixed;
    width: 90%;
    max-width: 400px;
    bottom: 20px;
    top: auto;
    background: #ffffff;
    visibility: hidden;
    box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  #cd-nav.is-fixed ul li {
    display: block;
  }
  #cd-nav.is-fixed ul li a {
    padding: 1.6em;
    margin-left: 0;
    border-bottom: 1px solid #eff2f6;
  }
  #cd-nav ul.has-transitions {
    /* this class is used to bring back transitions when the navigation moves at the bottom right */
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
    transition: transform 0.3s, visibility 0s 0.3s;
  }
  #cd-nav ul.is-visible {
    /* this class is used to bring back the navigation animation - as on touch devices */
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
    transition: transform 0.3s, visibility 0s 0s;
  }
  #cd-nav ul.is-hidden {
    /* this class is used to animate the scale down the navigation when the user scrolls down with the navigation still open */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
}

.cd-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  background: #ffffff;
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(232, 74, 100, 0.4);
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
}
.cd-nav-trigger span {
  /* the span element is used to create the menu icon */
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: #e84a64;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  content: '';
  position: absolute;
  left: 0;
  background: inherit;
  width: 100%;
  height: 100%;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, background 0s;
  -moz-transition: -moz-transform 0.3s, background 0s;
  transition: transform 0.3s, background 0s;
}
.cd-nav-trigger span::before {
  top: -6px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.cd-nav-trigger span::after {
  bottom: -6px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.cd-nav-trigger.menu-is-open {
  box-shadow: none;
}
.cd-nav-trigger.menu-is-open span {
  background: rgba(232, 74, 100, 0);
}
.cd-nav-trigger.menu-is-open span::before, .cd-nav-trigger.menu-is-open span::after {
  background: #e84a64;
}
.cd-nav-trigger.menu-is-open span::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.cd-nav-trigger.menu-is-open span::after {
  bottom: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 1170px) {
  .cd-nav-trigger {
    /* the the menu triger is hidden by default on desktop devices */
    visibility: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
    transition: transform 0.3s, visibility 0s 0.3s;
  }
  .is-fixed .cd-nav-trigger {
    visibility: visible;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-animation: cd-bounce-in 0.3s linear;
    -moz-animation: cd-bounce-in 0.3s linear;
    animation: cd-bounce-in 0.3s linear;
  }
}

#cd-gallery-items li {
  margin-bottom: 1.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
}
#cd-gallery-items li img {
  width: 100%;
  display: block;
  border-radius: 0.25em;
}
@media only screen and (min-width: 768px) {
  #cd-gallery-items li {
    width: 48%;
    float: left;
    margin-bottom: 2em;
    margin-right: 4%;
  }
  #cd-gallery-items li:nth-child(2n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1170px) {
  #cd-gallery-items li {
    width: 31%;
    float: left;
    margin-bottom: 2.5em;
    margin-right: 3.5%;
  }
  #cd-gallery-items li:nth-child(2n) {
    margin-right: 3.5%;
  }
  #cd-gallery-items li:nth-child(3n) {
    margin-right: 0;
  }
}

@-webkit-keyframes cd-slide-in {
  0% {
    -webkit-transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes cd-slide-in {
  0% {
    -moz-transform: translateX(100px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@keyframes cd-slide-in {
  0% {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cd-bounce-in {
  0% {
    -webkit-transform: scale(0);
  }
  60% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-in {
  0% {
    -moz-transform: scale(0);
  }
  60% {
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-in {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  60% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-main-nav{
    color:#fff;
}
#cd-nav.is-fixed ul{
    background:#333 !important;
}
</style>




<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Filter</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select Filter <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        <li>
                            <a class="mesem" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agent/{{ agent_id }}?timefilter=lastmonth">
                                {{ menulastmonth }}
                            </a>
                        </li>
                        <li>
                            <a class="mesem" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agent/{{ agent_id }}?timefilter=month">
                                {{ menuthismonth }}
                            </a>
                        </li>
                        <li>
                            <a class="msem" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agent/{{ agent_id }}?timefilter=week">
                                {{ menuthisweek }}
                            </a>
                        </li>
                        <li>
                            <a class="ms" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agent/{{ agent_id }}?timefilter=day">
                                {{ menutoday }}
                            </a>
                        </li>
                        <li>
                            <a class="msem" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agent/{{ agent_id }}?timefilter=all">
                                {{ menutotal }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>






<div class="row reportTileLink">

    <div class="col-lg-12">
        <h3 class="text-center">{{ report_type }}</h3>
    </div>

    <br />
    <!--<button id="anto" type="button" class="btn anto btn-primary">Refresh</button>-->

    <a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agentReg/{{ agent_id }}?statusfilter=pending&timefilter={{ timefilter }}" class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{ ttitlependinginfo }}</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ reg_data.pending_info }}</h1>
                <small>{{ subtitlependinginfo }}</small>
            </div>
        </div>
    </a>

    <a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agentReg/{{ agent_id }}?statusfilter=received&timefilter={{ timefilter }}" class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{ ttitlereceived }} </h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ reg_data.full_info }}</h1>
                <small>{{ subtitlereceived }}</small>
            </div>
        </div>
    </a>

    <a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agentReg/{{ agent_id }}?statusfilter=waitingSubmission&timefilter={{ timefilter }}" class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{ ttitlependingsent }}</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ reg_data.pending_reg}}</h1>
                <small>{{ subtitlependingsent }}</small>
            </div>
        </div>
    </a>


    <a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agentReg/{{ agent_id }}?statusfilter=submitted&timefilter={{ timefilter }}" class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{ ttitlesent }}</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ reg_data.full_reg}}</h1>
                <small>{{ subtitlesent }}</small>
            </div>
        </div>
    </a>


    <a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agentReg/{{ agent_id }}?statusfilter=declined&timefilter={{ timefilter }}" class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{ ttitledeclined }} </h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ reg_data.declined_reg}}</h1>
                <small>{{ subtitledeclined }}</small>
            </div>
        </div>
    </a>
</div>

<script>
    //  document.getElementById("anto").addEventListener("click", function () {
    //    location.reload();
//    });
</script>


<!-- Bling help icon  --
<div class=" material-button-anim">
    <input type="checkbox" class="menu-open" name="menu-open" id="menu-open" />
    <label for="menu-open" class="material-button material-button-toggle" type="button">
        <div class="material-button material-anim one">1</div>
        <div class="material-button material-anim two">2</div>
        <i class="fa fa-line-chart bottom_icon" aria-hidden="true"></i>
    </label>
        <a class="menu-item" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agent/{{ agent_id }}?timefilter=day">
        <span href="javascript:void(0)" class="support_label getting_started_btn">
            <span class="text">{{ menutoday }}</span>
        </span>
        <span>
            <i class="fa fa-calendar-o"></i>
        </span>
    </a>

    <a class="menu-item" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agent/{{ agent_id }}?timefilter=lastmonth">
        <span href="javascript:void(0)" class="support_label getting_started_btn">
            <span class="text">{{ menulastmonth }}</span>
        </span>
        <span>
            <i class="fa fa-calendar-o"></i>
        </span>
    </a>

    <a class="menu-item" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agent/{{ agent_id }}?timefilter=month">
        <span href="javascript:void(0)" class="support_label getting_started_btn">
            <span class="text">{{ menuthismonth }}</span>
        </span>
        <span>
            <i class="fa fa-calendar-o"></i>
        </span>
    </a>

    <a class="menu-item" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agent/{{ agent_id }}?timefilter=week">
        <span href="javascript:void(0)" class="support_label getting_started_btn">
            <span class="text">{{ menuthisweek }}</span>
        </span>
        <span>
            <i class="fa fa-calendar-o"></i>
        </span>
    </a>
    <a class="menu-item" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agent/{{ agent_id }}?timefilter=day">
        <span href="javascript:void(0)" class="support_label getting_started_btn">
            <span class="text">{{ menutoday }}</span>
        </span>
        <span>
            <i class="fa fa-calendar-o"></i>
        </span>
    </a>

    <a class="menu-item" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agent/{{ agent_id }}?timefilter=all">
        <span href="javascript:void(0)" class="support_label getting_started_btn">
            <span class="text">{{ menutotal }}</span>
        </span>
        <span>
            <i class="fa fa-calendar-o"></i>
        </span>
    </a>

</div>
-- Bling help icon -->



	<div id="cd-nav">
		<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

		<nav id="cd-main-nav">
			<ul>
				<li><a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agent/{{ agent_id }}?timefilter=lastmonth">{{ menulastmonth }}</a></li>
				<li><a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agent/{{ agent_id }}?timefilter=day">{{ menutoday }}</a></li>
				<li><a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agent/{{ agent_id }}?timefilter=week">{{ menuthisweek }}</a></li>
				<li><a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agent/{{ agent_id }}?timefilter=day">{{ menutoday }}</a></li>
				<li><a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/mreport/agent/{{ agent_id }}?timefilter=all">{{ menutotal }}</a></li>
			</ul>
		</nav>
	</div>


<script>
    jQuery(document).ready(function($){
	// browser window scroll (in pixels) after which the "menu" link is shown
	var offset = 300;

	var navigationContainer = $('#cd-nav'),
		mainNavigation = navigationContainer.find('#cd-main-nav ul');

                        
                        
	//hide or show the "menu" link
	checkMenu();
	$(window).scroll(function(){
		checkMenu();
	});

	//open or close the menu clicking on the bottom "menu" link
	$('.cd-nav-trigger').on('click', function(){
		$(this).toggleClass('menu-is-open');
		//we need to remove the transitionEnd event handler (we add it when scolling up with the menu open)
		mainNavigation.off('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend').toggleClass('is-visible');

	});

	function checkMenu() {
		if( $(window).scrollTop() >= offset && !navigationContainer.hasClass('is-fixed')) {
			navigationContainer.addClass('is-fixed').find('.cd-nav-trigger').one('webkitAnimationEnd oanimationend msAnimationEnd animationend', function(){
				mainNavigation.addClass('has-transitions');
			});
		} else if ($(window).scrollTop() <= offset) {
			//check if the menu is open when scrolling up
			if( mainNavigation.hasClass('is-visible')  && !$('html').hasClass('no-csstransitions') ) {
				//close the menu with animation
				mainNavigation.addClass('is-hidden').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
					//wait for the menu to be closed and do the rest
					mainNavigation.removeClass('is-visible is-hidden has-transitions');
					navigationContainer.removeClass('is-fixed');
					$('.cd-nav-trigger').removeClass('menu-is-open');
				});
			//check if the menu is open when scrolling up - fallback if transitions are not supported
			} else if( mainNavigation.hasClass('is-visible')  && $('html').hasClass('no-csstransitions') ) {
					mainNavigation.removeClass('is-visible has-transitions');
					navigationContainer.removeClass('is-fixed');
					$('.cd-nav-trigger').removeClass('menu-is-open');
			//scrolling up with menu closed
			} else {
				navigationContainer.removeClass('is-fixed');
				mainNavigation.removeClass('has-transitions');
			}
		}
	}
});
</script>





{{ include('includes/bottom_footer.html.twig') }}