{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row dynamic_form_container">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">
                        <div class="col-lg-12">


                            <div class="row">
                                <div class="col-lg-12" style=" min-height: 200px;">

                                    <div class="ibox float-e-margins">
                                        <div class="">
                                            <h5>Top Registering Agents</h5>
                                        </div>
                                        <div class="ibox-content" style="">
                                            <div class="over_ly table_agent_cnt">
                                                <img src="{{ asset('assets/img/loader-light.gif') }}" />
                                            </div>

                                            <div><!-- style="height: 390px; overflow-y: scroll;" -->

                                                <table id="agent_count_table" class="table table-condensed">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th style="text-align:left;">Agent Name</th>
                                                            <th>Count</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                    <tfoot></tfoot>
                                                </table>

                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>



        <script>

            $(document).ready(function () {
                iterateJsonTopAgents(1, 1);
            });
            //TOP AGENTS
            function iterateJsonTopAgents(start, end) {

                jQuery.ajax({
                    url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/top_agents/" + start + "/" + end + "/all", //This URL is for Json file
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        console.log(data.toString());
                        var num = 0;
                        var total = 0;
                        var append_data = "";
                        $(".over_ly.table_agent_cnt").hide();
                        $.each(data, function (index, val) {
                            num = num + 1;
                            total = parseInt(total) + parseInt(val.count);

                            append_data = "<tr style='height:1px;'><td style='padding:2px;'>" + num + "</td><td style='text-align:left;' class='ant_td'>" + val.name + "</td><td class='ant_td'>" + val.count + "</td></tr>";
                            $(append_data).appendTo($("#agent_count_table tbody"));
                        });

                        footer_append_data = "<tr style='height:1px;'><th></th><th style='text-align:left;' class='ant_td'>TOTAL COUNTs</th><th class='ant_td'>" + total + "</th></tr>";
                        $(footer_append_data).appendTo($("#agent_count_table tfoot"));
                    },
                    error: function () {
                        //Do alert is error
                    }
                });


            }
        </script>


    {% endblock %}



