{% extends '::app.html.twig' %}


{% block body -%}
    <link href="{{ asset('assets/style.css') }}" rel="stylesheet">

    <body style="background:#fff;" class="pace-done">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>

    <div id="wrapper">


        <div id="body-wrap">

            <!-- #header -->
            <header id="header">


                <!-- .header-content -->
                <div class="header-content">

                    <!-- .container -->
                    <div class="container">


                        <!-- .row -->
                        <div class="row header-row">

                            <div class="col-sm-5 col-md-4 header-col-form">

                                <img src="{{ asset('assets/logo.png') }}" class="logott" alt="Logo">

                                <div class="header-form-wrapper">
                                    <img src="{{ asset('assets/scrshot.jpg') }}" class="scrshot">
                                </div>
                            </div>

                            <div class="col-sm-7 col-md-8 col-lg-7 col-md-offset-4 col-lg-offset-5"
                                 style="padding-top:50px;">

                                <div class="header-heading-title">
                                    <h2>Karibu Vodacom kwenye Usajili wa simu</h2>
                                </div>

                                <div class="list-icon no-margin-bottom">
                                    <h4>Tafadhali soma na fuata hatua jinsi ya kuweka applikesheni yako hapo chini.</h4>
                                    <ol>
                                        <!-- <i class="fa fa-check-square-o"></i> -->
                                        <li>Nenda kwenye setting ya simu yako na uwezeshe simu kupakua applikesheni
                                            zingine.
                                        </li>
                                        <li>Nenda kwenye setting ya Simu yako na uwezeshe GPS wako kwenye simu.</li>
                                        <li>Hakikisha kuwa mtandao wako (Data) umewezeshwa na uko tayari Kwa kutumia.
                                        </li>
                                        <li>Pakua Applikeshini yako kwa kubonyeza hapo chini kwenye tovuti.</li>
                                        <li>Mara baada ya kupakua applikesheni yako endelea kuingiza applikesheni</li>
                                    </ol>
                                </div>

                                <div class="btn-section" style="margin:30px 0 30px 45px">
                                    <a href="{{ entities }}" class="btn-custom btn-lg smooth-scroll"><i class="fa fa-cloud-download"></i> Download App</a>
                                </div>
                                <br><br>

                            </div>

                        </div>
                        <!-- .row end -->

                    </div>
                    <!-- .container end -->

                </div>
                <!-- .header-content end -->

            </header>
            <!-- #header end -->

            <!-- .container -->
            <div class="container">

                <!-- .row -->
                <div class="row">

                    <div class="col-md-8 col-lg-7 col-md-offset-4 col-lg-offset-5">
                        <div class="intro-text">
                            <h3>FEATURES OF EKYC PLATFORM</h3>
                            <p>(Mpangilio wa Mfumo wa usajili wa kieletroniki)
                                Mobile Application built for Android </p>
                            <p>(Mfumo wa simu iliotengenezwa kutumia Android)
                                Capture text based information, images, ID documents and signature </p>
                            <p>(Unaochukua taarifa, picha, kitambulisho na sahihi)
                                Facial and ID recognition technology built-in to improve quality of data</p>
                            <p>(Utambuzi wa picha na kitambulisho ulichotengenezwa kuleta ubora wa taarifa)
                                Fallback mechanisms delivering registrations in areas with scarce internet connectivity
                                |</p>
                            <p>(meseji za usajili zinazotumwa kwenye sehemu zenye matatizo ya mawasiliano ya intaneti)
                                Optimized to work on the lowest end photo-capable smartphones </p>
                            <p>(Uwezo wa kufanya kazi kwenye simu zenye uwezo mdogo wa kuchukua picha)
                                Robust, real-time interactive dashboards allowing for monitoring, data mining and
                                instant execution of business decision</p>
                            <p>(Ni Imara na rahisi kwa mawasilano kupitia dashbodi, mawasiliano kiundani na kurahisisha
                                kazi katika mfumo wa kibiashara)</p>

                        </div>
                    </div>

                </div>
                <!-- .row end -->

            </div>
            <!-- .container end -->

            <!-- #features -->


            <!-- #footer -->
            <footer id="footer">

                <!-- .container -->
                <div class="container">

                    <p class="copyright-text">© 2016 by <a target="_blanc" href="http://aimgroup.co.tz">Aimgroup</a> -
                        All rights reserved.</p>

                    <div class="socials">
                        <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                    </div>

                </div>
                <!-- .container end -->

            </footer>
            <!-- #footer end -->

        </div>


    </div>


    </body>


{% endblock %}