{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>
        <div class="col-lg-8 pull-right">
            <div class="pull-right action_btns_vertical_center">
                <div class="dropdown">

                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row dynamic_form_container">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">
                        <div class="col-lg-8">

                            <div id="changePassword" class=" fades">
                                <div class="">
                                    <div class="">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Change Password</h4>
                                        </div>
                                        <form role="form" id="changePasswordForm" lpformnum="1" _lpchecked="1">
                                            <div class="modal-body row">
                                                <div class="col-lg-12">
                                                    <!--<div class="form-group">
                                                        <label>Username:</label>
                                                        <input type="text" class="form-control" name="username" required >
                                                    </div>-->


                                                    <input type="hidden" class="form-control" value="" name="toptop" id="toptop" required />
                                                    <div class="form-group">
                                                        <label>Old Password:</label>
                                                        <input type="password" class="form-control" value="" name="old_password" id="old_password" required />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>New Password:</label>
                                                        <input type="password" class="form-control" name="password" id="password" required >
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Confirm Password:</label>
                                                        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" required >
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="changePassword(event);">Change Password</button>
                                            </div>

                                            <script>
                                                $('input[name=old_password]').keyup(function () {
                                                    $('#toptop').val($('input[name=old_password]').val());
                                                });
                                            </script>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <script src="{{ asset('assets/js/core/agents.js?ver=2312') }}"></script>

    {% endblock %}

