{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>



        <div id="buttons"></div>
        <hr/>


    </div>
    <div class="wrapper wrapper-content">
        <div class="row dynamic_form_container">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">
                        <div class="col-lg-12">

                            <div class="row">

                                <div class="">
                                    <div class="col-md-12">


                                        <h3>Day Summary</h3>

                                        <div class="col-md-10 form-label-right center-margin">
                                            <div class="form-row">
                                                <div class="form-label col-md-2">
                                                    <label for="" style="text-align:right">
                                                        Enter Date:
                                                    </label>
                                                </div>
                                                <div class="form-input col-md-6">

                                                    <input type="hidden" name="submitted" value="1">
                                                    <input value="2016-07-18" placeholder="" type="date" name="report_date" class="fromDate form-control hasDatepicker" value="" id="report_date">
                                                </div>
                                                <div class="form-input col-md-2">
                                                    <button type="submit" class="btn primary-bg medium searchSummary">
                                                        <span class="button-content">Submit</span>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br /><br />

                            <div class="row" id="JSFiddle">
                                <div class="col-md-12">

                                    <style>
                                        table.report{
                                            border: 1px solid #e5e5e5;
                                            text-align: center !important;
                                            width: 100%;
                                        }
                                        table.report td, table.report th {
                                            padding: 5px; border: 1px solid #e5e5e5;
                                        }

                                        table.table-key{
                                            border: 1px solid #e5e5e5;
                                            text-align: left !important;
                                            margin-top:30px;
                                            width: 100%;
                                        }
                                        table.table-key td, table.table-key th {
                                            padding: 5px; border: 1px solid #e5e5e5;
                                        }
                                        .lloading.topsummary{
                                            text-align: center;
                                            font-size: 65px;
                                            margin-top: -170px;
                                            color: #939393;
                                        }
                                    </style>



                                    <h2>2016-09-05 10:21:27</h2>
                                    <table class="report">
                                        <thead>
                                            <tr>
                                                <th style="background:rgba(199, 199, 199, 0.9); border: 1px solid #ABAAAA; " colspan="4">Ereg</th>
                                                <th rowspan="2" colspan="2" style="background:rgba(229, 229, 229, 0.9); border: 1px solid #D6D6D6; text-align: left; width: 150px;">Registration Type</th>
                                                <th colspan="4" style="background:rgba(229, 229, 229, 0.4); ">ICAP</th>
                                                <th colspan="2" style="background:rgba(229, 229, 229, 0.8); border: 1px solid #D6D6D6; ">Mpesa</th>
                                                <th colspan="3">DBMS</th>
                                            </tr>
                                            <tr>
                                                <th style="background:rgba(199, 199, 199, 0.9); border: 1px solid #ABAAAA; ">Date</th>
                                                <th style="background:rgba(199, 199, 199, 0.9); border: 1px solid #ABAAAA; ">Total Reg</th>
                                                <th style="background:rgba(199, 199, 199, 0.9); border: 1px solid #ABAAAA; ">Pending Reg</th>
                                                <th style="background:rgba(199, 199, 199, 0.9); border: 1px solid #ABAAAA; ">Declined Reg</th>
                                                <th style="background:rgba(229, 229, 229, 0.4); ">TREG</th>
                                                <th style="background:rgba(229, 229, 229, 0.4); ">FREG</th>
                                                <th style="background:rgba(229, 229, 229, 0.4); ">Unreg</th>
                                                <th style="background:rgba(229, 229, 229, 0.4); ">Pending</th>
                                                <th style="background:rgba(229, 229, 229, 0.8); border: 1px solid #D6D6D6; ">Successful</th>
                                                <th style="background:rgba(229, 229, 229, 0.8); border: 1px solid #D6D6D6; ">Pending</th>
                                                <th>Sent</th>
                                                <th>Not Sent</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td rowspan="2" style="background:rgba(199, 199, 199, 0.9); border: 1px solid #ABAAAA; "><span id="ddate"></span></td>
                                                <td rowspan="2" style="background:rgba(199, 199, 199, 0.9); border: 1px solid #ABAAAA; "><span id="total"></span></td>

                                                <td rowspan="2" style="background:rgba(199, 199, 199, 0.9); border: 1px solid #ABAAAA; "><span id="pending"></span></td>
                                                <td rowspan="2" style="background:rgba(199, 199, 199, 0.9); border: 1px solid #ABAAAA; "><span id="declined"></span></td>
                                                <td style="background:rgba(229, 229, 229, 0.9); border: 1px solid #D6D6D6;text-align: left;">New-Reg</td>
                                                <td style="background:rgba(229, 229, 229, 0.9); border: 1px solid #D6D6D6;text-align: left;"><strong id="nnewreg">0</strong></td>
                                                <td style="background:rgba(229, 229, 229, 0.4); "><span id="tregNew">0</span></td>
                                                <td style="background:rgba(229, 229, 229, 0.4); "><span id="fregNew">0</span></td>
                                                <td style="background:rgba(229, 229, 229, 0.4); "> - </td>
                                                <td style="background:rgba(229, 229, 229, 0.4); ">0</td>
                                                <td style="background:rgba(229, 229, 229, 0.8); border: 1px solid #D6D6D6; "><span id="tregmpesasent">tregMpesasent</span></td>
                                                <td style="background:rgba(229, 229, 229, 0.8); border: 1px solid #D6D6D6; "><span id="tregmpesapending">tregMpesaPending</span></td>
                                                <td><span id="tregdbmssent">tregdbmssent</span></td>
                                                <td><span id="tregdbmspending">tregdbmspending</span></td>
                                            </tr>
                                            <tr>
                                                <td style="background:rgba(229, 229, 229, 0.9); border:1px solid #D6D6D6; text-align: left;">Re-Reg</td>
                                                <td style="background:rgba(229, 229, 229, 0.9); border:1px solid #D6D6D6; text-align: left;"><strong id="rrereg">0</strong></td>
                                                <td style="background:rgba(229, 229, 229, 0.4); "><span id="tregRe">0</span></td>
                                                <td style="background:rgba(229, 229, 229, 0.4); "><span id="fregRe">0</span></td>
                                                <td style="background:rgba(229, 229, 229, 0.4); "> - </td>
                                                <td style="background:rgba(229, 229, 229, 0.4); ">0</td>
                                                <td style="background:rgba(229, 229, 229, 0.8); border: 1px solid #D6D6D6; "><span id="fregmpesasent">fregMpesasent</span></td>
                                                <td style="background:rgba(229, 229, 229, 0.8); border: 1px solid #D6D6D6; "><span id="fregmpesapending">fregMpesaPending</span></td>
                                                <td><span id="fregdbmssent">fregdbmssent</span></td>
                                                <td><span id="fregdbmspending">fregdbmspending</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="lloading topsummary" style="display:none">
                                        <i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom"></i>
                                    </div>


                                    <table class="table-key">
                                        <thead>
                                            <tr style="background-color:black;">
                                                <th colspan="3" style="color:white">Table Key</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>Item</th>
                                                <th>Key</th>
                                                <th>Description</th>
                                            </tr>
                                            <tr>
                                                <td rowspan="4">EREG</td>
                                                <td>Date</td>
                                                <td>Date of the day report was filtered for</td>
                                            </tr>
                                            <tr>
                                                <td>Total Reg</td>
                                                <td>Total Registrations done for the day</td>
                                            </tr>
                                            <tr>
                                                <td>Pending Reg</td>
                                                <td>Total pending registration of the day, due to incomplete details (pending images)</td>
                                            </tr>
                                            <tr>
                                                <td>Declined Reg</td>
                                                <td>Total declined registration of the day</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2">Registration Type</td>
                                                <td>New-reg</td>
                                                <td>New registrations, count of registrations that are new on Ereg and Mpesa</td>
                                            </tr>
                                            <tr>
                                                <td>Re-reg</td>
                                                <td>Re-registrations, count of existing Mpesa accounts being registered on Ereg.</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="4">ICAP</td>
                                                <td>TREG</td>
                                                <td>Count of temporarily registered numbers (pending images) </td>
                                            </tr>
                                            <tr>
                                                <td>FREG</td>
                                                <td>Count of fully registered numbers- validated and processed on all systems.</td>
                                            </tr>
                                            <tr>
                                                <td>Unreg</td>
                                                <td>Count of un-registered numbers that have not been verified or validated.</td>
                                            </tr>
                                            <tr>
                                                <td>Pending</td>
                                                <td>Count of numbers that have not been pushed into the iCAP queue. </td>
                                            </tr>
                                            <tr>
                                                <td rowspan="3">Mpesa</td>
                                                <td>Successful</td>
                                                <td>Count of Successful numbers that have been processed on Mpesa </td>
                                            </tr>
                                            <tr>
                                                <td>Unsuccessful</td>
                                                <td>Count of unsuccessful numbers that were not able to be processed on Mpesa.</td>
                                            </tr>
                                            <tr>
                                                <td>Pending</td>
                                                <td>Count of numbers that have not been pushed into the Mpesa queue.</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2">DBMS</td>
                                                <td>Sent</td>
                                                <td>Count of number sent to DBMS (only fully registered numbers can be pushed to DBMS)</td>
                                            </tr>
                                            <tr>
                                                <td>Not Sent</td>
                                                <td>Count of number not sent to DBMS</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript" src="{{ asset('assets/xepOnline.jqPlugin.js') }}"></script>
        <script>

            var click = "return xepOnline.Formatter.Format('JSFiddle', {render:'download'})";
            jQuery('#buttons').append('<button onclick="' + click + '">PDF</button>');

            click = "return xepOnline.Formatter.Format('JSFiddle', {render:'download', mimeType:'application/postscript'})";
            jQuery('#buttons').append('<button onclick="' + click + '">Postscript</button>');


        </script>
        
         


        <script>

            $('.searchSummary').click(function () {

                if ($('#report_date').val() !== "") {
                    $(".lloading.topsummary").show();
                    plotreportAgents($('#report_date').val());
                } else {
                    alert('Enter Date to filter');
                }

            });

            function plotreportAgents(ddate) {

                jQuery.ajax({
                    url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/daydata_summary/" + ddate + "/" + new Date().getTime(), //This URL is for Json file
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $('#antoo').html(data.toString());

                        console.log(data);
                        $('#ddate').html(ddate);
                        $('#total').html(data.total);
                        $('#pending').html(data.pending_info);
                        $('#declined').html(data.declined);
                        $('#tregNew').html(data.tregnewreg);
                        $('#tregRe').html(data.tregrereg);
                        $('#fregNew').html(data.fregnewreg);
                        $('#fregRe').html(data.fregrereg);

                        $('#nnewreg').html(data.newreg);
                        $('#rrereg').html(data.rereg);

                        $('#tregmpesasent').html(data.tregmpesasent);
                        $('#tregmpesapending').html(data.tregmpesapending);
                        $('#fregmpesasent').html(data.fregmpesasent);
                        $('#fregmpesapending').html(data.fregmpesapending);

                        $('#tregdbmssent').html(data.tregdbmssent);
                        $('#tregdbmspending').html(data.tregdbmspending);
                        $('#fregdbmssent').html(data.fregdbmssent);
                        $('#fregdbmspending').html(data.fregdbmspending);


                        $(".lloading.topsummary").hide();
                    },
                    error: function () {
                        //Do alert is error
                    }
                });
            }

        </script>


    {% endblock %}