{% extends '::simreg.html.twig' %}

{% block body -%}
    <h1>{{ title }}</h1>

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/easyui.css') }}">
    <script type="text/javascript" src="{{ asset('assets/jquery.easyui.min.js') }}"></script>



    <form role="form" method="POST" action="{{ path('admin') }}edit_role_department_action/{{ dept_id }}" _lpchecked="1" id="DeptRolePermsForm">

        <div class="easyui-panel" style="padding:5px">
            <ul id="tt" class="easyui-tree i-checks" data-options="url:'{{ asset('assets/tree_data.json') }}',method:'get',animate:true,checkbox:true"></ul>
        </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">
                Save
            </button>
        </div>
    </form>

    <script type="text/javascript">
        function getChecked() {
            var nodes = $('#tt').tree('getChecked');
            var s = '';
            for (var i = 0; i < nodes.length; i++) {
                if (s != '')
                    s += ',';
                s += nodes[i].text;
            }
            alert(s);
        }
    </script>


    <style>
        .easyui-tree>li>.tree-node>input[type=checkbox]{
            display: none;
        }
        .panel-header, .panel-body {
            border-color: #FFFFFF;
        }
    </style>

    <!-- iCheck -->

    <link href="{{ asset('assets/css/plugins/iCheck/custom.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/js/plugins/iCheck/icheck.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });

        $(document).ready(function () {

        });


        function explode() {
            var saved_perms
            = {{ entity_perms }};
                    for (index = 0; index < saved_perms.length; index++) {
                $('input#perm_id_' + saved_perms[index]).prop('checked', true);
                //$('input#perm_id_' + saved_perms[index]).attr("checked", "checked");

            }
        }
        setTimeout(explode, 3000);

    </script>

{% endblock %}