{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row dynamic_form_container">
            <div class="col-lg-12" style="padding:0; margin:0;">
                <div class="ibox float-e-margins" style="padding:0; margin:0;">

                    <div class="ibox-content" style="padding:0; margin:0;">
                        
                        <iframe src="https://1163d09a13e96fa552211e1c30c2b5cd.us-east-1.aws.found.io/app/kibana#/dashboard/Vodacom-Dashboard?embed=true&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-15m,mode:quick,to:now))&_a=(filters:!(),options:(darkTheme:!f),panels:!((col:1,id:vodacom_performance,panelIndex:4,row:1,size_x:6,size_y:4,type:visualization),(col:7,id:vodacom_gender,panelIndex:5,row:1,size_x:3,size_y:2,type:visualization),(col:10,id:vodacom_idtypes,panelIndex:6,row:1,size_x:3,size_y:2,type:visualization),(col:7,id:vodacom_quality_check,panelIndex:7,row:3,size_x:3,size_y:2,type:visualization),(col:10,id:vodacom_region_registrations_pie,panelIndex:8,row:3,size_x:3,size_y:2,type:visualization),(col:1,id:vodacom_region_registrations_line,panelIndex:9,row:5,size_x:12,size_y:3,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:'Vodacom%20Dashboard',uiState:(P-5:(vis:(legendOpen:!f)),P-7:(vis:(legendOpen:!f))))" height="600" width="100%"></iframe>
                        
                        
                        
                        
                        <!--<iframe id="kibanaiframe" style="height:900px; width:100%; " src="https://1163d09a13e96fa552211e1c30c2b5cd.us-east-1.aws.found.io/login?next=/app/kibana#/dashboard/Vodacom-Dashboard"></iframe>-->
                        
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}

