{% extends '::index2.html.twig' %}

{% block body -%}

    <div class="wrapper wrapper-content" style="min-height:800px;">

        <style>
            .happroved{
                height: 50%;
            }
            .hpending{
                height: 30%;
            }
            .hrejected{
                height: 20%;
            }
            .cf-figs-fig p {
                display: none !important;
            }
            .cf-rag .cf-txts-txt {
                text-align: left;
                font-size: 17px;
            }
        </style>
        <!-- .START. -->
        <link href="{{ asset('assets/css/controlfrog.css') }}" media="all" rel="stylesheet">
        <div class="row">
            <div class="col-sm-6 cf-item" style="xheight: 641px;">
                <div class="inner row" style="height:421px">
                    <header>
                        <p><span></span>Registrations Audited</p>
                    </header>
                    <div class="content">
                        <div class="cf-svmc-sparkline">
                            <div class="cf-svmc">
                                <div class="metric" style="font-size:80px;"><t id="total"></t> <small>Registrations</small></div>

                            </div>
                            <div class="cf-sparkline row">
                                <div class="flot-chart" style="padding:0 20px; margin-top: 30px;">
                                    <div class="flot-chart-content" style="width:100%; height: 250px" id="flot-line-chart-multi"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- //end inner -->
                <div class="row">
                    <div class="col-sm-6 cf-item" style="height: 194px;">
                        <header>
                            <p><span></span>Avarage Time Per Registration</p>
                        </header>
                        <div class="content cf-gauge" id="cf-gauge-1">
                            <div id="placeholderguage" class="" style=" width: 250px; height: 200px;"></div>
                            <p class="metric" style="zoom:70%;">
                            <x id="verifyLock" style="font-size: 36px;line-height: 1; margin-top: 20px;"></x>
                            <small></small>
                            </p>
                        </div>
                    </div> <!-- //end cf-item -->
                    <div class="col-sm-6 cf-item" style="height: 193px;">
                        <header>
                            <p style="color:transparent;"><span></span>Single value pie chart</p>
                        </header>
                        <div class="content cf-svp clearfix" id="svp-1">
                            <div class="chart" data-percent="72" data-layout="l-6-4"><canvas height="290" width="290" style="height: 145px; width: 145px;"></canvas></div>
                            <div class="metrics">

                            </div>						
                        </div>
                    </div>					
                </div> <!-- // end row -->
            </div> <!-- //end col -->
            <div class="col-sm-6 cf-item" style="height: 640px;">
                <div class="inner">
                    <header>
                        <p><span></span>Top Registersing Agents</p>
                    </header>
                    <div class="content cf-rss">
                        <div  class="">
                            <table id="agent_count_table" class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th style="text-align:left;">Agent Name</th>
                                        <th>Count</th>
                                    </tr>
                                </thead>
                                <tbody><tr style="height:1px;"><td style="padding:2px;">1</td><td style="text-align:left;" class="ant_td">Charles Malecela</td><td class="ant_td">287</td></tr><tr style="height:1px;"><td style="padding:2px;">2</td><td style="text-align:left;" class="ant_td">Michael Mwaluko</td><td class="ant_td">169</td></tr><tr style="height:1px;"><td style="padding:2px;">3</td><td style="text-align:left;" class="ant_td">Ayoub Sharua</td><td class="ant_td">158</td></tr><tr style="height:1px;"><td style="padding:2px;">4</td><td style="text-align:left;" class="ant_td">Lilian Temba</td><td class="ant_td">147</td></tr><tr style="height:1px;"><td style="padding:2px;">5</td><td style="text-align:left;" class="ant_td">REVOCATUS SAID</td><td class="ant_td">124</td></tr><tr style="height:1px;"><td style="padding:2px;">6</td><td style="text-align:left;" class="ant_td">Obrien Kinunda</td><td class="ant_td">121</td></tr><tr style="height:1px;"><td style="padding:2px;">7</td><td style="text-align:left;" class="ant_td">anna msangawale</td><td class="ant_td">115</td></tr><tr style="height:1px;"><td style="padding:2px;">8</td><td style="text-align:left;" class="ant_td">Omary Mcholopa</td><td class="ant_td">92</td></tr><tr style="height:1px;"><td style="padding:2px;">9</td><td style="text-align:left;" class="ant_td">CLAVERY MAINGU</td><td class="ant_td">91</td></tr><tr style="height:1px;"><td style="padding:2px;">10</td><td style="text-align:left;" class="ant_td">RICHARD SIMAYA</td></tr></tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- //end inner -->
                <div class="row">
                    <div class="col-sm-6 cf-item" style="height: 290px;">
                        <header>
                            <p><span></span>Approved vs Rejected</p>
                        </header>
                        <div class="content">
                            <div id="cf-rag-1" class="cf-rag">
                                <div class="cf-bars">
                                    <ul>
                                        <li class="happroved"><div class="cf-bars-bar m-green mb"></div></li>
                                        <li class="hrejected"><div class="cf-bars-bar m-red mb"></div></li>
                                        <li class="hpending"><div class="cf-bars-bar m-amber mb"></div></li>
                                    </ul>
                                </div>
                                <div class="cf-figs " style="width:3%;">
                                    <ul>
                                        <li class="happroved"><div class="cf-figs-fig m-green"><p>70%</p></div></li>
                                        <li class="hrejected"><div class="cf-figs-fig m-red"><p>30%</p></div></li>
                                        <li class="hpending"><div class="cf-figs-fig m-amber"><p>20%</p></div></li>
                                    </ul>
                                </div>
                                <div class="cf-txts ">
                                    <ul>
                                        <li class="happroved"><div class="cf-txts-txt m-green"><p>Approved</p><p id="pass"></p></div></li>
                                        <li class="hrejected"><div class="cf-txts-txt m-red"><p>Rejected</p><p id="fail"></p></div></li>
                                        <li class="hpending"><div class="cf-txts-txt m-amber"><p>Pending</p><p id="pending"></p></div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> <!-- //end cf-item -->
                    <div class="col-sm-6 cf-item">
                        <header>
                            <p><span></span>Verifier Idle Time</p>
                        </header>
                        <div class="content">
                            <div class="cf-svmc" style="height: 270px; overflow-y: scroll;">

                                <div class="row counter_for_verifiers"></div>

                            </div>
                        </div>

                    </div> <!-- //end cf-item -->					
                </div> <!-- // end row -->
            </div> <!-- //end col -->
        </div>
        <!-- .END. -->

    </div> 

    <style>
        small, .small {
            font-size: 60%;
            font-weight: 300;
        }
        .row.verifier_agent_row{
            margin: 0 0 2px 4px;
            line-height: 22px;
        }
        #flotGagueLabel0{
            font-size: 14px !important;
        }
    </style>
{% endblock %}

{% block stylesheetafter  %}

{% endblock %}

{% block javascripts %}

    <!-- Flot -->
    <script src="{{ asset('assets/js/plugins/flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/flot/jquery.flot.tooltip.min.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/flot/jquery.flot.time.js') }}"></script>
    <script src="{{ asset('assets/js/plugins/flot/date.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/flot/jquery.flot.growraf.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/flot/jquery.flot.gauge.js') }}"></script>

    <script src="{{ asset('assets/js/plugins/chartJs/Chart.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/gauge.min.js') }}"></script>

    <script type="text/javascript">
        var start = "{{ date_start }}";
        var end = "{{ date_today }}";
        var a = "";

        $(document).ready(function () {
            plotGuageChart(start, end, a);
            getTopSummaryCount(start, end, a);
            getHourleySummary(start, end, a);
            fetchIdleTime();
        });

        setInterval(function () {
            plotGuageChart(start, end, a);
            getTopSummaryCount(start, end, a);
            getHourleySummary(start, end, a);
            fetchIdleTime();
        }, 100000);

        function fetchIdleTime() {
            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/verifier_today_count",
                type: "GET",
                dataType: "json",
                success: function (t) {
                    t && ($(".row.counter_for_verifiers").html(""), $.each(t, function (t, e) {
                        append_data = "<div class='row verifier_agent_row'><div class='col-lg-1 flag'><span class='active_status active'><i class='fa fa-circle'></i></span></div><div class='col-lg-6'>" + e.first_name + " " + e.last_name + "</div><div class='col-lg-3 countt'>" + e.counter + "</div></div>", $(append_data).appendTo($(".row.counter_for_verifiers"))
                    }))
                },
                error: function () {
                }
            });
        }

        function plotGuageChart(start, end, a) {
            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/avarage_verification_time/" + start + "/" + end + "/" + new Date().getTime(),
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $("#verifyLock").html(data.verifyLock);

                    var data = [
                        {
                            label: "Avarage Verification Time",
                            data: [[0, parseInt(data.verifyLock)]],
                            gauges: {
                                value: {
                                    show: false
                                }
                            }
                        }
                    ];
                    var options = {
                        series: {
                            grow: {
                                active: true,
                                duration: 1500
                            },
                            gauges: {
                                debug: {
                                    log: false,
                                    layout: false
                                },
                                show: true,
                                cell: {
                                    background: {
                                        color: null
                                    },
                                    border: {
                                        show: false,
                                        width: 0
                                    }
                                },
                                shadow: {
                                    show: false
                                },
                                frame: {
                                    show: false
                                },
                                gauge: {
                                    min: 0,
                                    max: 80
                                }
                            },
                            label: {
                                show: true,
                                margin: "auto", // a specified number, or 'auto'
                                background: {
                                    color: null,
                                    opacity: 0
                                },
                                font: {
                                    size: "12px", // a specified number, or 'auto'
                                }
                            }
                        }
                    };

                    $("#placeholderguage").plot(data, options);

                },
                error: function () {
                }
            });
        }

        function getHourleySummary(start, end, a) {
            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/hourly_summary/" + start + "/" + end + "/" + new Date().getTime(),
                type: "GET",
                dataType: "json",
                success: function (data) {
                    console.log('getHourleySummary');
                    console.log(data);
                    console.log('getHourleySummary');

                    var d1 = [];

                    $.each(data, function (index, val) {
                        d1.push([index, val]);
                    });

                    plotthegraph(d1);

                    //t(r), 1 === o ? $("#ttime").html(" for date <strong style='color: #d07404;'>" + e + "</strong> to <strong style='color: #d07404;'>" + a + "</strong>") : $("#ttime").show()
                },
                error: function () {
                }
            });
        }

        function getTopSummaryCount(start, end, a) {
            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/ccount_verifysummary/" + start + "/" + end + "/" + new Date().getTime(),
                type: "GET",
                dataType: "json",
                success: function (t) {
                    $("#total").html(t.total);
                    $("#pass").html(t.pass);
                    $("#fail").html(t.fail);
                    $("#pending").html(t.pending);

                    //happroved, hpending, hrejected
                    console.log('----sada-sdasbkdjabsd a');
                    console.log(t.pass + ' | ' + t.pending + ' | ' + t.fail);
                    console.log(((t.pass / t.total) * 100));
                    console.log(((t.pending / t.total) * 100));
                    console.log(((t.fail / t.total) * 100));
                    console.log('----sada-sdasbkdjabsd a');
                    
                    $('.happroved').css('height', ((t.pass / t.total) * 100) + '%');
                    $('.hpending').css('height', ((t.pending / t.total) * 100) + '%');
                    $('.hrejected').css('height', ((t.fail / t.total) * 100) + '%');
                },
                error: function () {
                }
            })
        }


        var hourlySummaryURL = function (start, end, hidettime) {
            return "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/hourly_summary/" + start + "/" + end + "/" + new Date().getTime();
        };
        var avarageVerificationTimeURL = function (start, end, hidettime) {
            return "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/avarage_verification_time/" + start + "/" + end + "/" + new Date().getTime();
        };
        var ccountVerifysummaryURL = function (start, end) {
            return "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/ccount_verifysummary/" + start + "/" + end + "/" + new Date().getTime();
        };
        var verifierIdleTimeURL = "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/verifier_idle_time";
        var verifierTodayCountURL = "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/verifier_today_count";
                var startDate = {{ ddate|date('Y-m-d') }};
                var endDate = {{ ddate|date('Y-m-d') }};</script>


    <script type="text/javascript">
                //define chart clolors ( you maybe add more colors if you want or flot will add it automatic )

                        function plotthegraph(d1) {

                            $('#flot-line-chart-multi').html('');

                            var chartColours = ['#31A380', '#3F97EB', '#72c380', '#6f7a8a', '#f7cb38', '#5a8022', '#2c7282'];

                            var tickSize = [1, "day"];
                            var tformat = "%d/%m/%y";

                            //graph options
                            var options = {
                                grid: {
                                    show: true,
                                    aboveData: true,
                                    color: "#3f3f3f",
                                    labelMargin: 10,
                                    axisMargin: 0,
                                    borderWidth: 0,
                                    borderColor: null,
                                    minBorderMargin: 5,
                                    clickable: true,
                                    hoverable: true,
                                    autoHighlight: true,
                                    mouseActiveRadius: 100
                                },
                                series: {
                                    lines: {
                                        show: true,
                                        fill: true,
                                        lineWidth: 2,
                                        steps: false
                                    },
                                    points: {
                                        show: true,
                                        radius: 4.5,
                                        symbol: "circle",
                                        lineWidth: 3.0
                                    }
                                },
                                legend: {
                                    position: "ne",
                                    margin: [0, -25],
                                    noColumns: 0,
                                    labelBoxBorderColor: null,
                                    labelFormatter: function (label, series) {
                                        // just add some space to labes
                                        return label + '&nbsp;&nbsp;';
                                    },
                                    width: 40,
                                    height: 1
                                },
                                colors: chartColours,
                                shadowSize: 0,
                                tooltip: true, //activate tooltip
                                tooltipOpts: {
                                    content: "%s: %y.0",
                                    //xDateFormat: "%d/%m",
                                    shifts: {
                                        x: -30,
                                        y: -50
                                    },
                                    defaultTheme: false
                                },
                                yaxis: {
                                    min: 0
                                },
                                xaxis: {
                                    //mode: "time",
                                    //minTickSize: tickSize,
                                    //timeformat: tformat
                                }
                            };
                            var plot = $.plot($("#flot-line-chart-multi"), [{
                                    label: "Registrations",
                                    data: d1,
                                    lines: {
                                        fillColor: "rgba(49, 163, 128, 0.15)"
                                    }, //#96CA59 rgba(150, 202, 89, 0.42)
                                    points: {
                                        fillColor: "#fff"
                                    }
                                }], options);


                        }

    </script>


{% endblock %}
