{% extends '::simreg.html.twig' %}

{% block body -%}
    <div class="col-xs-12 col-sm-8">
        <h1>{{title_descr}}</h1>
    </div>
    <style>
        .regimagee{
            width: 100%;
            border: 1px solid #797979;
            padding: 3px;
            border-radius: 4px;
        }
        #RegistrationsTableContainer .jtable td {
            width: 20%;
        }
        #cboxLoadedContent {
            padding: 20px;
        }
    </style>
    <style>
        .quick_form {
            background: rgb(239, 242, 249);
            border: none;
            border-radius: 4px;
            margin-bottom: 20px;
            padding: 15px 25px;
        }

        .quick_form .form-group {
            margin-bottom: 10px;
        }

        .quick_form input[type="file"] {
            background: transparent;
            outline: none;
        }

        .separator-2,
        .separator-3 {
            width: 100%;
            margin-bottom: 15px;
            position: relative;
            height: 1px;
        }

        .separator-2:after {
            height: 1px;
            background: #d1d1d1;
            background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.18)), color-stop(35%, rgba(0, 0, 0, 0.12)), color-stop(70%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(0, 0, 0, 0)));
            background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);
            background: -o-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);
            background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);
            background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);
            position: absolute;
            bottom: -1px;
            left: 0px;
            content: "";
            width: 100%;
        }

        .form-control {
            display: block;
            width: 87%;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            background-color: #fff;
            background-image: none;
            border: 1px solid #DDE2E8;
            border-radius: 0px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }

        .form-cxontrol {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background: #ffffff;
            height: 40px;
            padding-right: 30px;
            border-color: #e1e1e1;
            color: #777777;
            position: relative;
            -webkit-appearance: none;
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
        }

        .form-control-lg {
            height: 48px;
        }
        /* Small devices (tablets, phones 481px and up) */

        @media (min-width: 481px) {
            .form-control-lg {
                min-width: 350px;
            }
        }

        .form-control:focus {
            border-color: #999999;
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
        }

        select.form-control {
            padding-right: 5px;
            -webkit-appearance: menulist;
        }

        select[multiple].form-control {
            -webkit-appearance: listbox;
        }

        .form-control::-moz-placeholder {
            color: inherit;
        }

        .form-control:-ms-input-placeholder {
            color: inherit;
        }

        .form-control::-webkit-input-placeholder {
            color: inherit;
        }

        .input-group-addon {
            background-color: #f1f1f1;
            border-color: #e1e1e1;
        }

        .form-list > div {
            padding: 7px 15px;
            border-bottom: 1px solid #dddddd;
            background-color: #f3f3f3;
            margin: 6px 0;
            display: block;
        }

        form label,
        .radio label,
        .checkbox label {
            font-weight: 300;
        }

        .paginatn {
            margin-left: 30%;
            margin-top: 25px;
        }

        .paginatn a {
            margin: 5px;
            border: 1px solid #CECECE;
            padding: 5px 8px;
            border-radius: 5px;
            margin-top: 15px;
        }

        ::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */

            color: #B1B1B1;
        }

        :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */

            color: #B1B1B1;
            opacity: 1;
        }

        ::-moz-placeholder {
            /* Mozilla Firefox 19+ */

            color: #B1B1B1;
            opacity: 1;
        }

        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */

            color: #B1B1B1;
        }

        :placeholder-shown {
            /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */

            color: #B1B1B1;
        }

        #hearts {
            color: #ee8b2d;
        }

        #hearts-existing {
            color: #ee8b2d;
        }

        .glyphicon {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .lead {
            margin-bottom: 0px;
            font-size: 30px;
            font-weight: 300;
            line-height: 1.4;
        }

        .rate_descr {
            margin: 0 0 10px 0;
            height: 34px;
            border: 1px solid #9C9C9C;
            box-shadow: none;
            padding-left: 0;
            font-size: 10px;
            border-radius: 4px;
        }

        .rate_progress {
            width: 100%;
            text-align: center;
            margin-top: 0px;
        }

        .cchecks span {
            float: left;
            width: 90%;
        }

        .cchecks input {
            width: 10%;
            float: left;
            margin-top: 4px;
        }
        p.msgg {
            color: #F7F7F7;
            font-weight: 600;
            background: #23C6C8;
            padding: 5px 10px;
            margin-bottom: 10px;
            border: 1px solid rgba(35, 198, 200, 0);
            border-radius: 4px;
            margin: 10px;
        }
    </style>

    <div class="row">

        <div class="col-md-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne"  data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <h4 class="panel-title" style="text-align: center;font-size: 16px;font-weight: 300;color: #747779;">
                            <i class="fa fa-search"></i> Search Fields</h4>
                        <span style="width: 30px; float: right; margin-top: -20px;">
                            <i class="fa fa-arrow-down"></i>
                        </span>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">

                            <div class="col-md-2"></div>
                            <div class="col-md-8">

                                <form action="{{ path('admin') }}registrations_filter" method="post" name="dashboardbundle_admin">
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <label>Customer MSISDN:</label>
                                            <input name="customer_msisdn" id="customer_msisdn" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>First Name:</label>
                                                <input name="first_name" id="first_name" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Last Name:</label>
                                                <input name="last_name" id="last_name" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>ID Type:</label>
                                                <select name="id_type_name" id="id_type_name" class="form-control">
                                                    <option value="">Select ID Type</option>
                                                    {% for idd in idtype %}
                                                        <option value="{{ idd.id }}">{{ idd.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>ID Number:</label>
                                                <input name="id_number" id="id_number" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Registrar FirstName:</label>
                                                <input name="agent_firstname" id="agent_firstname" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Registrar LastName:</label>
                                                <input name="agent_lastname" id="agent_lastname" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Registrar Phone:</label>
                                                <input name="agent_phone" id="agent_phone" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Registration Type:</label>
                                                <select name="reg_type" class="form-control" id="resolution">
                                                    <option>New Registration</option>
                                                    <option>Re-Registration</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Registration State:</label>
                                                <select name="reg_state" class="form-control" id="resolution">
                                                    <option>Pending Received Information</option>
                                                    <option>Pending Registration Process</option>
                                                    <option>Temporary Activation</option>
                                                    <option>Full Activation</option>
                                                    <option>Declined</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Region:</label>
                                                <select class="form-control" id="search_region" name="region" onchange="getTerritoriesCode();"></select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Territory:</label>
                                                <select class="form-control  validate[required]" id="search_territory" name="territory"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>From Date:</label>
                                                <input name="from_date" id="from_date" type="date" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>To Date:</label>
                                                <input name="to_date" id="to_date" type="date" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="hr-line-dashed"></div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-4 col-sm-offset-5">
                                            <button id="LoadRecordsButtonBB" class="btn btn-primary" type="submit">Search Registrations</button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-2"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="RegistrationsTableContainer" class="lightBoxGallery"></div>

    <br /><br />



    <div class="audit_rate" style="display:none">
        
    </div>

    <a href="" style="color:#fff !important;" data-toggle="modal" id="myModallink" data-target="#myModal" keyboard="" show="1" backdrop="static">.</a>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class=" modal-lg modal-dialog">
            <div class="modal-content" style="padding:25px;"></div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div> <!-- /.modal -->


    <script type="text/javascript" src="{{ asset('assets/jquery.restable.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/jquery.restable.min.css') }}">
    <script type="text/javascript">

        /** ******  star rating  *********************** **/
        // Starrr plugin (https://github.com/dobtco/starrr)
        var __slice = [].slice;

        (function ($, window) {
            var Starrr;

            Starrr = (function () {
                Starrr.prototype.defaults = {
                    rating: void 0,
                    numStars: 3,
                    change: function (e, value) {
                    }
                };

                function Starrr($el, options) {
                    var i, _, _ref,
                            _this = this;

                    this.options = $.extend({}, this.defaults, options);
                    this.$el = $el;
                    _ref = this.defaults;
                    for (i in _ref) {
                        _ = _ref[i];
                        if (this.$el.data(i) != null) {
                            this.options[i] = this.$el.data(i);
                        }
                    }
                    this.createStars();
                    this.syncRating();
                    this.$el.on('mouseover.starrr', 'span', function (e) {
                        return _this.syncRating(_this.$el.find('span').index(e.currentTarget) + 1);
                    });
                    this.$el.on('mouseout.starrr', function () {
                        return _this.syncRating();
                    });
                    this.$el.on('click.starrr', 'span', function (e) {
                        return _this.setRating(_this.$el.find('span').index(e.currentTarget) + 1);
                    });
                    this.$el.on('starrr:change', this.options.change);
                }

                Starrr.prototype.createStars = function () {
                    var _i, _ref, _results;

                    _results = [];
                    for (_i = 1, _ref = this.options.numStars; 1 <= _ref ? _i <= _ref : _i >= _ref; 1 <= _ref ? _i++ : _i--) {
                        _results.push(this.$el.append("<span class='fa fa-star'></span>"));
                    }
                    return _results;
                };

                Starrr.prototype.setRating = function (rating) {
                    if (this.options.rating === rating) {
                        rating = void 0;
                    }
                    this.options.rating = rating;
                    this.syncRating();
                    return this.$el.trigger('starrr:change', rating);
                };

                Starrr.prototype.syncRating = function (rating) {
                    var i, _i, _j, _ref;

                    rating || (rating = this.options.rating);
                    if (rating) {
                        for (i = _i = 0, _ref = rating - 1; 0 <= _ref ? _i <= _ref : _i >= _ref; i = 0 <= _ref ? ++_i : --_i) {
                            this.$el.find('span').eq(i).removeClass('fa-star-o').addClass('fa-star');
                        }
                    }
                    if (rating && rating < 5) {
                        for (i = _j = rating; rating <= 4 ? _j <= 4 : _j >= 4; i = rating <= 4 ? ++_j : --_j) {
                            this.$el.find('span').eq(i).removeClass('fa-star').addClass('fa-star-o');
                        }
                    }
                    if (!rating) {
                        return this.$el.find('span').removeClass('fa-star').addClass('fa-star-o');
                    }
                };

                return Starrr;

            })();
            return $.fn.extend({
                starrr: function () {
                    var args, option;

                    option = arguments[0], args = 2 <= arguments.length ? __slice.call(arguments, 1) : [];
                    return this.each(function () {
                        var data;

                        data = $(this).data('star-rating');
                        if (!data) {
                            $(this).data('star-rating', (data = new Starrr($(this), option)));
                        }
                        if (typeof option === 'string') {
                            return data[option].apply(data, args);
                        }
                    });
                }
            });
        })(window.jQuery, window);



        /** ******  /star rating  *********************** **/

    </script>

    <link rel="stylesheet" href="{{ asset('assets/colorbox.css') }}" />
    <script src="{{ asset('assets/jquery.colorbox.js') }}"></script>
    <script src="{{ asset('assets/js/core/registrations.js') }}"></script>
    <script src="{{ asset('assets/js/core/agents.js') }}"></script>
    <script>
        $(document).ready(function () {
            loadRegistrationsMultipleTables();
            getRegionsCode();
        });
        
    </script>


{% endblock %}


