{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row dynamic_form_container">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">
                        <div class="col-lg-8">
                            
                            
                            
                            <h1 style="color:#FE910D; font-weight: 600;"></h1>
                            
                            
                            
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    {% endblock %}

