{% extends '::simreg.html.twig' %}

{% block body -%}
    <h1>{{title_descr}}</h1>


    <div class="row">

        <div class="col-md-12">
            
            <div class="panel-group {{hide_search_class}}" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne"  data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <h4 class="panel-title" style="text-align: center;font-size: 16px;font-weight: 300;color: #747779;">
                            <i class="fa fa-search"></i> Search Fields</h4>
                        <span style="width: 30px; float: right; margin-top: -20px;">
                            <i class="fa fa-arrow-down"></i>
                        </span>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">

                            <div class="col-md-2"></div>
                            <div class="col-md-8">

                                <form action="{{ path('admin') }}registrations_filter" method="post" name="dashboardbundle_admin">
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <label>Customer MSISDN:</label>
                                            <input name="customer_msisdn" id="customer_msisdn" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>First Name:</label>
                                                <input name="first_name" id="first_name" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Last Name:</label>
                                                <input name="last_name" id="last_name" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>ID Type:</label>
                                                <select name="id_type_name" id="id_type_name" class="form-control">
                                                    <option value="">Select ID Type</option>
                                                    {% for idd in idtype %}
                                                        <option value="{{ idd.id }}">{{ idd.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>ID Number:</label>
                                                <input name="id_number" id="id_number" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Registrar First Name:</label>
                                                <input name="agent_firstname" id="agent_firstname" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Registrar Last Name:</label>
                                                <input name="agent_lastname" id="agent_lastname" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Registrar Phone:</label>
                                                <input name="agent_phone" id="agent_phone" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Registration Type:</label>
                                                <select name="reg_type" class="form-control" id="resolution">
                                                    <option>New Registration</option>
                                                    <option>Re-Registration</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Registration State:</label>
                                                <select name="reg_state" class="form-control" id="resolution">
                                                    <option>Pending Received Information</option>
                                                    <option>Pending Registration Process</option>
                                                    <option>Temporary Activation</option>
                                                    <option>Full Activation</option>
                                                    <option>Declined</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Region:</label>
                                                <select class="form-control" id="search_region" name="region"
                                                        onchange="getTerritoriesCode();"></select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Territory:</label>
                                                <select class="form-control  validate[required]" id="search_territory"
                                                        name="territory"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>From Date:</label>
                                                <input name="from_date" id="from_date" type="text" class="datepickers form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>To Date:</label>
                                                <input name="to_date" id="to_date" type="text" class="datepickers form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>iCAP Status</label>
                                                <select name="icap_status" class=" form-control" id="icap_status">
                                                    <option value="">Select</option>
                                                    <option value="notsent">Not Sent</option>
                                                    <option value="declined">Declined</option>
                                                    <option value="freg">Freg</option>
                                                    <option value="treg">Treg</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>EReg Status</label>
                                                <select name="ereg_status" class=" form-control" id="ereg_status">
                                                    <option value="">Select</option>
                                                    <option value="pending">Pending</option>
                                                    <option value="submitted">Submitted</option>
                                                    <option value="declined">Declined</option>
                                                    <option value="received">Received</option>
                                                    <option value="audited">Audited</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="hr-line-dashed"></div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-8  col-sm-offset-4">
                                            <button id="LoadRecordsButtonBBreset" class="btn btn-default" type="submit">Reset Filters</button>

                                            <button id="LoadRecordsButtonBB" class="btn btn-primary" type="submit">Search Registrations</button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-2"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="PortInRequestTableContainer"></div>

    <br /><br />

    <script type="text/javascript" src="{{ asset('assets/jquery.restable.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/jquery.restable.min.css') }}">
    <script src="{{ asset('assets/js/core/ported_registrations.js') }}"></script>
    <script src="{{ asset('assets/js/core/agents.js') }}"></script>
    <script>
        $(document).ready(function () {
            loadPortInRequestTables();
            getRegionsCode();

            $(".datepickers").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
    </script>

{% endblock %}


