{% extends '::simreg_actions.html.twig' %}

{% block body -%}

<link href="{{ asset('assets/nv.d3.css') }}" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
<script src="{{ asset('assets/nv.d3.js') }}"></script>

<style>
    text {
        font: 12px sans-serif;
    }

    svg {
        display: block;
    }

    html, body, svg {
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
    }
</style>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-4">
        <h2>{{ title }}</h2>
    </div>

</div>
<div class="wrapper wrapper-content">
    <div class="row dynamic_form_container">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <div class="col-lg-12">


                        <div class="row" style="">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <div class="col-md-3" style="margin:0; padding:0; width: 60px; float: right;">
                                    <button id="filter_button" class="btn medium bg-blue" style="height:32px;">
                                        <span class="button-content"><i class="fa fa-search"></i> Filter</span>
                                    </button>
                                </div>

                                <div class="col-md-9" style="float:right; ">
                                    <div class="" style="overflow: auto">
                                        <form>
                                            <input type="date" id="datepick" class="form-control" name="datepick" value="{{ datepick }}" />
                                            <input name="dashboard_range" id="dashboard_range" hidden/>
                                            <input name="dashboard_filter" id="dashboard_range" value="12" hidden/>

                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                </form>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row"
                             style="text-align: center; border-bottom:1px solid #A3A3A3; padding-bottom: 6px; margin-bottom:12px;"></div>
                        <div class="clearfix"></div>
                        <!-- **************************************************************************************** -->


                        <div class="row">
                            <svg style="height:500px" id="chart1"></svg>

                            <script>

                                function plotGraph(jsonjson){
                                var histcatexplong = jsonjson;


                                var colors = d3.scale.category20();

                                var chart;
                                nv.addGraph(function () {
                                    chart = nv.models.stackedAreaChart()
                                            .useInteractiveGuideline(true)
                                            .x(function (d) {
                                                return d[0]
                                            })
                                            .y(function (d) {
                                                return d[1]
                                            })
                                            .controlLabels({stacked: "Stacked"})
                                            .duration(300);

                                    //chart.xAxis.tickFormat(function (d) { return d3.time.format('%x')(new Date(d))});
                                    chart.yAxis.tickFormat(d3.format(',.2f'));
                                    chart.xAxis.tickFormat(d3.format(',.2f'));

                                    chart.legend.vers('furious');

                                    d3.select('#chart1')
                                            .datum(histcatexplong)
                                            .transition().duration(1000)
                                            .call(chart)
                                            .each('start', function () {
                                                setTimeout(function () {
                                                    d3.selectAll('#chart1 *').each(function () {
                                                        if (this.__transition__)
                                                            this.__transition__.duration = 1;
                                                    })
                                                }, 0)
                                            });

                                    nv.utils.windowResize(chart.update);
                                    return chart;
                                });
                                    
                                }


                            </script>

                        </div>


                        <div class="row">

                            <div class="over_ly table_loading" style="display:none;text-align:center;margin:50px;">
                                <img src="{{ asset('assets/img/loader-light.gif') }}"/>
                            </div>

                            <div class="active_agents">
                                <h2 class="ttitles" style="display:none">Active Agents</h2>
                                <table id="active_a" class="table table-striped table-bordered table-hover"></table>
                            </div>
                            <br/><br/>
                            <div class="inactive_agents">
                                <h2 class="ttitles" style="display:none">inActive Agents</h2>
                                <table id="inactive_a" class="table table-striped table-bordered table-hover"></table>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{{ asset('assets/jquery.restable.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/jquery.restable.min.css') }}">
    <!-- Datatables -->
    <link href="{{ asset('assets/css/plugins/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/plugins/dataTables/dataTables.responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/plugins/dataTables/dataTables.tableTools.min.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/js/datatables/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/js/datatables/tools/js/dataTables.tableTools.js') }}"></script>
    <script>
        function dataTableTableA(tableID) {
            var asInitVals = new Array();
            $('#' + tableID).dataTable({
                "oLanguage": {
                    "sSearch": "Search all columns:"
                },
                "aoColumnDefs": [
                    {
                        'bSortable': false,
                        'aTargets': [0]
                    } //disables sorting for column one
                ],
                'iDisplayLength': 12,
                "sPaginationType": "full_numbers",
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "<?php echo base_url('assets2/js/Datatables/tools/swf/copy_csv_xls_pdf.swf'); ?>"
                }
            });
            $("tfoot input").keyup(function () {
                /* Filter on the column based on the index of this element's parent <th> */
                oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
            });
            $("tfoot input").each(function (i) {
                asInitVals[i] = this.value;
            });
            $("tfoot input").focus(function () {
                if (this.className == "search_init") {
                    this.className = "";
                    this.value = "";
                }
            });
            $("tfoot input").blur(function (i) {
                if (this.value == "") {
                    this.className = "search_init";
                    this.value = asInitVals[$("tfoot input").index(this)];
                }
            });

            $('#' + tableID).ReStable({rowHeaders: false});
        }
    </script>


    <!-- daterangepicker -->
    <script type="text/javascript" src="{{ asset('assets/js/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/datepicker/daterangepicker.js') }}"></script>
    <!-- datepicker -->
    <script type="text/javascript">
        $(document).ready(function () {

          
            
        });
    </script>


    <script>
        
        $(document).ready(function (){
            plotGraph($.parseJSON('{{ histcatexplong|raw }}'));
        });

        $('#filter_button').click(function () {
            //alert($('#reports_search').text());
            var dates_dates = $('#datepick').val();
           
            var dateStart = $.datepicker.formatDate('yy-mm-dd', new Date(dates_dates));
            var dateEnd = $.datepicker.formatDate('yy-mm-dd', new Date(dates_dates));
            //alert(dateStart + " | " + dateEnd);

            //$(".over_ly.graph_div").show();
            $(".over_ly.table_loading").show();
            $('.ttitles').hide();
            $("#active_a thead").remove();
            $("#active_a tbody").remove();
            $("#inactive_a thead").remove();
            $("#inactive_a tbody").remove();

            plotreportAgents(dateStart, dateEnd);
        });


        function plotreportAgents(start, end) {

            jQuery.ajax({
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/getRegJourneyData/" + start + "/" + end, //This URL is for Json file
                type: "GET",
                dataType: "json",
                success: function (data) {
                    console.log(data.toString());
                    
                    plotGraph(data);
                },
                error: function () {
                    //Do alert is error
                }
            });


        }

    </script>


    {% endblock %}

