{% extends '::simreg.html.twig' %}

{% block body -%}
    <div id="page-content" style="min-height: 190px;">

        <div class="content-box border-top border-blue-alt mrg25B">

            <h3 class="content-header">
                Registration Information |
                <small>Form : Registration Date : {{ entity.createdDate|date('Y-m-d H:i:s') }} [{{ entity.registrationid }}]</small>
                <div class="float-right">
                    <a class="btn medium transparent no-shadow" href="javascript:history.back()"><i
                            class="glyph-icon icon-arrow-left" style="float:left; margin-left:8px;"></i><span
                            class="button-content">Back</span></a>
                    <a href="javascript:;" class="btn medium bg-gray b1" title="">
                        <i class="glyph-icon icon-file-o" style="float:left; margin-left:8px;"></i>
                        <span class="button-content">Print</span>
                    </a>
                </div>
            </h3>
            <div class="divider" style="margin: 33px 10px 6px 10px;"></div>
            <div class=" content-box-wrapper PrintArea area1" id="Retain">

                <div class="col-md-12 visible-print-block"
                     style="border-bottom:1px solid grey; height:50px; overflow: hidden">
                    <div style="width:70px; float: left">

                    </div>
                    <div style="width:60%; float: left">
                        <h3 style="margin:0; margin-top: 10px">Sim Registration Information</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-7 col-xs-7">
                    <div>

                        <style>table.reg_info td {
                                padding: 8px 15px;
                            }
                            table.table .panel-default>.panel-heading, table.table .panel.panel-default{
                                border-color: transparent;
                                background: transparent;
                            }
                            table.table .panel-heading{
                                padding: 0;
                            }
                            table.table .panel-group{
                                margin-bottom: 0;
                            }
                            table.table .panel-title left, table.table .panel-title right{
                                width:49%;
                                float: left;
                                line-height: 27px;
                            }
                            table.table .panel-title{
                                height: 33px;
                            }
                        </style>
                        <table class="table reg_info table-striped ">
                            <tbody>
                                <tr>
                                    <td>Firstname</td>
                                    <td>{{ entity.firstName }}</td>
                                </tr>
                                <tr>
                                    <td>Middlename</td>
                                    <td>{{ entity.middleName }}</td>
                                </tr>
                                <tr>
                                    <td>Lastname</td>
                                    <td>{{ entity.lastName }}</td>
                                </tr>
                                <tr>
                                    <td>Date of Birth</td>
                                    <td>{{ entity.dob }}</td>
                                </tr>

                                <tr>
                                    <td>MSISDN</td>
                                    <td id="msisdnn">{{ entity.msisdn }}</td>
                                </tr>
                                <tr>
                                    <td>SIM Serial Number</td>
                                    <td>{{ entity.simSerial }}</td>
                                </tr>
                                <tr>
                                    <td>IMEI</td>
                                    <td>{{ entity.esn }}</td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>{{ gender }}</td>
                                </tr>
                                <tr>
                                    <td>Nationality</td>
                                    <td>{{ entity.nationality }}</td>
                                </tr>
                                <tr>
                                    <td>ID Number</td>
                                    <td>{{ entity.identification }}</td>
                                </tr>
                                <tr>
                                    <td>Type of ID</td>
                                    <td>{{ idtype }}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{ entity.email }}</td>
                                </tr>
                                <tr>
                                    <td>Region</td>
                                    <td>{{ region }}</td>
                                </tr>
                                <!--<tr>
                                <td>District</td>
                                <td>Ilala Municipal Council</td>
                            </tr>-->
                                <tr>
                                    <td>Ward</td>
                                    <td>{{ entity.wards }}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>{{ entity.address }}</td>
                                </tr>
                                <tr>
                                    <td>Alternative Address</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
				  <tr>
                                    <td>
                                        Module
                                    </td>
                                    <td>
                                    
                                      {{ entity.registrationType == 2 ? 'Biometric' : 'Standard' }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Registering Agent</td>
                                    <td>{{ entity.agentMsisdn }}</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr id="nidashit">
                                    <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><strong>EReg Status</strong></td>
                                    <td>{{ reg_status.aimStatus }}</td>
                                </tr>
                                <tr>
                                    <td><strong>iCAP Status</strong></td>
                                    <td>{{ reg_status.icapStatus }}</td>
                                </tr>
                                <tr>
                                    <td><strong>TREG Status</strong></td>
                                    <td>{{ reg_status.temporaryRegDesc }}</td>
                                </tr>
                                <tr>
                                    <td><strong>FREG Status</strong></td>
                                    <td>{{ reg_status.fullRegDesc }}</td>
                                </tr>
                                <tr>
                                    <td>Device Type</td>
                                    <td>{{ entity.deviceModel }}</td>
                                </tr>

                                <tr class="hidden-print">
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="hidden-print">
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="hidden-print">
                                    <td>Registration Done</td>
                                    <td>{{ entity.registrationTime|date('Y-m-d H:i:s') }}</td>
                                </tr>
                                <tr class="hidden-print">
                                    <td>Device Sent Time</td>
                                    <td>{{ entity.deviceSentTime|date('Y-m-d H:i:s') }}</td>
                                </tr>
                                <tr class="hidden-print">
                                    <td>Registration Received</td>
                                    <td>{{ entity.createdDate|date('Y-m-d H:i:s') }}</td>
                                </tr>
                                <tr class="hidden-print">
                                    <td>Sent to Treg</td>
                                    <td>{{ tregDate }}</td>
                                </tr>
                                <tr class="hidden-print">
                                    <td>All Images Arrive</td>
                                    <td>{{ allImageDate }}</td>
                                </tr>
                                <tr class="hidden-print">
                                    <td>Sent To Freg</td>
                                    <td>{{ fregDate }}</td>
                                </tr>
                            
                                <tr class="hidden-print">
                                    <td>Verification Time</td>
                                    <td>{{ verification_time }}</td>
                                </tr>
                                <tr class="hidden-print">
                                    <td>Verification State</td>
                                    <td>{{ verification_state }}</td>
                                </tr>
                                <tr class="hidden-print">
                                    <td>Verification Description</td>

                                  <td>{{ verification_description }}</td>

                                </tr>
                                
                                <!-- end of registration journey -->  

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-8 col-sm-5 col-xs-5">
                    <!-- ----------------------------------------- -->

                    <div>
                        <!--       registrant_id -->
                        <div class="">
                            <h4>Potrait Photo</h4>
                            <a href="javascript:;" class="white-modal-80">
                                <img src="{{ asset('assets/img/loading.gif') }}" name="potrait"></a>
                        </div>
			 {% if entity.registrationType != 2 %}
                        <div class="">
                            <h4>ID Front</h4>
                            <a href="javascript:;" class="white-modal-80">
                                <img src="{{ asset('assets/img/loading.gif') }}" name="front-pic"></a>
                        </div>
                        <div class="">
                            <h4>ID Back</h4>
                            <a href="javascript:;" class="white-modal-80">
                                <img src="{{ asset('assets/img/loading.gif') }}" name="rear-pic"></a>
                        </div>
                        <div class="">
                            <h4>Registant Signature</h4>
                            <a href="javascript:;" class="white-modal-80">
                                <img src="{{ asset('assets/img/loading.gif') }}" name="signature"></a>
                        </div>
			    {% endif %}
                    </div>


                    <div class="divider"></div>

                    <!-- ----------------------------------------- -->
                </div>
                <div class="clearfix"></div>
            </div>


            <!-- --------6.787043,39.274315------6.7858814	39.2742212----  -->
            <div class="col-md-12" style="padding: 15px; display: inline-block;">
                <script type="text/javascript">
                    window.onload = function () {

                        var id = "{{ entity.registrationId }}";
                        var URL = "/admin/registration_images/" + id;

                        $.getJSON(URL, function (data) {
                            $.each(data.item, function (index, item) { // Iterates through a collection
                                if (item.imageType != null) {
                                    var image = document.getElementsByName(item.imageType)[0];
                                    console.log(image);
                                    var downloadingImage = new Image();
                                    downloadingImage.onload = function () {
                                        image.src = this.src;
                                        image.className = 'reg_info_img';
                                    }
                                    downloadingImage.src = item.webPath;
                                }
                            });
                        });
                    };
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
                {#<script src="https://maps.googleapis.com/maps-api-v3/api/js/22/7/main.js"></script>#}
                {#<script type="text/javascript">#}
                {#function initialize() {#}
                {#var myLatlng = new google.maps.LatLng(,);#}
                {#var mapOptions = {#}
                {#zoom: 4,#}
                {#center: myLatlng#}
                {#}#}
                {#var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);#}

                {#var marker = new google.maps.Marker({#}
                {#position: myLatlng,#}
                {#map: map,#}
                {#title: 'Toka Sana!'#}
                {#});#}
                {#}#}

                {#google.maps.event.addDomListener(window, 'load', initialize);#}
                {#</script>#}


                <script>
                    $(".white-modal-80").click(function () {
                        $("#white-modal-80").dialog({
                            modal: !0, minWidth: 500, minHeight: 200, dialogClass: "modal-dialog", show: "fadeIn"
                        }), $(".ui-widget-overlay").addClass("bg-black opacity-60")
                    });
                </script>


                <div id="map-canvas" style="height: 260px;width: 100%; border: 1px solid #5e5e5e;"></div>
            </div>
            <!-- ----------------- -->
            <div class="divider"></div>

            <div class="visible-lg">
                <p>Actioned Comments.</p>

                <div style="padding:5px; margin: 5px; border:1px solid #c5c5c5;"></div>
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function () {
            var nidadata = "";
            console.log('talk coldplay');
            jQuery.ajax({
                //url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/getNidaStatus/755643461/" + new Date().getTime(), //This URL is for Json file
                url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/getNidaStatus/" + $('#msisdnn').html() + "/" + new Date().getTime(), //This URL is for Json file
                type: "GET",
                dataType: "json",
                success: function (data) {
                    console.log(data.data.nidaResponseString);

                    var nidaobj = jQuery.parseJSON(data.data.nidaResponseString);
                    console.log('nidaobj.json.item');
                    console.log(nidaobj.json.item);

                    nidadata += "<div class='panel-group' id='accordion'>";
                    nidadata += "<div class='panel panel-default'>";
                    nidadata += "<div class='panel-heading'>";
                    nidadata += "<h5 class='panel-title'>";
                    nidadata += "<a data-toggle='collapse' data-parent='#accordion' href='#collapseOne' aria-expanded='false' class='collapsed'>";
                    nidadata += "<left>NIDA</left>";
                    nidadata += "<right>" + data.data.resultType + "</right>";
                    nidadata += "</a>";
                    nidadata += "</h5>";
                    nidadata += "</div>";
                    nidadata += "<div id='collapseOne' class='panel-collapse collapse' aria-expanded='false' style='height: 0px;'>";
                    nidadata += "<div class='panel-body'>";
                    nidadata += "<h3>Country <small>"+nidaobj.json.item.country+"</small></h3>";
                    nidadata += "<h3>Date of Birth <small>"+nidaobj.json.item.dateOfBirth+"</small></h3>";
                    nidadata += "<h3>District <small>"+nidaobj.json.item.district+"</small></h3>";
                    nidadata += "<h3>firstName <small>"+nidaobj.json.item.firstName+"</small></h3>";
                    nidadata += "<h3>LastName <small>"+nidaobj.json.item.lastName+"</small></h3>";
                    nidadata += "<h3>MiddleName <small>"+nidaobj.json.item.middleName+"</small></h3>";
                    nidadata += "<h3>NationalId <small>"+nidaobj.json.item.nationalId+"</small></h3>";
                    nidadata += "<h3>Nationality <small>"+nidaobj.json.item.nationality+"</small></h3>";
                    nidadata += "<h3>Gender <small>"+nidaobj.json.item.sex+"</small></h3>";
                    nidadata += "</div>";
                    nidadata += "</div>";
                    nidadata += "</div>";
                    nidadata += "</div>";

                    $('#nidashit td').html(nidadata);
                },
                error: function () {
                    //Do alert is error
                }
            });
        });
    </script>


{% endblock %}
