{{ include('includes/top_header.html.twig') }}
<body class="gray-bg">

    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="col-md-6">
                <h2 class="font-bold">eReg Forgot Password</h2>

                <p>Enter your E-KYC email. You will receive a reset password link. Click on it to enter new password.</p>
            </div>
            <div class="col-md-6">

                <div class="ibox-content">
                    <form action="/mreport/set_forgot_password_post/{{ code }}" class="m-t" method="post" name="dashboardbundle_admin">
                        <div id="messagex"></div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="Enter New Password" required />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password_confirm" placeholder="Repeat New Password" required />
                        </div>
                        <div class="form_button">
                            <button type="submit" class="btn btn-primary block full-width m-b">Reset Password</button>
                        </div>
                    </form>
                    <p class="m-t">
                        <small>EKYC Platform © 2016</small>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="msgghdn" style="display:none">
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
            <span class="sr-only">Message:</span>
            <span class="msgg"></span>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#mmalema').submit(function (e) {
                e.preventDefault();
                //TOP AGENTS
                jQuery.ajax({
                    url: "/mreport/sendforgot_password/" + $('#_username').val() + "/" + new Date().getTime(), //This URL is for Json file
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        $('.msgg').html(data.msg);
                        $('#messagex').html($('.msgghdn').html());
                    },
                    error: function () {
                        //Do alert is error
                    }
                });
            });
        });
    </script>

    {{ include('includes/bottom_footer.html.twig') }}
</body>
</html>