<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">

        <ul class="nav" id="side-menu">
            <li>
                <div class="dropdown profile-element">
                            <span>
                                <a href="{{ path('admin') }}">
                                    <img alt="Simreg 2.0" style="width: 100%;" class="img-circle"
                                         src="{{ asset('assets/img/logo.png') }}"/>
                                </a>
                            </span>
                </div>
                <div class="logo-element">
                    <a href="{{ path('admin') }}">
                        <img alt="Simreg 2.0" style="width: 55%; opacity: 0.85; "
                             src="{{ asset('assets/img/logo-small.png') }}"/>
                    </a>
                </div>
            </li>
            <li>
                <a href="{{ path('admin') }}"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
            </li>
            <li>
                <a href="index.html"><i class="fa fa-table"></i> <span class="nav-label">Registrations</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="{{ path('admin/registration') }}">View Registrations</a></li>
                    <li><a href="{{ path('admin/registration') }}?path=pending">Pending Registrations</a></li>
                    <li><a href="{{ path('admin/registration') }}?path=tobesent">Pending To be Sent</a></li>
                    <li><a href="{{ path('admin/registration') }}?path=treg">Treg</a></li>
                    <li><a href="{{ path('admin/registration') }}?path=freg">Freg</a></li>
                    <li><a href="{{ path('admin/registration') }}?path=declined">Declined</a></li>
                </ul>
            </li>
            <li>
                <a href="index.html"><i class="fa fa-certificate"></i> <span class="nav-label">Audit & Verification</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <!--<li><a href="{{ path('admin/registration') }}verify_registrations">Verify Registrations</a></li>
                    --><li><a href="{{ path('admin/registration') }}registrationaudit">Audit Registrations </a></li>
                    <li><a href="{{ path('admin/registration') }}multipleregistration">Multiple Registration</a></li>
                    <li><a href="{{ path('admin') }}audit_reports">Audit Reports</a></li>
                    <li><a href="{{ path('admin') }}verification_reports">Verification Reports</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-map-marker"></i> <span class="nav-label">Location Information</span> <span
                            class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="{{ path('admin/region') }}display_map">Registrations</a></li>
                    <li><a href="{{ path('admin/region') }}display_map_agents">Agents</a></li>
                </ul>
            </li>
            <li>
                <a href="{{ path('admin/agents') }}"><i class="fa fa-users"></i> <span
                            class="nav-label">Manage Agents</span> </a>
            </li>
            <li>
                <a href="{{ path('admin') }}reports"><i class="fa fa-area-chart"></i> <span class="nav-label">Report Generation</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-area-chart"></i> <span class="nav-label">Reports</span> <span
                            class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="{{ path('admin') }}active_inactive">Active Inactive</a></li>
                    <li><a href="{{ path('admin') }}reg_journey">Registration Journey</a></li>
                    <li><a href="{{ path('admin') }}audit_reports">Audit Reports</a></li>
                    <!--<li><a href="{{ path('admin') }}verification_reports">Verification Reports</a></li>
                    --><li><a href="{{ path('admin') }}thirdparty_verifications">Third Party Verifications</a></li>
                </ul>
            </li>
            <!-- include administrator -->
            
            {{ isAdministrator ? include('includes/side_navigation_bar_admin.html.twig') : '' }}
            
            <!-- END -->
            <li>
                <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Manage System Users</span> <span
                            class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="{{ path('admin/users') }}sys_admin/23">Systems Admins</a></li>
                    <li><a href="{{ path('admin/users') }}admin_users/ROLE_SUPERAGENT">Super Agents</a></li>
                    <li><a href="{{ path('admin/users') }}vodashop">Vodacom Shops</a></li>
                </ul>
            </li>
            {{ isAdministrator ? include('includes/side_navigation_bar_diagnosis.html.twig') : '' }}
            <li>
                <a href="{{ path('faq') }}"><i class="fa fa-square-o"></i> <span class="nav-label">FAQs + Assists</span></a>
            </li>
        </ul>
    </div>
</nav>
