{% extends '::simreg.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body -%}
    <h1>User | Agent creation</h1>

    <ul class="record_actions pull-right">
        <li>
            <a href="{{ path('admin') }}view_agents">
                Back to the list
            </a>
        </li>
    </ul>

    {{ form(form) }}


{% endblock %}
