{% extends '::simreg.html.twig' %}

{% block body -%}
    <h1>Idtype list</h1>

    <ul class="pull-right">
        <li>
            <a href="{{ path('useragent_new') }}">
                Create New Agent
            </a>
        </li>
    </ul>

    <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="DataTables_Table_0">
        <thead>
            <tr>
                <th style="width:4%;">Id</th>
                <th>UserName</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th style="width:14%;">UseCount n  </th>
            </tr>
        </thead>
        <tbody>
            {% for entityy in entities_user %}
                <tr>
                    <td><a href="{{ path('idtype_show', { 'id': entityy.id }) }}">{{ entityy.id }}</a></td>
                    <td>{{ entityy.userName }}</td>
                    <td>{{ entityy.firstName }}</td>
                    <td>{{ entityy.lastName }}</td>
                    <td>{{ entityy.msisdn }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}
