{% extends '::simreg_actions.html.twig' %}

{% block body -%}


    <link href="{{ asset('assets/css/plugins/steps/jquery.steps.css') }}" rel="stylesheet">
    <!-- image cropping -->
    <script src="{{ asset('assets/js/cropping/cropper.min.js') }}"></script>
    <script src="{{ asset('assets/js/cropping/main2.js') }}"></script>
    <script src="{{ asset('assets/js/webcam.js') }}"></script>


    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>

    </div>

    <style>
        .docs-data, .img-preview.preview-md,.img-preview.preview-sm,.img-preview.preview-xs{
            display: none;
        }
    </style>
    <div class="wrapper wrapper-content">
        <div class="row dynamic_form_container">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">
                        <div class="col-lg-12">

                            <div class="row">


                                <div id="cameraModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">

                                            <div id="my_camera"></div>

                                            <!-- Code to handle taking the snapshot and displaying it locally -->
                                            <script language="JavaScript">
                                                $('#my_camera').click(function () {
                                                    take_snapshot();
                                                });
                                                function take_snapshot() {
                                                    // take snapshot and get image data
                                                    Webcam.snap(function (data_uri) {
                                                        // display results in page
                                                        //$('#results').append('<img src="' + data_uri + '"/>');
                                                        $('.akkkuku').html('<img src="' + data_uri + '"/>');
                                                        $('.imageCroppingPart').show();
                                                        runCropping(4444);
                                                        Webcam.reset();
                                                        $('#my_camera').hide();
                                                    });
                                                }







                                                function runCropping(receivee) {

                                                    var $image = $('.img-container > img'),
                                                            $dataX = $('#dataX'),
                                                            $dataY = $('#dataY'),
                                                            $dataHeight = $('#dataHeight'),
                                                            $dataWidth = $('#dataWidth'),
                                                            $dataRotate = $('#dataRotate'),
                                                            options = {
                                                                aspectRatio: 16 / 9,
                                                                preview: '.img-preview',
                                                                crop: function (data) {
                                                                    $dataX.val(Math.round(data.x));
                                                                    $dataY.val(Math.round(data.y));
                                                                    $dataHeight.val(Math.round(data.height));
                                                                    $dataWidth.val(Math.round(data.width));
                                                                    $dataRotate.val(Math.round(data.rotate));
                                                                }
                                                            };

                                                    $image.on({
                                                        'build.cropper': function (e) {
                                                            console.log(e.type);
                                                        },
                                                        'built.cropper': function (e) {
                                                            console.log(e.type);
                                                        }
                                                    }).cropper(options);


                                                    // Methods
                                                    $(document.body).on('click', '[data-method]', function () {
                                                        var data = $(this).data(),
                                                                $target,
                                                                result;

                                                        if (data.method) {
                                                            data = $.extend({}, data); // Clone a new one

                                                            if (typeof data.target !== 'undefined') {
                                                                $target = $(data.target);

                                                                if (typeof data.option === 'undefined') {
                                                                    try {
                                                                        data.option = JSON.parse($target.val());
                                                                    } catch (e) {
                                                                        console.log(e.message);
                                                                    }
                                                                }
                                                            }

                                                            result = $image.cropper(data.method, data.option);



                                                            if (data.method === 'getDataURL') {

                                                                //set imageType hidden field with image base64 string
                                                                $('#' + imageType).val(result);

                                                                //draw image to kadiv
                                                                $('.imageHolderdiv.' + imageType + ' .idimageph').html('');
                                                                $('.imageHolderdiv.' + imageType + ' .idimageph').append('<img src="' + result + '" class="imageCaptured" />');
                                                                $('#cameraModal').modal('hide');

                                                                //$('#getDataURLModal').modal().find('.modal-body').html('<img src="' + result + '">');
                                                            }

                                                            if ($.isPlainObject(result) && $target) {
                                                                try {
                                                                    $target.val(JSON.stringify(result));
                                                                } catch (e) {
                                                                    console.log(e.message);
                                                                }
                                                            }

                                                        }
                                                    }).on('keydown', function (e) {

                                                        switch (e.which) {
                                                            case 37:
                                                                e.preventDefault();
                                                                $image.cropper('move', -1, 0);
                                                                break;

                                                            case 38:
                                                                e.preventDefault();
                                                                $image.cropper('move', 0, -1);
                                                                break;

                                                            case 39:
                                                                e.preventDefault();
                                                                $image.cropper('move', 1, 0);
                                                                break;

                                                            case 40:
                                                                e.preventDefault();
                                                                $image.cropper('move', 0, 1);
                                                                break;
                                                        }

                                                    });


                                                    // Import image
                                                    var $inputImage = $('#inputImage'),
                                                            URL = window.URL || window.webkitURL,
                                                            blobURL;

                                                    if (URL) {
                                                        $inputImage.change(function () {
                                                            var files = this.files,
                                                                    file;

                                                            if (files && files.length) {
                                                                file = files[0];

                                                                if (/^image\/\w+$/.test(file.type)) {
                                                                    blobURL = URL.createObjectURL(file);
                                                                    $image.one('built.cropper', function () {
                                                                        URL.revokeObjectURL(blobURL); // Revoke when load complete
                                                                    }).cropper('reset', true).cropper('replace', blobURL);
                                                                    $inputImage.val('');
                                                                } else {
                                                                    showMessage('Please choose an image file.');
                                                                }
                                                            }
                                                        });
                                                    } else {
                                                        $inputImage.parent().remove();
                                                    }


                                                    // Options
                                                    $('.docs-options :checkbox').on('change', function () {
                                                        var $this = $(this);

                                                        options[$this.val()] = $this.prop('checked');
                                                        $image.cropper('destroy').cropper(options);
                                                    });


                                                    // Tooltips
                                                    $('[data-toggle="tooltip"]').tooltip();

                                                }

                                            </script>



                                            <!-- image cropping -->
                                            <div class="imageCroppingPart" style="display:none; margin:25px 25px 20px 3px">
                                                <div class="">
                                                    <div class="col-md-9">
                                                        <!-- <h3 class="page-header">Demo:</h3> -->
                                                        <div class="akkkuku img-container"></div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <!-- <h3 class="page-header">Preview:</h3> -->
                                                        <div class="docs-preview clearfix">
                                                            <div class="img-preview preview-lg"></div>
                                                            <div class="img-preview preview-md"></div>
                                                            <div class="img-preview preview-sm"></div>
                                                            <div class="img-preview preview-xs"></div>
                                                        </div>

                                                        <!-- <h3 class="page-header">Data:</h3> -->



                                                        <div class="row">

                                                            <div class="col-md-12">
                                                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                                                    <label class="btn btn-primary active" data-method="setAspectRatio" data-option="1.7777777777777777" title="Set Aspect Ratio">
                                                                        <input class="sr-only" id="aspestRatio1" name="aspestRatio" value="1.7777777777777777" type="radio">
                                                                        <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;setAspectRatio&quot;, 16 / 9)">
                                                                            16:9
                                                                        </span>
                                                                    </label>
                                                                    <label class="btn btn-primary" data-method="setAspectRatio" data-option="1.3333333333333333" title="Set Aspect Ratio">
                                                                        <input class="sr-only" id="aspestRatio2" name="aspestRatio" value="1.3333333333333333" type="radio">
                                                                        <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;setAspectRatio&quot;, 4 / 3)">
                                                                            4:3
                                                                        </span>
                                                                    </label>
                                                                    <label class="btn btn-primary" data-method="setAspectRatio" data-option="1" title="Set Aspect Ratio">
                                                                        <input class="sr-only" id="aspestRatio3" name="aspestRatio" value="1" type="radio">
                                                                        <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;setAspectRatio&quot;, 1 / 1)">
                                                                            1:1
                                                                        </span>
                                                                    </label>
                                                                    <label class="btn btn-primary" data-method="setAspectRatio" data-option="NaN" title="Set Aspect Ratio">
                                                                        <input class="sr-only" id="aspestRatio5" name="aspestRatio" value="NaN" type="radio">
                                                                        <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;setAspectRatio&quot;, NaN)">
                                                                            Free
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <div class="col-md-12" style="margin-top:15px;">

                                                                <div class="btn-group btn-group-crop">
                                                                    <button class="btn btn-primary" data-method="getDataURL" type="button">
                                                                        <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;getDataURL&quot;)">
                                                                            Capture Image
                                                                        </span>
                                                                    </button>
                                                                    <button class="btn btn-primary" data-method="getDataURL" data-option="image/jpeg" type="button">
                                                                        <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;getDataURL&quot;, &quot;image/jpeg&quot;)">
                                                                            JPG
                                                                        </span>
                                                                    </button>
                                                                </div>

                                                            </div>
                                                            <br />

                                                            <div class="col-md-12">
                                                                <button id="resetCall_imagecam" class="btn btn-primary" style="margin-top:15px;">Reset Cam</button>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-9 docs-buttons">


                                                    </div><!-- /.docs-buttons -->

                                                    <div class="col-md-3 docs-toggles">
                                                        <!-- <h3 class="page-header">Toggles:</h3> -->



                                                    </div><!-- /.docs-toggles -->
                                                </div>
                                            </div>
                                            <!-- /image cropping -->

                                        </div>
                                    </div>
                                </div>

                                <script language="JavaScript">
                                    $('#resetCall_imagecam').click(function () {
                                        callCamera();
                                    });

                                    function callCamera() {

                                        $('#my_camera').show();
                                        $('.imageCroppingPart').hide();
                                        Webcam.set({
                                            width: 900,
                                            height: 500,
                                            image_format: 'jpeg',
                                            jpeg_quality: 90
                                        });
                                        Webcam.attach('#my_camera');
                                    }
                                </script>
                            </div>








                            <div class="row">

                                <div id ="antooForm"></div>

                            </div>
                            <div class="row" style="didfsplay:none">
                                <p>
                                    This is basic example of Step
                                </p>
                                <div id="wizard"></div>

                            </div>
                            <!-- **************************************************************************************** -->




                        </div>
                    </div>
                </div>
            </div>
        </div>


        <style>
            .wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active,
            .wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active{
                background: #FE910D;
            }
            .wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
                background: rgba(254, 145, 13, 0.59);
            }
            .stepp{
                padding: 20px;
                border: 1px solid #eee;
                border-radius: 10px;
                margin: 20px;
            }
            .wizard > .content > .body{
                position: inherit;
            }
            .wizard > .steps > ul > li {
                width: initial !important;
            }
            label{
                float: left; text-align: left;
            }

            .imageHolderdiv{
                border: 1px solid #E2E3E4;
                padding: 10px;
                background: #fff;
                text-align: left;
                cursor: pointer;
            }
            img.imageCaptured{
                padding:5px;
                border:1px solid #eee;
                border-radius: 5px;
                max-width: 350px;
            }
        </style>
        <!-- Steps -->
        <script src="{{ asset('assets/js/plugins/staps/jquery.steps.min.js') }}"></script>

        <!-- Jquery Validate -->
        <script src="{{ asset('assets/js/plugins/validate/jquery.validate.min.js') }}"></script>

        <script>

                                    function getPopulateForm() {

                                        jQuery.ajax({
                                            url: "{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/admin/getweb_registration",
                                            type: "GET",
                                            dataType: "json",
                                            success: function (data) {
                                                console.log(data);
                                                
                                                var num = 1;

                                                $.each(data, function (reckey, recVal) {

                                                    //$('#antooForm').append("<div class='stepp " + reckey + "'></div>");
                                                    //$('#antooForm .stepp.' + reckey).append("<h2>Step Name: " + reckey + "</h2>");

                                                    var stephtml = "";
                                                    var stepinnerhtml = "";
                                                    stephtml += "<h1>Second Step</h1>";
                                                    stephtml += "<div class='step-content'>";
                                                    stephtml += "<div class='text-center m-t-md'>";
                                                    stephtml += "<h2>This is step "+num+"</h2>";
                                                    stephtml += "<div class='row formFields " + reckey + "'>";
                                                    stephtml += "This content is diferent than the first one.";
                                                    stephtml += "</p>";
                                                    stephtml += "</div>";
                                                    stephtml += "</div><div class='clearfix'></div>";


                                                    $('#wizard').append(stephtml);
                                                    $.each(recVal, function (key, val) {

                                                        stepinnerhtml += "<div class='form-group'>";
                                                        stepinnerhtml += "<label>" + val.skey + "</label>";

                                                        if ($.inArray(val.skey, ["front-pic", "potrait"]) !== -1) {
                                                            stepinnerhtml += "<div class='row'><div class='col-md-12'><div class='imageHolderdiv " + val.skey + "' data-foo='" + val.skey + "'><div class='idimageph'></div><p class='texty'>" + val.hint + "</p></div></div></div>";
                                                            stepinnerhtml += "<input type='hidden' name='" + val.skey + "' id='" + val.skey + "' placeholder='" + val.hint + "' class='form-control'>";
                                                        } else {
                                                            stepinnerhtml += "<input type='text' name='" + val.skey + "' id='" + val.skey + "' placeholder='" + val.hint + "' class='form-control'>";
                                                        }

                                                        stepinnerhtml += "</div>";
                                                        $('#wizard .formFields.' + reckey).prepend(stepinnerhtml);

                                                        stepinnerhtml = "";
                                                    });

                                                    stephtml = "";

                                                });


                                                stepifyMenu();

                                                /*
                                                 $('#inactive_a').append("<thead><tr><th>#</th><th>Name</th><th>Mobile</th><th>Region</th><th>Territory</th><th>Created On</th></tr></thead><tbody></tbody>");
                                                 //{"sum_regs":"7","agent_id":9,"agent_names":"HABIB MBULLY","username":"765590928","territory_name":"mtwara","region_name":"Coast","created_on":"2016-03-17"}
                                                 $.each(data.inactive, function (index, val) {
                                                 num = num + 1;
                                                 total = parseInt(total) + parseInt(val.count);
                                                 
                                                 append_data = "<tr style='height:1px;'><td style='padding:2px;'>" + num + "</td><td style='text-align:left;' class='ant_td'>" + val.agent_names + "</td><td class='ant_td'>" + val.username + "</td><td class='ant_td'>" + val.region_name + "</td><td class='ant_td'>" + val.territory_name + "</td><td class='ant_td'>" + val.created_on + "</td></tr>";
                                                 $(append_data).appendTo($("#inactive_a tbody"));
                                                 });
                                                 */

                                            },
                                            error: function () {
                                                //Do alert is error
                                            }
                                        });


                                    }

                                    var imageType = "front-pic";
                                    $(document).ready(function () {
                                        getPopulateForm();

                                        $(document).on('click', '.imageHolderdiv', function () {
                                            imageType = $(this).attr('data-foo');
                                            $('#cameraModal').modal('show');
                                            callCamera();
                                        });
                                    });

        </script>

        <script>
            function stepifyMenu() {

                $("#wizard").steps();
                $("#form").steps({
                    bodyTag: "fieldset",
                    onStepChanging: function (event, currentIndex, newIndex)
                    {
                        // Always allow going backward even if the current step contains invalid fields!
                        if (currentIndex > newIndex)
                        {
                            return true;
                        }

                        // Forbid suppressing "Warning" step if the user is to young
                        if (newIndex === 3 && Number($("#age").val()) < 18)
                        {
                            return false;
                        }

                        var form = $(this);

                        // Clean up if user went backward before
                        if (currentIndex < newIndex)
                        {
                            // To remove error styles
                            $(".body:eq(" + newIndex + ") label.error", form).remove();
                            $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                        }

                        // Disable validation on fields that are disabled or hidden.
                        form.validate().settings.ignore = ":disabled,:hidden";

                        // Start validation; Prevent going forward if false
                        return form.valid();
                    },
                    onStepChanged: function (event, currentIndex, priorIndex)
                    {
                        // Suppress (skip) "Warning" step if the user is old enough.
                        if (currentIndex === 2 && Number($("#age").val()) >= 18)
                        {
                            $(this).steps("next");
                        }

                        // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                        if (currentIndex === 2 && priorIndex === 3)
                        {
                            $(this).steps("previous");
                        }
                    },
                    onFinishing: function (event, currentIndex)
                    {
                        var form = $(this);

                        // Disable validation on fields that are disabled.
                        // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                        form.validate().settings.ignore = ":disabled";

                        // Start validation; Prevent form submission if false
                        return form.valid();
                    },
                    onFinished: function (event, currentIndex)
                    {
                        var form = $(this);

                        // Submit form input
                        form.submit();
                    }
                }).validate({
                    errorPlacement: function (error, element)
                    {
                        element.before(error);
                    },
                    rules: {
                        confirm: {
                            equalTo: "#password"
                        }
                    }
                });

            }
        </script>


    {% endblock %}

