{% trans_default_domain "messages" %}
{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-lg-8 pull-right">
            <div class="pull-right action_btns_vertical_center">
                <a href="#newArtist" class="btn btn-primary btn-ms disabled">{% trans from "messages" %}
                    publish_config{% endtrans %}</a>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content">
    <div class="row dynamic_form_container">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <div id="IdConfigurationContainer"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('assets/js/core/id_configuration.js') }}"></script>
    <script>
        $(document).ready(function () {
            loadIdConfigurationTables();
        });
    </script>
{% endblock %}