{% extends '::simreg_actions.html.twig' %}

{% block body -%}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-6">
            <h2>{{ title }}</h2>
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <div class="row dynamic_form_container">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">


                        <p>Check services agent allowed to use..</p>

                        <form action="/admin/services/agentservicePOST/{{recordID}}" data-parsley-validate method="post" name="dashboardbundle_admin" id="addUserModalForm">
                            <div class="modal-body row">
                                <div class="col-lg-12">

                                    <div class="form-group">
                                        <label for="region">User Group</label>
                                        <select class="form-control" name="services[]" multiple="multiple" required="required">
                                            {% for entity in services %}
                                                <option value="{{ entity.id }}">{{ entity.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>


                                    <input type="hidden" class="form-control" name="userid" hidden="hidden" id="userid" value="{{ recordID }}">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" Tonclick="addUser(event);">Submit</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>


        <script>
            $(document).ready(function () {
                $('#addUserModalForm .btn').on('click', function () {
                    $('#addUserModalForm').submit();

                });
            });
        </script>
    {% endblock %}