{{ include('includes/top_header.html.twig') }}
<body class="gray-bg">

    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="col-md-6">
                <h2 class="font-bold">eReg Administration</h2>

                <p>EKYC Platform is designed to capture identity information with verifiable data. It allows for rapid scalability and market penetration at an unparalleled speed for organizations in the public and private sector.</p>
            </div>
            <div class="col-md-6">

                <div class="ibox-content">
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span><strong>Something is broken</strong> 
                        <br/>Please let us know what you were doing when this error occurred.
                        <br/>We will fix it as soon as possible. Sorry for any inconvenience caused.
                    </div>
                    <p><small>Code: {{ status_code }}</small></p>
                    <p><a href="/">Go Home</a></p>
                    <p><a href="mailto:eregsupport@aimgroup.co.tz?subject=EKYC Error {{ status_code }}&body=Hi Ereg Support, %0D%0DI am reporting an error encountered while using EKYC. Error Code: {{ status_code }}.%0D%0DError path: {{ app.request.getUri() }}%0D%0DThanks,"><i class="fa fa-envelope-o" aria-hidden="true"></i>  Report this error</a></p>
                    <p class="m-t">
                        <small>EKYC Platform © 2016</small>
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                CopyrightEKYC. All Rights Reserved.
            </div>
            <div class="col-md-6 text-right">
                <small>© 2016</small>
            </div>
        </div>
    </div>

    {{ include('includes/bottom_footer.html.twig') }}
</body>
</html>
