{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row dynamic_form_container">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content">
                        <div class="col-lg-12">



                            <div class="row" style="">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <div class="col-md-3" style="margin:0; padding:0; width: 60px; float: right;">
                                        <button id="filter_button" class="btn medium bg-blue" style="height:32px;">
                                            <span class="button-content"><i class="fa fa-search"></i> Filter</span>
                                        </button>
                                    </div>

                                    <div class="col-md-9" style="float:right; ">
                                        <div class="" style="overflow: auto">
                                            <form>
                                                <div id="reportrange" class="pull-right" style="z-index: 1004; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                                    <span id="reports_search"></span> <b class="caret"></b>
                                                </div>
                                                <input name="dashboard_range" id="dashboard_range" hidden />
                                                <input name="dashboard_filter" id="dashboard_range" value="12" hidden />

                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                    </form>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row" style="text-align: center; border-bottom:1px solid #A3A3A3; padding-bottom: 6px; margin-bottom:12px;"></div>
                            <div class="clearfix"></div>
                            <!-- **************************************************************************************** -->

                            <div class="row">

                                <div class="over_ly table_loading" style="display:none;text-align:center;margin:50px;">
                                    <img src="{{ asset('assets/img/loader-light.gif') }}" />
                                </div>
                                <h2 class="ttitles">Report Visualization <small></small></h2>

                                <div class="iframe_container">
                                    <iframe height="800px" width="100%"></iframe>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- daterangepicker -->
        <script type="text/javascript" src="{{ asset('assets/js/moment.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/datepicker/daterangepicker.js') }}"></script>
        <!-- datepicker -->
        <script type="text/javascript">
            $(document).ready(function () {

                var cb = function (start, end, label) {
                    console.log(start.toISOString(), end.toISOString(), label);
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                    //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
                }

                var optionSet1 = {
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment(),
                    minDate: '01/01/2012',
                    maxDate: moment().format('DD/MM/YYYY'),
                    dateLimit: {
                        days: 460
                    },
                    showDropdowns: true,
                    showWeekNumbers: true,
                    timePicker: false,
                    timePickerIncrement: 1,
                    timePicker12Hour: true,
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    opens: 'left',
                    buttonClasses: ['btn btn-default'],
                    applyClass: 'btn-small btn-primary',
                    cancelClass: 'btn-small',
                    format: 'MM/DD/YYYY',
                    separator: ' to ',
                    locale: {
                        applyLabel: 'Submit',
                        cancelLabel: 'Clear',
                        fromLabel: 'From',
                        toLabel: 'To',
                        customRangeLabel: 'Custom',
                        daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                        monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                        firstDay: 1
                    }
                };
                $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
                $('#reportrange').daterangepicker(optionSet1, cb);
                $('#reportrange').on('show.daterangepicker', function () {
                    console.log("show event fired");
                });
                $('#reportrange').on('hide.daterangepicker', function () {
                    console.log("hide event fired");
                });
                $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                    console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
                });
                $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
                    console.log("cancel event fired");
                });
                $('#options1').click(function () {
                    $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
                });
                $('#options2').click(function () {
                    $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
                });
                $('#destroy').click(function () {
                    $('#reportrange').data('daterangepicker').remove();
                });
            });</script>


        <script>

            $(document).ready(function () {
                console.log('docment readied');
                DrawIframe("2016-01-01", moment().format("YYYY-MM-DD"));
            });
            $('#filter_button').click(function () {
                //alert($('#reports_search').text());
                var dates_dates = $('#reports_search').text();
                var dates_array = dates_dates.split(' - ');
                var dateStart = $.datepicker.formatDate('yy-mm-dd', new Date(dates_array[0]));
                var dateEnd = $.datepicker.formatDate('yy-mm-dd', new Date(dates_array[1]));
                //alert(dateStart + " | " + dateEnd);

                //$(".over_ly.graph_div").show();
                //$(".over_ly.table_loading").show();
                //$('.ttitles').hide();
                $("#active_a thead").remove();
                $("#active_a tbody").remove();
                $("#inactive_a thead").remove();
                $("#inactive_a tbody").remove();

                DrawIframe(dateStart, dateEnd);
            });

            function DrawIframe(startDate, endDate) {
                $('.ttitles small').html(startDate + ' - ' + endDate);

                $('.iframe_container').html('');
                //$(".over_ly.table_loading").hide();
                $('.iframe_container').html('<iframe height="800px" width="100%"></iframe>');
                
                $('.iframe_container iframe').attr('src', iframeSrc(startDate, endDate));
            }

            function iframeSrc(startDate, endDate) {
                //registrationId.createdDate: [now-2M TO now] OR createdDate:*
                return "https://embedkibana.registersim.com/app/kibana#/dashboard/Vodacom-Dashboard?embed=true&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-5m,mode:quick,to:now))&_a=(filters:!(),options:(darkTheme:!f),panels:!((col:1,id:vodacom_performance,panelIndex:4,row:1,size_x:6,size_y:4,type:visualization),(col:7,id:vodacom_gender,panelIndex:5,row:1,size_x:3,size_y:2,type:visualization),(col:10,id:vodacom_idtypes,panelIndex:6,row:1,size_x:3,size_y:2,type:visualization),(col:7,id:vodacom_quality_check,panelIndex:7,row:3,size_x:3,size_y:2,type:visualization),(col:10,id:vodacom_region_registrations_pie,panelIndex:8,row:3,size_x:3,size_y:2,type:visualization),(col:1,id:vodacom_region_registrations_line,panelIndex:9,row:5,size_x:12,size_y:3,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'registrationId.createdDate:%20%5B" + startDate + "T00:00%20TO%20" + endDate + "T23:59%5D%20OR%20createdDate:*')),title:'Vodacom%20Dashboard',uiState:(P-5:(vis:(legendOpen:!f)),P-7:(vis:(legendOpen:!f))))";
            }


        </script>


    {% endblock %}
