{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-lg-8 pull-right">
            <div class="pull-right action_btns_vertical_center">
                <a href="#newArtist" class="btn btn-primary btn-ms" onclick="saveOperatorConfig(event);">Save
                    Changes</a>
                <a href="#publish" class="btn btn-primary btn-ms" onclick="loadTopicSelector('{{ operator }}')"
                   id="btn-topic-select">Publish Form</a>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content">
    <div class="row dynamic_form_container">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <div class="col-lg-8">
                        <form role="form" lpformnum="1" _lpchecked="1" id="OperatorConfigurationsForm">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name">
                                <p class="help-block">Operator Name.</p>
                            </div>
                            <div class="form-group">
                                <label for="prefix">Prefix</label>
                                <input type="text" class="form-control" id="prefix" name="prefix">
                                <p class="help-block">Prefix NDC.</p>
                            </div>
                            <div class="form-group">
                                <label for="configUrl">Config Url</label>
                                <input type="url" class="form-control" id="configUrl" name="configUrl">
                                <p class="help-block">Configuration Url.</p>
                            </div>
                            <div class="form-group">
                                <label for="tokenAuthUrl">Token Authentication Endpoint</label>
                                <input type="url" class="form-control" id="tokenAuthUrl" name="tokenAuthUrl">
                                <p class="help-block">Token Authentication Endpoint</p>
                            </div>
                            <div class="form-group">
                                <label for="passwordSetUrl">Password Setup Endpoint</label>
                                <input type="url" class="form-control" id="passwordSetUrl" name="passwordSetUrl">
                                <p class="help-block">Password Setup Endpoint</p>
                            </div>
                            <div class="form-group">
                                <label for="signatureSaveUrl">Signature Save Url</label>
                                <input type="url" class="form-control" id="signatureSaveUrl" name="signatureSaveUrl">
                                <p class="help-block">Signature Save Url</p>
                            </div>
                            <div class="form-group">
                                <label for="iccidCallback">NNIM Url</label>
                                <input type="url" class="form-control" id="iccidCallback" name="iccidCallback">
                                <p class="help-block">Signature Save Url</p>
                            </div>
                            <div class="form-group">
                                <label for="reportUrl">Report Url</label>
                                <input type="url" class="form-control" id="reportUrl" name="reportUrl">
                                <p class="help-block">Report Url</p>
                            </div>

                            <div class="form-group">
                                <label for="simSerialPrefix">SIM SERIAL PREFIX</label>
                                <input type="url" class="form-control" id="simSerialPrefix" name="simSerialPrefix">
                                <p class="help-block">SIM SERIAL PREFIX</p>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="gpsStatus" checked value="1" name="gpsStatus">
                                        Enable GPS
                                    </label>
                                </div>
                                <p class="help-block">Enable GPS</p>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="promptRegType" checked value="1"
                                               name="promptRegType"> Enable re-registration
                                    </label>
                                </div>
                                <p class="help-block">Prompt for Re-Registration</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="referenceInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Reference</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="publishDyanmicFormModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Publish Form</h4>
                </div>
                <div class="modal-body">
                    <form id="publishDyanmicFormModalForm">
                        <div class="form-group">
                            <label for="form-topic" class="control-label">Topic:</label>
                            <input type="text" class="form-control" id="form-msisdn" name="form-msisdn">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            onclick="publishOperatorMQTT(event);">Publish
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('assets/js/core/operator.js') }}"></script>
    <script type="text/javascript">
        window.onload = function () {
            loadSavedOperatorConfigurations();
        }
    </script>
{% endblock %}