{% extends '::app.html.twig' %}

{% block title %}DashboardBundle:Help:english{% endblock %}

{% block body %}

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        ACCESS TOKEN
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p class="lead">1.1 ACCESS TOKEN</p>
                    <p>This is a number that is issued by the chief registrar of the respective area/territory/zone. It is often a total of 6 characters.</p>
                    <p>NOTE: The agent has to confirm that the number or code used for registration is placed into the registration device to make sure that the messages are received.</p>

                    <p class="lead">1.2	USES OF THE ACCESS TOKEN</p>
                    <p>The access token is used to grant you access to the registration system after downloading the application.</p>
                    <p>It is also used to correct or change the password in case the user has forgotten the password..</p>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne">
                    	PASSWORD RULES
                    </a>
                </h4>
            </div>
            <div id="collapseOne2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">

                    <p class="lead">2.1 HOW TO FILL IN THE PASSWORD</p>
                    <p>Fill in the access token you have received</p>
                    <p>Fill your registration number (the number you use when registering customers)</p>
                    <p>Press/Then Submit</p>
                    <p>Type the new password and re-type it again to verify</p>
                    <p>You will see all the registration settings/options ( Register, New services, reports …)</p>

                    <p class="lead">2.2 HOW TO CHANGE THE PASSWORD</p>
                    <p>You can change the password if it seems hard to remember or if you are suspicious that someone knows/has your password. While using your phone, follow these instructions:</p>
                    <p>Go to settings</p>
                    <p>Press “change Password”</p>
                    <p>Type your old password</p>
                    <p>Type your new password</p>
                    <p>Re-type your new password to verify then submit. Your password will be successfully changed.</p>
                    <p>NOTE: Make sure the internet connection is on while changing your password</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne3" aria-expanded="true" aria-controls="collapseOne">
                    	INCOMPLETE REGISTRATION (Unsuccessful registrations)
                    </a>
                </h4>
            </div>
            <div id="collapseOne3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>At times the customer might cancel a registration or they might not meet the registration requirement or some information in the system might be wrong, missing or mistaken. To correct or change any information or errors made, follow the steps below;</p>
                    <p>Go to the registration menu.</p>
                    <p>Press new services > you will see successful and unsuccessful registrations.</p>
                    <p>Press edit if you want to proceed with the registration or delete if you do not wish to finish the registration.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne4" aria-expanded="true" aria-controls="collapseOne">
                       HOW TO TAKE CUSTOMERS REGISTRATION PHOTO
                    </a>
                </h4>
            </div>
            <div id="collapseOne4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <P>Take a photo of the customer at a 1 meter distance.</P>
                    <P>Avoid taking pictures in bright light, for instance facing the direction of the sun.</P>
                    <P>Make sure a green box appears on your screen (for facial recognition).</P>
                    <P>Make sure all the details are filled as required for instance Middle name.</P>
                    <P>Make sure the respective customer signs not otherwise someone on behalf.</P>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne5" aria-expanded="true" aria-controls="collapseOne">
			HOW TO DOWNLOAD THE APPLICATION
                    </a>
                </h4>
            </div>
            <div id="collapseOne5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
		    <P>Changes made on the newer version are the updates made on the system to give you the best experience.</P>
		    <P>How to download (updating the version)</P>
                    <P>Go to application settings.</P>
		    <P>Press application information/details.</P>
                    <P>Then change the application version.</P>
                    <P>Or go to the internet section, type the application newer version site address and download.</P>
                    <P>Later you will store the file in your phone.</P>
                    <P>NOTE:  Please do not delete or remove the old version. Instead just reinstall the newer version.</P>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne6" aria-expanded="true" aria-controls="collapseOne">
                        HOW TO CHECK YOUR PHONE’S IMEI
                    </a>
                </h4>
            </div>
            <div id="collapseOne6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <P>Dial #*06#.</P>
                    <P>You will see a 15 digit number which is definitely your IMEI.</P>
                    <P>If you have a dual phone you will get a 15 digit number twice.</P>
                    <P>If the registration sim card or number is placed on the sim 1 slot, you while use sim 1 IMEI.</P>
                    <P>If the registration sim card or number is placed on the sim 2 slot, you while use sim 2 IMEI.</P>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
