{% extends '::app.html.twig' %}

{% block title %}DashboardBundle:Help:index{% endblock %}

{% block body %}

    <div class="clear-fix"></div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="text-align:right;">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        رمز الوصول 
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p class="lead">ما هو رمز  الوصول؟</p>
                    <p>رمز الوصول هو سلسلة فريدة من 6 أرقام ,تسمح لك بالوصول إلى تطبيق التعرف الإلكتروني علي العميل ..</p>
                    <p> يتم إنشاء رمز الوصول بطريقة تلقائية  بعد إنشاء حساب التعرف الإلكتروني علي العميل  ,حيث  يتم ارسال رمز الوصول عبر الرسائل القصيرةSMS .</p>
                    <p>ملحوظة: يتم إرسال رمز الوصول الي رقم الموبايل الذي قام بانشاء حساب في حالة عدم حصولك علي  رمز الوصول  الخاص بك أو نسيانه، يمكن أن ينشئ مسئول مبيعات منطقتك رمز  التعرف الإلكتروني علي العميل  وصول جديد لك </p>
                    <p class="lead">إستخدمات رمز الوصول </p>
                    <p>التعرف الإلكتروني علي العميل  يتم استخدام رمز الوصول لتمكينك من  الوصول إلى نظام التسجيل  وذلك بعد تنزيل تطبيق </p>
                    <p> يستخدم لتغيير كلمة المرور في حالة نسيان المستخدم كلمة المرور.</p>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne">
                    كلمة المرور
                    </a>
                </h4>
            </div>
            <div id="collapseOne2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">

                    <p class="lead"> كيفية أنشاء كلمة المرور</p>
                    <p> اكتب رمز الوصول الذي تلقيته عبر الرسائل القصيرة أو من مسئول المبيعات  في الحقل "رمز الوصول "</p>
                    <p>  اكتب رقم المميز  الخاص بك (الذي تستخدمه لتسجيل  المشتركين ) في الحقل  'رقم الموبايل '</p>
                    <p>إ ضغط على "إرسال"</p>
                    <p>  	كتب كلمة المرور الجديدة في الحقل "كلمة مرور جديدة"</p>
                    <p>  أعد كتابة كلمة المرور في الحقل "تأكيد كلمة المرور"</p>
                    <p>  اضغط على " إرسال "</p>
                    <p>  سوف تكون الآن قادرا على رؤية جميع خيارات التسجيل وإعدادات التطبيق</p>
                    <p class="lead"> كيفية تغيير كلمة المرور</p>
                    <p> يمكنك تغيير كلمة المرور الخاصة بك إذا كان من الصعب تذكرها  أو إذا كنت تشك في أن شخصا ما يعرف كلمة المرور الخاصة بك.</p>
                    <p> اضغط على "إعدادات"</p>
                    <p> اضغط على "تغيير كلمة المرور"</p>
                    <p> اكتب كلمة المرور القديمة في الحقل  "كلمة المرور القديمة"</p>
                    <p> اكتب كلمة المرور الجديدة في الحقل  "كلمة المرور الجديدة</p>
                    <p> أعد كتابة كلمة المرور الجديدة  في الحقل "تأكيد كلمة المرور"</p>
                    <p> اضغط على "إرسال"</p>
                    <p> سيتم تغيير كلمة المرور بنجاح</p>
                    <p> ملاحظة: تأكد من تشغيل اتصال البيانات أثناء تغيير كلمة المرور.</p>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne3" aria-expanded="true" aria-controls="collapseOne">
                        التسجيلات غير الكاملة
                    </a>
                </h4>
            </div>
            <div id="collapseOne3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p> قد يحدث ان يقرر فيه المشترك  عدم إكمال تسجيل  بياناته ، أو عندما تدخل العديد من المعلومات الخاطئة، أو قد</p>
                    <p> يحدث انقطاع غير متوقع مما يؤدي إلى عدم إكمال تسجيل بيانات  المشترك . للمتابعة لإكمال التسجيل أو حذفه اتبع الاتي</p>
                    <p>اضغط على "أخر المعاملات"</p>
                    <p> التسجيلات غير المكتملة سيرمز ليها باللون الأزرق</p>
                    <p> اضغط علي سهم  التسجيلات ذات اللون الازرق</p>
                    <p>سترى خيارين. لتعديل أو حذف التسجيل</p>
                    <p>اضغط على "تحرير" لتصحيح أو استكمال التسجيل</p>
                    <p>اضغط على "حذف" لتجاهل التسجيل</p>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne4" aria-expanded="true" aria-controls="collapseOne">
                        إلتقاط صورة للمشترك 
                    </a>
                </h4>
            </div>
            <div id="collapseOne4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>  تأكد من وجود مسافة  متر واحد  بينك وبين المشترك( المتر يساوي طول ذراع مفرود تقريباَ)</p>
                    <p>تجنب التقاط الصور في الضوء الساطع، على سبيل المثالالتقاط الصورة في اتجاه ضوء الشمس</p>
                    <p>تأكد من ظهور صندوق أخضر على الشاشة (للتعرف على الوجه(</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne5" aria-expanded="true" aria-controls="collapseOne">
                        ثحديث  التطبيق الخاص بك
                    </a>
                </h4>
            </div>
            <div id="collapseOne5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                   <p> تحديثات التطبيق هي التغييرات التي أجريت لتعزيز تجربة المستخدم الخاص بك. للتحديث اتبع الاتي</p>
                   <p>اضغط على "إعدادات" في القائمة</p>
                   <p>اضغط على "معلومات الإصدار"</p>
                   <p>اضغط على "تحقق الآن"</p>
                   <p>في حالة توفر تحديث جديد، سيبدأ التطبيق الجديد في التحميل والتثبيت تلقائيا</p>
                   <p>ملاحظة: لتجنب فقدان سجل التسجيلات، لا تحذف أو تزيل الإصدار القديم. بدلا من ذلك فقط قم بإعادة تثبيت الإصدار الأحدث</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne6" aria-expanded="true" aria-controls="collapseOne">
                        كيفية التحقق من رقم هوية الهاتف الدولية الخاص بك رقم الرقم المتسلسل للموبايل/ الرقم العالمي لتعريف الموبايل
                    </a>
                </h4>
            </div>
            <div id="collapseOne6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>اطلب# 60#</p>
                    <p>سيظهر رقم الرقم المتسلسل للموبايل/ الرقم العالمي لتعريف الموبايل  الخاص بك  في شاشة الهاتف و هو مكون من رقم</p>
                    <p>إذا كان لديك هاتف مزدوج سوف تحصل على   رقم IMEI مكرر  مرتين  اخري</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
