{% extends '::app.html.twig' %}

{% block title %}DashboardBundle:Help:swahili{% endblock %}

{% block body %}

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        NAMBA YA KUWEZESHA
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p class="lead">1.1 NAMBA YA KUWEZESHA</p>
                    <p>Hii ni namba ambayo hutolewa na kiongozi wa usajili wa eneo husika. Mara nyingi huwa ni  herefi  6 jumla.</p>
                    <p>ILANI: Wakala ahakikishe kwamba namba au kodi anayotumia  kwa usajili ameiweka kwenye simu yake na kuhakikisha anazipata hizo Mesaji (SMS).</p>

                    <p class="lead">1.2	KAZI YA NAMBA YA KUWEZESHA</p>
                    <p>1. Namba ya kuwezesha  inatumika kukuwezesha kuingia kwenye mfumo wa usajili baada ya kupakua aplikesheni..</p>
                    <p>2. Hutumika pia kusahihisha na kubadilisha namba au neno la siri (Password) kama mtumiaji atakaekuwa amesahau namba au neno  la siri.</p>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne">
                    	NENO SIRI (NYWILA)
                    </a>
                </h4>
            </div>
            <div id="collapseOne2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">

                    <p class="lead">2.1 NAMNA YA KUINGIZA NENO LA SIRI (NYWILA)</p>
                    <p>Weka namba ya kuwezesha uliyotumiwa.</p>
                    <p>Ingiza namba yako ya usajili (unayoitumia wakati unasajili wateja).</p>
                    <p>Bofya tuma (Submit) </p>
                    <p>Utaweka neno la siri jipya na kurudia tena.</p>
                    <p>Utapata mpangilio mzima wa usajili (sajili, huduma za karibuni,report na kadhalika).</p>

                    <p class="lead">2.2 NAMNA YA KUBADILISHA NENO LA SIRI (NYWILA)</p>
                    <p>Unaweza badilisha neno la siri kama linakuwa gumu kulikumbuka au unawasiwasi kuna mtu ameweza kuwa anajua neno lako la siri. Kwa kutumia simu yako, utafuata utaratibu ufuatao:</p>
                    <p>Bofya sehemu ya Mpangilio.</p>
                    <p>Bofya “Badilisha neno la siri”.</p>
                    <p>Ingiza neno la siri lako la zamani.</p>
                    <p>Ingiza Neno la Siri Jipya.</p>
                    <p>Rudia Neno la Siri jipya na tuma, Utakuwa umeshabadilisha neno lako la siri.</p>
                    <p>ILANI Hakikisha intaneti yako imewashwa wakati unabadilisha neno lako la siri.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne3" aria-expanded="true" aria-controls="collapseOne">
                    	USAJILI AMBAO HAUJAKAMILIKA (Haujatumwa)
                    </a>
                </h4>
            </div>
            <div id="collapseOne3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>Wakati mwingine unaweza  kumsajili mteja lakini akagaili, au akawa hana vigezo au umekosea baadhi ya taarifa katika mfumo wa usajili. Kurekebisha au kufuta  taarifa , utafuata utaratibu ufuatao:</p>
                    <p>Bofya menu ya usajili.</p>
                    <p>Bofya shughuli za karibuni > utaona usajili ambao umetumwa na ambao haujatumwa.</p>
                    <p>Bofya rekebisha usajili kama unataka kuendelea na usajili ule ule na futa kama hutaki kuendelea na ule usajili ambao haujakamilika.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne4" aria-expanded="true" aria-controls="collapseOne">
                       NAMNA YA KUPIGA WATEJA PICHA
                    </a>
                </h4>
            </div>
            <div id="collapseOne4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <P>Piga picha ya mteja akiwa umbali na simu yako sawa na urefu wa mkono wako.</P>
                    <P>Epuka kupiga picha kwenye Mwanga mkali, mfano kuelekea linapotokea Jua.</P>
                    <P>Hakikisha kiboksi cha kijani kinatokea kwenye kioo ya simu yako (utambuzi wa sura ya mteja).</P>
                    <P>Hakikisha sehemu zote zimejazwa vizuri, mfano  Jina la kati.</P>
                    <P>Hakikisha mteja anasaini yeye mwenyewe na sio wewe unayemsajili.</P>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne5" aria-expanded="true" aria-controls="collapseOne">
			NAMNA YA KUPAKUA APLIKESHENI
                    </a>
                </h4>
            </div>
            <div id="collapseOne5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
		    <P>Mabadiliko ya toleo jipya ni kukupa mfumo mpya na ulioboreshwa, hizo aina zinaitwa mfumo wa toleo jipya. Ni muhimu ili kusahihisha toleo kwa uzoefu ulio bora.</P>
		    <P>Namna ya Kupakua  (kubadili aina ya mfumo):</P>
                    <P>Nenda sehemu mpangilio wa aplikesheni.</P>
		    <P>Bofya kwenye Taarifa ya aplikesheni.</P>
                    <P>Utabadilisha mfumo wa aplikesheni.</P>
                    <P>Au bofya sehemu ya intaneti, halafu ingiza tovuti ya application mpya na pakua.</P>
                    <P>Baadae utahifadhi file (faili) kwenye simu yako.</P>
                    <P>ILANI: Tafadhali usifute ama kutoa aplikesheni ya zamani, ila pakua aplikesheni mpya juu yake.</P>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne6" aria-expanded="true" aria-controls="collapseOne">
                        NAMNA YA KUJUA IMEI YA SIMU
                    </a>
                </h4>
            </div>
            <div id="collapseOne6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <P>Kwenye simu bonyeza #*06#.</P>
                    <P>Utapata Namba yenye herufi 15 za namba ambayo ni IMEI yako.</P>
                    <P>Kama unasimu yenye line mbili utapata namba yenye herufi 15 za namba mara mbili. Sim 1 na Sim 2.</P>
                    <P>Kama namba/ line ya usajili umeweka kwenye Sim 1 utatumia IMEI ya Sim 1.</P>
                    <P>Kama namba/ line ya usajili umeweka kwenye Sim2  utatumia IMEI ya Sim 2.</P>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
