{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-lg-8 pull-right">
            <div class="pull-right action_btns_vertical_center">
                <a data-toggle="modal" href="#newArtist" class="btn btn-primary btn-ms" data-target="#referenceInfo">Reference
                    Information</a>
                <a href="#" class="btn btn-primary btn-ms" onclick="saveDynamicForm(event);" id="btn-save-changes">Save
                    Changes</a>
                <a href="#publish" class="btn btn-primary btn-ms" onclick="loadTopicSelector('{{ operator }}')" id="btn-topic-select">Publish Form</a>
                <!--<a href="#publish" class="btn btn-primary btn-ms" onclick="loadTopicSelectorMessage(event)"
                   id="btn-topic-select">Publish Message</a>-->
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content">
    <div class="row dynamic_form_container">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <div id="DynamicFormTableContainer"></div>
                    {#<div class="col-lg-9">#}
                    {#<h2>Dynamic Form</h2>#}
                    {#<textarea class="linedDynamicArea" rows="27" cols="90" id="linedDynamicAreaId"></textarea>#}
                    {#</div>#}
                    {#<div class="col-lg-3">#}
                    {#<h2>Reference Fields</h2>#}

                    {#<div class="dyanmic_form_fields">#}
                    {#{% for column in dataColumns %}#}
                    {#<div>{{ column.getName() }}</div>#}
                    {#{% endfor %}#}
                    {#</div>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </div>


    <div id="referenceInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Reference</h4>
                </div>
                <div class="modal-body">
                        <pre class="programlisting">
    {
         firstName:<span class="hl-string" style="color:blue">'Lars'</span>,
         lastName:<span class="hl-string" style="color:blue">'Vogel'</span>,
         address: {
           street:<span class="hl-string" style="color:blue">'Examplestr.'</span>,
           number: <span class="hl-string" style="color:blue">'31'</span>
         }
    }
                        </pre>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div id="publishDyanmicFormModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Publish Form</h4>
                </div>
                <div class="modal-body">
                    <form id="publishDyanmicFormModalForm">
                        <div class="form-group">
                            <label for="form-topic" class="control-label">Topic:</label>
                            <input type="text" class="form-control" id="form-msisdn" name="form-msisdn">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            onclick="publishDynamicForm(event);">Publish
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div id="publishMessageFormModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Publish Message</h4>
                </div>
                <div class="modal-body">
                    <form id="publishMessageFormModalForm">
                        <div class="form-group">
                            <label for="form-topic" class="control-label">Topic:</label>
                            <select class="form-control" id="form-topic" name="form-topic">
                                <option>CLICK TO SELECT</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="form-message" class="control-label">Message:</label>
                            <textarea class="form-control" style="height:150px;" placeholder="Enter message to be sent"
                                      name="form-message" id="form-message"></textarea>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            onclick="publishMessage(event);">Publish
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('assets/js/core/form_configuration.js') }}"></script>
    <script type="text/javascript">
        window.onload = function () {
            loadCreatedDynamicForms();
        }
    </script>
{% endblock %}