{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>
        <div class="col-lg-8 pull-right">
            
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row dynamic_form_container">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="col-lg-8">
                            
                            <div class="message"></div>
                            <p>Choose ID types to verify.</p>
                            <form role="form" lpformnum="1" _lpchecked="1" id="idVerificationform" style="margin-bottom: 100px;">
                                <div class="form-group">
                                    <label class="col-md-3">Choose Id Type</label>

                                    <select data-placeholder="Select ID Types..." name="idtype" id="idtype" style="width:350px;" multiple class="chosen-select">

                                    </select>
                                    
                                    <br />

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" onclick="addIdConfig()">
                                        Add Config
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!-- Chosen -->
        <link rel="stylesheet" href="{{ asset('assets/chosen/chosen.css') }}">
        <script src="{{ asset('assets/chosen/chosen.jquery.js') }}"></script>
        <script src="{{ asset('assets/chosen/docsupport/prism.js') }}"></script>
        <script src="{{ asset('assets/js/core/agents.js') }}"></script>
        <script type="text/javascript">

                            $(document).ready(function () {
                                getIdType();
                            });
        </script>

    {% endblock %}