{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-lg-8 pull-right">
            <div class="pull-right action_btns_vertical_center">
                <a data-toggle="modal" data-target="#editFormModal" href="#" class="btn btn-primary btn-ms add-service">Add Service</a>
                <a data-toggle="modal" href="#newArtist" class="btn btn-primary btn-ms hide" data-target="#referenceInfo">Reference
                    Information</a>
                <a href="#" class="btn btn-primary btn-ms hide" onclick="saveDynamicForm(event);" id="btn-save-changes">Save
                    Changes</a>
                <a href="#publish" class="btn btn-primary btn-ms" onclick="loadTopicSelector('{{ operator }}')" id="btn-topic-select">Publish Form</a>
                <!--<a href="#publish" class="btn btn-primary btn-ms" onclick="loadTopicSelectorMessage(event)"
                   id="btn-topic-select">Publish Message</a> -->
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content">
    <div class="row dynamic_form_container">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% set i = 1 %}
                        {% for item in services %}
                            {% set page = {
                                id: item.id,
                                name: item.name,
                                name_alt: item.nameAlt,
                                service_code: item.serviceCode,
                                ordering: item.ordering,
                                status: item.status,
                                description: item.description}
                            %}
                            <tr>
                                <td>{{ i }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.status }}</td>
                                <td>{{ item.createdDate|date('Y-m-d') }}</td>
                                <td>
                                    <a data-toggle="modal" data-target="#editFormModal" data-json="{{ page|json_encode() }}" href="#" class="btn btn-info btn-sm edit-service"><b>EDIT</b></a>
                                    <a href="{{ hostname }}/admin/forms/load_service_form/{{ item.id }}" class="btn btn-primary btn-sm"><b>VIEW FORM</b></a>
                                    <a href="#publish" data-formid="{{ item.id }}" class="btn btn-primary btn-sm pubForm" onclick="loadTopicSelector('vodacom')" id="btn--topic--select"><b>PUBLISH FORM</b></a>
                                </td>
                            </tr>
                            {% set i = i + 1 %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



















    <div id="publishDyanmicFormModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Publish Form</h4>
                </div>
                <div class="modal-body">
                    <form id="publishDyanmicFormModalForm">
                        <div class="form-group">
                            <label for="form-topic" class="control-label">Topic:</label>
                            <input type="text" class="form-control" id="form-msisdn" name="form-msisdn">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            onclick="publishDynamicForm(event);">Publish
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div id="editFormModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-xs-12">
                        <h2 class="modal-title">Edit Service Details</h2>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-body">
                    <form class="row" action="{{ hostname }}/admin/forms/add_update_services">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="form-topic" class="control-label">Name En:</label>
                                        <input type="text" class="form-control" id="s-name-en" name="name">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="form-topic" class="control-label">Name Sw:</label>
                                        <input type="text" class="form-control" id="s-name-sw" name="name_alt">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="form-topic" class="control-label">Service Code:</label>
                                        <!-- <input type="text" class="form-control" id="s-service-code" name="service_code"> -->
                                        <select class="form-control" id="s-service-code" name="service_code">
                                            <option value="">Select Service Type</option>
                                            {% for type in service_types %}
                                            <option value="{{ type.code }}">{{ type.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label for="form-topic" class="control-label">Ordering:</label>
                                        <input type="number" class="form-control" id="s-ordering" name="ordering">
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label for="form-topic" class="control-label">Active:</label>
                                        <div class="clearfix"></div>
                                        <label class="radio-inline" for="s-status-active">   <input name="status" type="radio" value="1" id="s-status-active" /> Yes</label>&nbsp;&nbsp;
                                        <label class="radio-inline" for="s-status-inactive"> <input name="status" type="radio" value="0" id="s-status-inactive" /> No</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="form-topic" class="control-label">Description:</label>
                                <textarea class="form-control" id="s-description" name="description"></textarea>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </form>
                <div class="modal-footer">
                    <div class="row">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default service-submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


	<script src="{{ asset('assets/js/core/form_configuration.js') }}"></script>
	
    <script>

        jQuery.fn.serializeObject = function() {
            var o = {};
            var a = this.serializeArray();
            jQuery.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };


        (function() {

            var ekycServices = {

                init: function() {
                    'use strict';

                    var _this   = this,
                        itemId  = 0;

                    $(document).on("click", ".edit-service", function(evt){
                        evt.preventDefault();

                        itemId = $(this).data("json").id;

                        $("#editFormModal .modal-title").html("Edit Service Details");

                        _this.populateForm($(this));
                    });

                    $(document).on("click", ".add-service", function(evt){
                        evt.preventDefault();

                        $("#editFormModal .modal-title").html("Add Service Details");
                        setTimeout(function(){
                            $("#editFormModal form")[0].reset();
                        }, 1000);
                    });

                    $(document).on("click", ".service-submit", function(evt) {
                        evt.preventDefault();
                        $("#editFormModal form").submit();
                    });

                    $("#editFormModal form").submit(function(evt) {
                        evt.preventDefault();

                        var data = $(this).serializeObject(),
                            url = $(this).attr("action");

                        if(itemId > 0) {
                            data.id = itemId;
                        }

                        $.post(url, data, function(data) {
                            location.reload();
                        });
                    });

                    $(".pubForm").click(function () {
                        $("#publishDyanmicFormModalForm").data("formid", $(this).data('formid'));
                    });

                    /***** Reset Data *****/
                    $('#editFormModal').on('hide.bs.modal', function (e) {
                        $("#editFormModal form")[0].reset();
                        itemId = 0;
                    }).on('hidden.bs.modal', function (e) {
                        $("#editFormModal form")[0].reset();
                        itemId = 0;
                    });
                },

                populateForm: function(el){
                    var data = $(el).data("json"),

                        name_en = data.name,
                        name_sw = data.name_alt,
                        service_code = data.service_code,
                        description = data.description,
                        status = data.status,
                        ordering = data.ordering;

                    $('#editFormModal').on('shown.bs.modal', function (e) {
                        $("#s-name-en").val(name_en);
                        $("#s-name-sw").val(name_sw);
                        $("#s-service-code").val(service_code).change();
                        $("#s-description").val(description);
                        if(status){
                            $("#s-status-active").prop('checked', true);
                        } else {
                            $("#s-status-inactive").prop('checked', true);
                        }
                        $("#s-ordering").val(ordering);
                    });
                }
            }

            ekycServices.init();

        })();
    </script>

{% endblock %}