{% extends '::simreg_actions.html.twig' %}

{% block body -%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js"></script>

    <style>
        .step {
            margin-bottom: 15px;
            border-bottom: 0px solid lightgray;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .field {
            border-left: 1px solid #c2c2c2;
            display: block;
            padding-left: 20px;
            margin-bottom: 35px;
            position: relative;
        }

        .field .btns {
            margin-bottom: 15px;
            padding-top: 5px;
        }






        /*********************Dragula CSS***********************/
        .gu-mirror {
            position: fixed !important;
            margin: 0 !important;
            z-index: 9999 !important;
            opacity: 0.8;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
            filter: alpha(opacity=80);
        }
        .gu-hide {
            display: none !important;
        }
        .gu-unselectable {
            -webkit-user-select: none !important;
            -moz-user-select: none !important;
            -ms-user-select: none !important;
            user-select: none !important;
        }
        .gu-transit {
            opacity: 0.2;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
            filter: alpha(opacity=20);
        }

        #ekyc-form > div {
            cursor: initial;
        }
        .handle, .field-ordering {
            padding: 0;
            margin-right: 10px;
            cursor: move;
            top: 0;
            font-size: 15px;
            color: #000;
        }
        .field .delete-field {
            margin-right: 10px;
        }
        .field .counter {
            background: #000;
        }

    </style>



    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-lg-8 pull-right">
            <div class="pull-right action_btns_vertical_center">
                <a href="#" class="btn btn-primary btn-ms add-service" onclick="window.history.back()">< Back</a>
                <a data-toggle="modal" href="#newArtist" class="btn btn-primary btn-ms hide" data-target="#referenceInfo">Reference
                    Information</a>
                <a href="#" class="btn btn-primary btn-ms hide" onclick="saveDynamicForm(event);" id="btn-save-changes">Save
                    Changes</a>
                <a href="#publish" class="btn btn-primary btn-ms hide" onclick="loadTopicSelector('{{ operator }}')" id="btn-topic-select">Publish Form</a>
                <!--<a href="#publish" class="btn btn-primary btn-ms" onclick="loadTopicSelectorMessage(event)"
                   id="btn-topic-select">Publish Message</a>-->
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content">
    <div class="row dynamic_form_container">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

				

                    <form class="form-horizontal ekyc-form" method="post" action="{{ hostname }}/admin/forms/update_json_form">
                        <input type="hidden" name="itemId" value="{{ id }}" />
                        <div id="ekyc-form" class="col-xs-12">

                        {% if formJson is defined and formJson is not empty and formJson|length > 0 %}
                        {% for key, item in formJson %}

                            <div class="panel panel-default nested">
                                <div class="panel-heading">
                                    <span class="step-ordering handle pull-left glyphicon glyphicon-move"></span>
                                    <span class="step-title"><span class="st-head"></span>&nbsp;&nbsp;<span class="st-desc"></span></span>
                                    <span class="step-toggle pull-right btn btn-xs btn-info">&minus;</span>
                                    <span class="step-delete pull-right btn btn-xs btn-danger" style="margin-right: 10px;">&times;</span>
                                </div>
                                <div class="panel-body" style="display: none;">
                                    <div class="col-xs-12 step">
                                        <div class="form-group">
                                            <label class="col-xs-4 control-label text-right">Next Step:</label>
                                            <div class="col-xs-8">
                                                <input class="form-control next-step" name="stepIndex[next]" placeholder="Enter next step" readonly />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-xs-4 control-label text-right">Title:</label>
                                            <div class="col-xs-8">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <input class="section-title form-control" name="stepIndex[title][en]" placeholder="Enter title in English" value="{{ item.title.en }}" />
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <input class="form-control" name="stepIndex[title][sw]" placeholder="Enter title in Swahili" value="{{ item.title.sw }}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>





                                        <div class="row">
                                            <label class="col-xs-4 text-right">Fields:</label>
                                            <div class="col-xs-8">

                                                <div class="fields">
                                                    {% if item.fields is defined and item.fields is not empty and item.fields|length > 0 %}
                                                    {% for field in item.fields %}
                                                    <div class="field">
                                                        <div class="btns col-xs-12 label-primary">
                                                            <span class="counter btn btn-xs btn-default"></span> Field
                                                            <span class="field-toggle pull-right glyphicon glyphicon-align-justify btn btn-xs"></span>
                                                            <a href="#" class="delete-field pull-right btn btn-xs btn-danger">&times;</a>
                                                            <span class="field-ordering pull-right glyphicon glyphicon-move btn btn-xs"></span>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="col-xs-12 field-toggling" style="display: none;">
                                                            <div class="form-group">
                                                                <label>Field Name</label>
                                                                <select class="form-control field-key-type" name="stepIndex[fields][field_index][key]">
                                                                    <option value="">Select Field Name</option>
                                                                    {% for itmF in fieldNames %}
                                                                        <option {% if field.key == itmF.name %} selected {% endif %} value="{{ itmF.name }}">{{ itmF.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>

                                                            <div class="form-group">
                                                                <label>Hints</label>
                                                                <div class="row">
                                                                    <div class="col-xs-6">
                                                                        <input class="form-control" name="stepIndex[fields][field_index][hint][en]" placeholder="Enter Hint in English" value="{{ field.hint.en }}" />
                                                                    </div>
                                                                    <div class="col-xs-6">
                                                                        <input class="form-control" name="stepIndex[fields][field_index][hint][sw]" placeholder="Enter Hint in Swahili" value="{{ field.hint.sw }}" />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label>Field Type</label>
                                                                <select class="form-control" name="stepIndex[fields][field_index][type]">
                                                                    <option value="">Select Type</option>
                                                                    {% for itm in fieldTypes %}
                                                                        <option {% if field.type == itm.name %} selected {% endif %} value="{{ itm.name }}">{{ itm.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>

                                                            <div class="form-group">
                                                                <label>Required</label>&nbsp;&nbsp;&nbsp;<br/>
                                                                <label class="radio-inline"><input name="stepIndex[fields][field_index][required]" type="radio" value="true" class="{% if field.required == 'true' %} checkedThis {% endif %}"  /> Yes</label>&nbsp;&nbsp;
                                                                <label class="radio-inline"><input name="stepIndex[fields][field_index][required]" type="radio" value="false" class="{% if field.required == 'false' %} checkedThis {% endif %}"  /> No</label>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <label>Regex Value</label>
                                                                        <input class="form-control" name="stepIndex[fields][field_index][regex][value]" type="text" placeholder="Regex Value" value="{{ field.regex.value }}" />
                                                                        <br/>
                                                                        <br/>
                                                                    </div>
                                                                    <div class="col-xs-6">
                                                                        <label>Regex Error En</label>
                                                                        <input class="form-control" name="stepIndex[fields][field_index][regex][err][en]" type="text" placeholder="Regex Error English" value="{{ field.regex.err.en }}" />
                                                                    </div>
                                                                    <div class="col-xs-6">
                                                                        <label>Regex Error Sw</label>
                                                                        <input class="form-control" name="stepIndex[fields][field_index][regex][err][sw]" type="text" placeholder="Regex Error Swahili" value="{{ field.regex.err.sw }}" />
                                                                    </div>
                                                                    <div class="field-options">
                                                                        {% if field.options is defined and field.options is not empty and field.options|length > 0 %}
                                                                            <input type="hidden" name="stepIndex[fields][field_index][options]" value='{{ field.options|json_encode()|replace({'\\':"", '"[':"[", ']"':"]"}) }}'>
                                                                        {% endif %}
                                                                        {% if field.v_options is defined and field.v_options is not empty and field.v_options|length > 0 %}
                                                                            <input type="hidden" name="stepIndex[fields][field_index][v_options]" value='{{ field.v_options|json_encode()|replace({'\\':"", '"[':"[", ']"':"]"}) }}'>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    {% endfor %}
                                                    {% endif %}


                                                </div>
                                                <a href="#" class="add-field btn btn-sm btn-primary">Add Field</a>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                        {% endif %}








                        </div>
                        <div class="col-xs-12">
                            <a href="#" class="add-step btn btn-sm btn-primary">Create New Step</a>
                        </div>

                        <div class="col-xs-12 text-right">
                            <button class="btn btn-info" type="submit">Save</button>
                        </div>

                    </form>




                </div>
            </div>
        </div>
    </div>


















        <script>
            jQuery.fn.serializeObject = function() {
                var o = {};
                var a = this.serializeArray();
                jQuery.each(a, function() {
                    if (o[this.name] !== undefined) {
                        if (!o[this.name].push) {
                            o[this.name] = [o[this.name]];
                        }
                        o[this.name].push(this.value || '');
                    } else {
                        o[this.name] = this.value || '';
                    }
                });
                return o;
            };

            (function() {

                var DynamicFormGenerator = {

                    init: function() {

                        'use strict';

                        var _this = this;

                        this.arrangeSteps();

                        dragula([document.querySelector('#ekyc-form')], {
                            moves: function (el, container, handle) {
                                return handle.classList.contains('handle');
                            }
                        }).on('drop', function (el) {
                            setTimeout(function(){
                                _this.arrangeSteps();
                            }, 1500);
                        });

                        dragula([].slice.apply(document.querySelectorAll('.fields'))).on('drop', function (el) {
                            setTimeout(function(){
                                _this.arrangeSteps();
                            }, 1500);
                        });

                        $("form.ekyc-form").submit(function(evt){

                            var data = $(this).serializeObject(),
                                url = $(this).attr("action");

                            $.post(url, data, function(dataz){
								alert("Form saved");
                                console.log(dataz);
                            });
                            console.log(data);

                            evt.preventDefault();
                        });





                        /*** Delete Field***/
                        $(document).on("click", ".delete-field", function(evt){
                            evt.preventDefault();
                            $(this).parent().parent().remove();
                            _this.arrangeSteps();
                        });

                        /*** Add Field***/
                        $(document).on("click", ".add-field", function(evt){
                            evt.preventDefault();
                            var template = $("#template-field").html();

                            $(this).parent().find(".fields").append(template);

                            _this.arrangeSteps();
                        });

                        /*** Add Step ***/
                        $(document).on("click", ".add-step", function(evt){
                            evt.preventDefault();
                            var template = $("#template-step").html();

                            $("#ekyc-form").append(template);

                            _this.arrangeSteps();
                        });

                        $(document).on("click", ".step-toggle", function(){
                            $(this).parent().parent().find(".panel-body").slideToggle("slow", "linear");
                        });

                        $(document).on("click", ".field-toggle", function(){
                            $(this).parent().parent().find(".field-toggling").slideToggle("slow", "linear");
                        });

                        $(document).on("click", ".step-delete", function(){
                            $(this).parent().parent().remove();
                            _this.arrangeSteps();
                        });

                        $(document).on("keyup", ".section-title", function(){
                            _this.sectionDescroption($(this));
                        });

                        $(".section-title").each(function(){
                            $(this).keyup();
                        });

                        $(document).on("change", ".field-key-type", function () {

                            var selected_type = $(this).val(),
                                step = $(this).data("step"),
                                fieldindex = $(this).data("fieldindex");
                                fieldindex = fieldindex + 1;
                            
                            var template = $("#template-"+selected_type).html();
                            
							$("#ekyc-form .panel:nth-child("+step+") .field:nth-child("+fieldindex+")").find(".field-options").html("").html(template);
							
                            _this.arrangeSteps();
                        });

                    },

                    sectionDescroption: function(el){
                        var title = $(el).val();
                        var step = $(el).data("step");
                        $("#ekyc-form .panel").eq(step-1).find(".st-desc").html(title);
                    },

                    arrangeSteps: function() {
                        var i = 1;
                        var stepsCount = $("#ekyc-form .panel").length;

                        $("#ekyc-form .panel").each(function(){

                            $(this).find(".step-title .st-head").html("Step "+i);

                            var stepString = "step"+i;

                            var nextStep = "";

                            var t = i;
                            if(i < stepsCount){
                                nextStep = "step"+(t+1);
                            }
                            $(this).find(".next-step").val(nextStep);

                            $(this).find("input, select").each(function(){
                                var name = $(this).attr("name");
                                var pos = name.indexOf("[");
                                name = name.replace(name.substring(0, pos), stepString);
                                $(this).attr("name", name);

                                $(this).data("step",i);
                            });

                            var fieldIndex = 0;
                            $(this).find(".field").each(function(){
                                $(this).find("input, select").each(function(){
                                    var name = $(this).attr("name");
                                    name = name.split("][");
                                    name[1] = fieldIndex;
                                    name = name.join("][");
                                    //name = name.replace("field_index", fieldIndex);
                                    $(this).attr("name", name);
                                    $(this).data("fieldindex", fieldIndex);
                                });
                                $(this).find(".counter").html(fieldIndex+1);

                                $(this).data("fieldindex", fieldIndex);

                                fieldIndex++;
                            });


                            $('.checkedThis').each(function(){
                                $(this).prop('checked', true);
                            });


                            i++;
                        });
                    }
                }

                DynamicFormGenerator.init();

            })();
        </script>




        <div id="template-step" class="hide">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="step-ordering handle pull-left glyphicon glyphicon-move"></span>
                    <span class="step-title"><span class="st-head"></span>&nbsp;&nbsp;<span class="st-desc"></span></span>
                    <span class="step-toggle pull-right btn btn-xs btn-info">&minus;</span>
                    <span class="step-delete pull-right btn btn-xs btn-danger" style="margin-right: 10px;">&times;</span>
                </div>
                <div class="panel-body" style="display: none;">
                    <div class="col-xs-12 step">
                        <div class="form-group">
                            <label class="col-xs-4 control-label text-right">Next Step:</label>
                            <div class="col-xs-8">
                                <input class="form-control next-step" name="stepIndex[next]" placeholder="Enter next step" readonly />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-4 control-label text-right">Title:</label>
                            <div class="col-xs-8">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input class="section-title form-control" name="stepIndex[title][en]" placeholder="Enter title in English" value="" />
                                    </div>
                                    <div class="col-xs-6">
                                        <input class="form-control" name="stepIndex[title][sw]" placeholder="Enter title in Swahili" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-xs-4 text-right">Fields:</label>
                            <div class="col-xs-8">
                                <div class="fields">

                                </div>
                                <a href="#" class="add-field btn btn-sm btn-primary">Add Field</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div id="template-field" class="hide">
            <div class="field">
                <div class="btns col-xs-12 label-primary">
                    <span class="counter btn btn-xs btn-default"></span> Field
                    <span class="field-toggle pull-right glyphicon glyphicon-align-justify btn btn-xs"></span>
                    <a href="#" class="delete-field pull-right btn btn-xs btn-danger">&times;</a>
                    <span class="field-ordering pull-right glyphicon glyphicon-move btn btn-xs"></span>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 field-toggling">
                    <div class="form-group">
                        <label>Field Name</label>
                        <select class="form-control field-key-type" name="stepIndex[fields][field_index][key]">
                            <option value="">Select Field Name</option>
                            {% for itmF in fieldNames %}
                                <option value="{{ itmF.name }}">{{ itmF.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Hints</label>
                        <div class="row">
                            <div class="col-xs-6">
                                <input class="form-control" name="stepIndex[fields][field_index][hint][en]" placeholder="Enter Hint in English" />
                            </div>
                            <div class="col-xs-6">
                                <input class="form-control" name="stepIndex[fields][field_index][hint][sw]" placeholder="Enter Hint in Swahili" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Field Type</label>
                        <select class="form-control" name="stepIndex[fields][field_index][type]">
                            <option value="">Select Type</option>
                            {% for itm in fieldTypes %}
                            <option value="{{ itm.name }}">{{ itm.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Required</label>&nbsp;&nbsp;&nbsp;<br/>
                        <label class="radio-inline"><input name="stepIndex[fields][field_index][required]" type="radio" value="true" /> Yes</label>&nbsp;&nbsp;
                        <label class="radio-inline"><input name="stepIndex[fields][field_index][required]" type="radio" value="false" checked /> No</label>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Regex Value</label>
                                <input class="form-control" name="stepIndex[fields][field_index][regex][value]" type="text" placeholder="Regex Value" />
                                <br/>
                                <br/>
                            </div>
                            <div class="col-xs-6">
                                <label>Regex Error En</label>
                                <input class="form-control" name="stepIndex[fields][field_index][regex][err][en]" type="text" placeholder="Regex Error English" />
                            </div>
                            <div class="col-xs-6">
                                <label>Regex Error Sw</label>
                                <input class="form-control" name="stepIndex[fields][field_index][regex][err][sw]" type="text" placeholder="Regex Error Swahili" />
                            </div>
                            </div>
                            <div class="field-options"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


        <div id="template-territory" class="hide">
            <input type="hidden" name="stepIndex[fields][field_index][v_options]" value="{{ territory }}">
        </div>		

        <div id="template-region" class="hide">
            <input type="hidden" name="stepIndex[fields][field_index][options]" value="{{ regions }}">
        </div>

        <div id="template-id-type" class="hide">
            <input type="hidden" name="stepIndex[fields][field_index][options]" value="{{ idTypes }}">
        </div>

        <div id="template-foreign-operator" class="hide">
            <input type="hidden" name="stepIndex[fields][field_index][options]" value="[{"value":"0","key":{"en":"Select Original operator","sw":"Chagua Mtandao Unaotoka"}},{"value":"tigo","key":{"en":"Tigo","sw":"Tigo"}},{"value":"airtel","key":{"en":"Airtel","sw":"Airtel"}},{"value":"zantel","key":{"en":"Zantel","sw":"Zantel"}},{"value":"halotel","key":{"en":"Halotel","sw":"Halotel"}},{"value":"smile","key":{"en":"Smile","sw":"Smile"}},{"value":"Smart","key":{"en":"Smart","sw":"Smart"}}]">
        </div>

        <div id="template-fingercode" class="hide">
            <input type="hidden" name="stepIndex[fields][field_index][options]" value="[{"value":"R0","key":{"en":"Choose Finger","sw":"Chagua Kidole"}},{"value":"R1","key":{"en":"Right Thumb","sw":"Gumba Kulia"}},{"value":"L1","key":{"en":"Left Thumb","sw":"Gumba Kushoto"}},{"value":"R2","key":{"en":"Right Index","sw":"Cha kwanza Kulia"}},{"value":"L2","key":{"en":"Left Index","sw":"Cha kwanza Kushoto"}}]">
        </div>

{% endblock %}