{% extends '::simreg_actions.html.twig' %}

{% block body -%}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>{{title}}</h2>
        </div>
        <div class="col-lg-8 pull-right">

        </div>
    </div>

    <style>
        .form-group.two{
            padding: 10px;
            clear: both;
            margin-top: 10px;
            border-top: 1px solid #e5e5e5;
            padding-top: 15px;
            width: 100% !important;
            display: inline-table;
        }

        .validationSection .form-group {
            border-width: 0 !important;
        }
        .validationSection .form-control{
            margin-bottom: 8px;
            padding-left: 10px;
            height: 22px;
        }
        .deleteRow {
            position: relative;
            right: -56px;
            margin-top: -30px;
            float: right;
            display: none;
            font-size: 14px;
            color: #676a6c;
        }
        .deleteRow.minus{
            right: -35px;
            margin-top: -30px;
        }
        .deleteRow i {
            margin: 0 2px;
            float: left;
            cursor: pointer;
            padding: 3px 3px 1px;
        }
        .deleteRow i:hover{
            background: #f3f3f4;
        }
        .validationSection:hover .deleteRow{
            display: block !important;
        }

        .form-group .newRow {
            border: 2px dashed #ddd;
            border-radius: 4px;
            text-align: center;
            font-size: 17px;
            color: #ddd !important;
            width: 100%;
            padding: 9px 0;
            display: none;
        }

        .form-group .newRow span {
            color: #787878;
        }

        .form-group .newRow:hover {
            background: rgb(237, 244, 250);
        }

        .formdiv:hover .form-group .newRow {
            display: block;
            cursor: pointer;
        }

        .validationValue  input{
            width: 90% !important;
            float: left;
            text-align: right;
            line-height: 25px;
        }
        .percentage{
            float: right;
            width: 10%;
            text-align: left;
        }


        .validationSection input,
        .validationSection textarea,
        .validationSection select{
            box-shadow: none;
            display: block;
            width: 100%;
            outline: none;
            height: 20px;
            padding: 0px 3px;
            font-size: 12px;
            line-height: 1.42857143;
            background-color: #fff;
            background-image: none;
            border: 1px solid transparent;
            margin-bottom: 4px;
        }

        .validationSection textarea.descr {
            font-size: 85%;
            height: 20px;
            line-height: 18px;
        }

        .validationSection input:focus,
        .validationSection textarea:focus,
        .validationSection select:focus {
            background-color: #edf4fa;
            border-radius: 1px;
            box-shadow: 0 0 0 2px #edf4fa, 0 0 0 4px #dddddd;
        }
        .deleteRow{display: none;}
        .invoice:hover .deleteRow{
            display: block !important;
        }

        .validationSection input::-webkit-input-placeholder,
        .validationSection textarea::-webkit-input-placeholder,
        .validationSection select::-webkit-input-placeholder {
            color: transparent !important;
        }

        .validationSection:hover input::-webkit-input-placeholder,
        .validationSection:hover textarea::-webkit-input-placeholder,
        .validationSection:hover select::-webkit-input-placeholder,
        .validationSection.focus input::-webkit-input-placeholder,
        .validationSection.focus textarea::-webkit-input-placeholder ,
        .validationSection.focus select::-webkit-input-placeholder {
            color: #a1a1a1 !important;
        }

    </style>
    <div class="wrapper wrapper-content">
        <div class="row dynamic_form_container">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="col-lg-12 formdiv">

                            <div class="message" style="border:0;"></div>
                            <p>Choose fields that will appear on the verifier dashboard.</p>
                            <form action="/admin/validationPost" role="form" method="post" id="xxidVerifyerFieldform" style="margin-bottom: 10px;">

                                <div class="form-group" style="padding: 10px;">
                                    <label class="col-sm-3 control-label">Number of rows
                                        <br/><small class="text-navy">Number of Rows per verifier view</small>
                                    </label>
                                    <div class="col-sm-9">
                                        <input class="form-control" style="width:200px;" name="numRow" id="numRow" value="{{ numRows }}" placeholder="Enter Number of Devices" />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group two" style="padding: 10px 10px 0; margin-bottom: 0px;">
                                    <label class="col-sm-3 control-label">Number of Seconds Per Page
                                        <br/><small class="text-navy">Time in seconds verifyer gets to verify registrations loaded</small>
                                    </label>
                                    <div class="col-sm-9">
                                        <input class="form-control" style="width:200px;" name="secsCount" id="secsCount" value="{{ secsCount }}" placeholder="Time in Seconds" />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group two" style="padding: 10px 10px 0; margin-bottom: 0px;">
                                    <label class="col-sm-3 control-label">Score Rating
                                        <br/><small class="text-navy">Enter rating score.. from 0 - bad, bad - fair, fair - good. Should < 100</small>
                                    </label>
                                    <div class="col-sm-3">
                                        <label class="col-sm-3 control-label" style="padding:0;">Bad</label>
                                        <input class="form-control" style="width:200px;" name="ratingScrorebad" value="{{ bad }}" placeholder="Bad" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col-sm-3 control-label" style="padding:0;">Fair</label>
                                        <input class="form-control" style="width:200px;" name="ratingScrorefair" value="{{ fair }}" placeholder="Fair" />
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group two">
                                    <label class="col-sm-3 control-label">Fields To View
                                        <br/><small class="text-navy">Fields will appear on Verify Agents table first column</small>
                                    </label>
                                    <div class="col-sm-4">

                                        <div class=""><label> <input type="checkbox" name="verifierFields[]" class="verifierFields icheck" value="u.id"> <i></i>  ID</label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields[]" class="verifierFields icheck" value="u.msisdn as MSISDN" checked=""> <i></i> MSISDN </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields[]" class="verifierFields icheck" value="u.registrationid"> <i></i> Registration ID </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields[]" class="verifierFields icheck" value="u.firstName as FirstName"> <i></i> First Name </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields[]" class="verifierFields icheck" value="u.middleName as MiddleName"> <i></i> LastName </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields[]" class="verifierFields icheck" value="u.lastName as LastName"> <i></i> Middle Name </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields[]" class="verifierFields icheck" value="u.createdDate as CreatedOn"> <i></i> Created On </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields[]" class="verifierFields icheck" value="u.dob as DoB"> <i></i> Date of Birth </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields[]" class="verifierFields icheck" value="u.gender as Gender"> <i></i> Gender </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields[]" class="verifierFields icheck" value="u.nationality as Nationality"> <i></i> Nationality </label></div>


                                    </div>

                                    <div class="col-sm-5">
                                        <div class=""><label> <input type="checkbox" name="verifierFields[]" class="verifierFields icheck" value="i.name as IDType"> <i></i> ID Type </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields[]" class="verifierFields icheck" value="u.identification as IDNumber"> <i></i> ID Number </label></div>
                                        <!--<div class=""><label> <input type="checkbox" name="verifierFields[]" class="verifierFields icheck" value="a.username as AgentMobile"> <i></i> Agent Mobile </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields[]" class="verifierFields icheck" value="a.lastName as AgentFirstName"> <i></i> Agent First Name </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields[]" class="verifierFields icheck" value="a.firstName as AgentLastName"> <i></i> Agent Last Name </label></div>
                                        --><div class=""><label> <input type="checkbox" name="verifierFields[]" class="verifierFields icheck" value="u.region as Region"> <i></i> Region </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields[]" class="verifierFields icheck" value="u.territory as Territory"> <i></i> Territory </label></div>
                                        <div class=""><label> <input type="checkbox" name="verifierFields[]" class="verifierFields icheck" value="u.deviceModel as DeviceModel"> <i></i> Device Model </label></div>
                                        <!--<div class=""><label> <input type="checkbox" name="verifierFields[]" class="verifierFields icheck" value="u.msisdnOccuranceCount as TimesReReg"> <i></i> Mobile Reg Re-occurence count </label></div>-->
                                    </div>
                                </div>


                                <div class="clearfix"></div>
                                <div class="validationSection">
                                    <label class="col-sm-3 control-label">Validation Checks
                                        <br/><small class="text-navy">Validation checks for data fields</small>
                                    </label>
                                    <div class="col-xs-9">
                                        <div class="valRecords">

                                        </div>


                                        <div class="form-group two" style="padding: 10px 10px 0; margin-bottom: 0px; height: 60px; display: block">
                                            <div class="newRow">
                                                <span class="text-center">Add New Validation Check</span>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div class="modal-footer" style="border:0;">
                                    <div class="col-sm-4">
                                        <button type="submit" class="pull-left btn btn-primary" Tonclick="addVerifierFieldsConfig()">
                                            Add Config
                                        </button>
                                    </div>
                                    <div class="col-sm-4"></div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Chosen -->
        <link rel="stylesheet" href="{{ asset('assets/chosen/chosen.css') }}">
        <script src="{{ asset('assets/chosen/chosen.jquery.js') }}"></script>
        <script src="{{ asset('assets/chosen/docsupport/prism.js') }}"></script>
        <script src="{{ asset('assets/js/core/agents.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                var fieldString = "{{ configArray }}";
                fieldString = JSON.parse(fieldString.replace(/&quot;/g, '"'));
                $.each(fieldString, function (index, val) {
                    //console.log(val.replace(/&#039;/g, "'"));
                    $('input:checkbox[value="' + val.replace(/&#039;/g, "'") + '"]').iCheck('check');
                });
            });


        </script>


        <script>
            $(document).ready(function () {
                setButtonLister(1);
            });
            var nnum = 1;
            var nnum2 = 2;
            $('.newRow').click(function () {
                nnum = nnum + 1;
                $('.validationSection .valRecords').append(getRowTemplate(nnum));
                setButtonLister(nnum);
                setRemoveLister(nnum);
                setFieldSelectListener();

            });

            $(document).ready(function () {
                console.log();
                var valString = $.parseJSON('{{ verifyArray }}'.replace(/&quot;/g, '"'));

                $.each(valString, function (ikey, ival) {
                    $.each(ival, function (iikey, iival) {
                        console.log(ikey + ' : ' + ival);
                        drawPage(ikey, iikey, iival);
                    });
                });

                $.each(valString, function (ikey, ival) {
                    $.each(ival, function (iikey, iival) {
                        $(".fieldnameSelect option[value*='" + ikey + "']").prop('disabled', true);//fieldnameSelect
                    });
                });
            });

            function drawPage(ikey, iikey, ival) {
                console.log('DRAWPAGE::   ikey--->' + ikey + ' :ival---> ' + ival);
                nnum = nnum + 1;
                nnum2 = nnum2 + 1;
                $('.validationSection .valRecords').prepend(getRowTemplate(nnum, nnum2));
                setButtonLister(nnum);
                setRemoveLister(nnum);

                $('.validationSection .valRecords .dataFieldName' + nnum).val(ikey);
                $('.validationSection .valRecords .validationCheckName' + nnum).val(iikey);

                var ccnt = 1;
                $.each(ival, function (pkey, pval) {
                    console.log('  nnum: ' + nnum + '     ikey: ' + ikey + '     iikey: ' + iikey + '      pkey: ' + pkey + '     pval:' + pval);

                    if (ccnt === 1) {
                        $('.validationSection .valRecords .validationOption .row2' + nnum2).val(pkey);
                        $('.validationSection .valRecords .validationValue' + nnum + '.row2' + nnum2).val(parseInt(pval));
                    } else {
                        nnum2 = nnum2 + 1;
                        $('.row' + nnum + ' .validationOption').append("<input type='text' class='form-control row2" + nnum2 + "' name='validationOption" + nnum + "[]' value='" + pkey + "' placeholder='Another Validation Option' />");
                        $('.row' + nnum + ' .validationValue').append("<div class='inp row2" + nnum2 + "'><input type='number' class='form-control' name='validationValue" + nnum + "[]' value='" + pval + "' placeholder='0' /><div class='percentage'> %</div><div class='deleteRow minus'><i class='fa fa-minus-square-o removeValidationRow remove" + nnum2 + "' style='margin-top:2px;'></i></div>");
                        setAdditionalRemoveLister(nnum, nnum2);
                    }
                    ccnt++;
                });

                //$('.' + ddiv + ' .validationOption').append("<input type='text' class='form-control row2" + nnum2 + "' name='validationOption" + nnum + "[]' value='' placeholder='Another Validation Option' />");
                //$('.' + ddiv + ' .validationValue').append("<div class='inp row2" + nnum2 + "'><input type='number' class='form-control' name='validationValue" + nnum + "[]' value='0' placeholder='0' /><div class='deleteRow minus'><i class='fa fa-minus-square-o removeValidationRow remove" + nnum2 + "' style='margin-top:2px;'></i></div>");
            }




            function setButtonLister(nnum) {
                $('.row' + nnum + ' .addValidationVal').click(function () {
                    var ddiv = $(this).parent().parent().parent().parent().attr('class');
                    console.log(ddiv);
                    nnum2 = nnum2 + 1;
                    $('.' + ddiv + ' .validationOption').append("<input type='text' class='form-control row2" + nnum2 + "' name='validationOption" + nnum + "[]' value='' placeholder='Another Validation Option' />");
                    $('.' + ddiv + ' .validationValue').append("<div class='inp row2" + nnum2 + "'><input type='number' class='form-control' name='validationValue" + nnum + "[]' value='0' placeholder='0' /><div class='percentage'> %</div><div class='deleteRow minus'><i class='fa fa-minus-square-o removeValidationRow remove" + nnum2 + "' style='margin-top:2px;'></i></div>");

                    setAdditionalRemoveLister(nnum, nnum2);
                });
            }

            function setRemoveLister(nnum, nnum2) {
                console.log('setRemoveLister:::::::::' + nnum + ' : ' + nnum2);
                $('.row' + nnum + ' .removeValidationRow').click(function () {
                    console.log('setRemoveListener nnum:' + nnum + ' nnum2:' + nnum2 + ' 4: ' + $(this).parent().parent().parent().parent().attr('class'));

                    //var idd = $(this).parent().parent().parent().parent().attr('class').replace('row', '');
                    var ddiv = $(this).parent().parent().parent().parent().attr('class');
                    $('.form-group.' + ddiv).remove();
                    setSelectProps();
                });
            }

            function setAdditionalRemoveLister(nnum, nnum2) {
                console.log(nnum + ' : ' + nnum2);
                $('.removeValidationRow.remove' + nnum2).click(function () {
                    $('.row2' + nnum2).remove();
                });
            }

            function setFieldSelectListener() {
                $('.fieldnameSelect').change(function () {
                    setSelectProps();
                });
            }

            function setSelectProps() {
                $(".fieldnameSelect option").prop('disabled', false);
                $.each($('.fieldnameSelect'), function () {
                    $(".fieldnameSelect option[value*='" + $(this).val() + "']").prop('disabled', true);//fieldnameSelect
                });
            }

            function getRowTemplate(nnum, nnum2) {
                var rowTemplate = "<div class='form-group two row" + nnum + "' style='padding: 0 10px 0; margin: 0px;'>";
                rowTemplate += "<div class='row" + nnum + "'>";
                rowTemplate += "<div class='col-sm-3'>";
                rowTemplate += "<select class='form-control xfieldnameSelect dataFieldName" + nnum + "' name='dataFieldName" + nnum + "'>";
                rowTemplate += "<option value=''>Choose Field</option>";
                rowTemplate += "<option value='MSISDN'>MSISDN</option>";
                rowTemplate += "<option value='FirstName'>Customer NAME</option>";
                rowTemplate += "<option value='DoB'>DOB</option>";
		rowTemplate += "<option value='Gender'>GENDER</option>";
                rowTemplate += "<option value='Nationality'>NATIONALITY</option>";
                rowTemplate += "<option value='IDType'>ID TYPE</option>";
                rowTemplate += "<option value='IDNumber'>ID NUMBER</option>";
                rowTemplate += "<option value='potrait'>PORTRAIT IMAGE</option>";
                rowTemplate += "<option value='front-pic'>FRONT ID IMAGE</option>";
                rowTemplate += "<option value='rear-pic'>BACK ID IMAGE</option>";
                rowTemplate += "<option value='signature'>SIGNATURE IMAGE</option>";
                rowTemplate += "</select>";
                rowTemplate += "</div>";
                rowTemplate += "<div class='col-sm-3'>";
                rowTemplate += "<input type='text' class='form-control validationCheckName" + nnum + "' name='validationCheckName" + nnum + "' value='' placeholder='Enter Validation Check Name' />";
                rowTemplate += "</div>";
                rowTemplate += "<div class='col-sm-4 validationOption'>";
                rowTemplate += "<input type='text' class='form-control row2" + nnum2 + " validationOption" + nnum + "' name='validationOption" + nnum + "[]' value='' placeholder='Enter Validation Option' />";
                rowTemplate += "</div>";
                rowTemplate += "<div class='col-sm-2 validationValue' style='padding-right:0'><div class='inp row2" + nnum2 + "'>";
                rowTemplate += "<input type='number' class='form-control row2" + nnum2 + " validationValue" + nnum + "' name='validationValue" + nnum + "[]' value='0' placeholder='0' /><div class='percentage'> %</div>";
                rowTemplate += "<div class='deleteRow'>";
                rowTemplate += "<i class='fa fa-plus-square-o addValidationVal' style='margin-top:2px;'></i>";
                rowTemplate += "<i class='fa fa-trash-o removeValidationRow'></i>";
                rowTemplate += "</div></div>";
                rowTemplate += "</div>";
                rowTemplate += "</div>";
                rowTemplate += "</div>";

                return rowTemplate;
            }
        </script>


    {% endblock %}
